<a href="#" class="ol-totop"><i class="ol-fa fas fa-arrow-up"></i></a>


<!-- ol-footer -->
<footer class="ol-footer">

	<div class="ol-wrapper ol-wrapper--large">


		<!-- ol-footer-list  -->
		<div class="ol-footer-list add-fix">

			<div class="ol-footer-list__item">
				<h2 class="ol-footer-list__item-logo">
					<img src="images/og-logo.png" alt="Olympic Group" title="Olympic Group">
				</h2>
				<p class="ol-footer-list__item-desc">
					PT. Graha Multi Bintang, adalah sebuah perusahaan bisnis berskala internasional yang bergerak di bidang furniture dengan berbagai bendera mereknya, yaitu : Olympic Furniture, Procella Spring Bed, Procella Sofa, Olymplast Plastic Furniture, Frontline Office Furniture, Bearland, dan Olympic Spring Bed.
				</p>
			</div>

			<div class="ol-footer-list__item">
				<div class="ol-foter-list__item-wrapper">
					<h4>INFORMASI</h4>
					<nav class="ol-footer-list__item-nav">
						<a href="#">Tentang</a>
						<a href="#">Katalog</a>
						<a href="#">Berita</a>
						<a href="#">Kontak</a>
						<a href="#">Omahku</a>
						<a href="#">Karir</a>
						<a href="#">Penghargaan</a>
					</nav>
					<h4>MEDIA SOSIAL</h4>
					<nav class="ol-footer-list__item-sosmed">
						<a href="#"><i class="ol-fa fab fa-instagram"></i></a>
						<a href="#"><i class="ol-fa fab fa-facebook-square"></i></a>
						<a href="#"><i class="ol-fa fab fa-youtube"></i></a>
					</nav>
				</div>
			</div>

			<div class="ol-footer-list__item">
				<div class="ol-foter-list__item-wrapper">
					<h4>LAYANAN PELANGGAN</h4>
					<nav class="ol-footer-list__item-nav">
						<a href="#">Promosi</a>
						<a href="#">FAQ</a>
						<a href="#">Syarat dan Ketentuan</a>
					</nav>
					<h4>LAYANAN MITRA</h4>
					<nav class="ol-footer-list__item-nav">
						<a href="#">Menjadi Mitra</a>
						<a href="#">FAQ</a>
					</nav>
				</div>
			</div>

			<div class="ol-footer-list__item">
				<div class="ol-foter-list__item-wrapper">
					<h4>HUBUNGI KAMI</h4>
					<ul class="ol-footer-list__item-nav">
						<li>
							<strong><i class="ol-fa fab fa-whatsapp"></i> Whatsapp</strong>
							<span>081515436175</span>
						</li>
						<li>
							<strong><i class="ol-fa fas fa-phone"></i> Telepon</strong>
							<span>(031) 7493808</span>
						</li>
						<li>
							<strong><i class="ol-fa far fa-envelope"></i> Email</strong>
							<span>info@olympicfurniture.co.id</span>
						</li>
						<li>
							<strong><i class="ol-fa fas fa-map-marker-alt"></i> Alamat</strong>
							<span>Tambak Langon Indah No 2, Surabaya</span>
						</li>
						<li>
							<strong><i class="ol-fa far fa-clock"></i> Jam Kerja</strong>
							<span>Senin - Jumat / 08.00 - 17.00 WIB</span>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<!-- /ol-footer-list  -->

	</div>

</footer>
<!-- /ol-footer -->


<!-- nav-right -->
<div class="nav-right">
	<div class="nav-right-wrapper">
		<a href="#" class="nav-right-close">
			<i class="ol-fa fas fa-times"></i>
		</a>
	</div>
</div>
<!-- /nav-right -->

<div class="ol-overlay"></div>


<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/slick/slick.min.js"></script>
<script src="js/script.js"></script>


</body>
</html>