a{
    text-decoration:none;
    color:$color-black;
    transition-duration:.3s;
    &:hover{
    	color:$color-ungu;
    }
}

.ol-section-title{
	position:relative;
	margin-bottom:$spacing30;
	h2{
		display:inline-block;
		font-size:$font21;
		position:relative;
		z-index:2;
		background-color:$color-white;
		padding-right:$spacing30;
		text-transform:uppercase;
		font-weight:500;
	}


	&:after{
		position:absolute;
		top:16px;
		left:0;
		width:100%;
		height:1px;
		background-color:$color-black;
		content:"";
		z-index:1;
	}
}

h1,h2,h3,h4,h5,h6{
	color:$color-black;
}