/*alert*/
.ol-alert{
	padding:$spacing15;
	border:1px solid;
	margin-bottom:$spacing30;
}

.ol-alert--danger{
	background-color:#f2dede;
	color:#a94442;
	border-color:#ebccd1;
}

.ol-alert--warning{
	background-color:#fcf8e3;
	color:#8a6d3b;
	border-color:#faebcc;
}

.ol-alert--info{
	background-color:#d9edf7;
	color:#31708f;
	border-color:#bce8f1;
}

.ol-alert--success{
	background-color:#dff0d8;
	color:#3c763d;
	border-color:#d6e9c6;
}