

.ol-input-label{
	font-size:14px;
	margin:0 0 $spacing5 $spacing10;
	display:block;
}

.ol-input{
	padding:$spacing10 $spacing15;
	background-color:$color-grey-bg;
	display:block;
	box-sizing:border-box;
	width:100%;
	border-radius:3px;
	height:46px;
}

.ol-input-box{
	margin-bottom:$spacing15;
	float:left;
	padding:0 $spacing15;
	box-sizing:border-box;

	.ol-product-content__sidebar-item-list-item-link{
		margin-top:$spacing5;
	}
}

.ol-input-box--half{
	width:50%;
}

.ol-input-box--full{
	width:100%;
}


.ol-input-qty{
	background-color:$color-grey-bg;
	display:inline-block;
	border-radius:3px;

	.ol-input{
		width:30px;
		background-color:$color-grey-bg;
		padding:10px 0;
		text-align:center;
		display:inline-block;
	}
}

.ol-input-qty__btn{
	padding:10px;
	display:inline-block;
	cursor:pointer;
}

.ol-select-box{
	display:inline-block;
	padding:0;
	margin:0;
	overflow:hidden;
	box-sizing:border-box;
	position:relative;
	vertical-align:middle;
	width:120px;
	border-bottom:1px solid $color-black;
	&:after{
		position:absolute;
		top:10px;
		right:10px;
		border-style:solid;
		border-width:5px 5px 0;
		border-color:$color-black transparent;
		content:"";
	}
}

.ol-input-select{
	width:100%;
	height:auto;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding:0 $spacing10;
	&:focus{
		outline:none;
	}
}


.ol-input-textarea{
	height:80px;
}


.ol-input-ico{
	position:relative;
	.ol-fa{
		position:absolute;
		right:10px;
		top:10px;
		font-size:24px;
		z-index:1;
	}

	.ol-input{
		position:relative;
		z-index:1;
		padding-right:35px;
	}
}



.ol-input--radio-check{
	position:absolute;
    opacity:0;
    cursor:pointer;
}

.ol-input--radio-checkmark{
	position: absolute;
    top:5px;
    left:0;
    height:15px;
    width:15px;
    box-sizing:border-box;
    transition-duration:0.3s;
    border:1px solid $color-black;
    background-color:$color-white;
    &.ol-input--radio-checkmark--radio{
    	border-radius:3px;
    }
}

/* On mouse-over, add a grey background color */
.ol-input--radio-check:hover ~ .ol-input--radio-checkmark,.ol-input--radio-check:disabled ~ .ol-input--radio-checkmark {
    background-color:$color-black;
}

/* When the radio button is checked, add a blue background */
.ol-input--radio-check:checked ~ .ol-input--radio-checkmark {
    background-color:$color-black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.ol-input--radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.ol-input--radio-check:checked ~ .ol-input--radio-checkmark:after,.ol-input--radio-check:disabled ~ .ol-input--radio-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.ol-input--radio-checkmark:after {
	left:1px;
	right:0;
	margin:0 auto;
	content:"✔";
	color:$color-white;
	font-size:11px;
}

.ol-input--radio-checkmark--radio:after{
	border-radius:100%;
	width:8px;
	height:8px;
	background:$color-black;
	top:6px;
}

.ol-input--radio-checkmark-check:after{
	width:5px;
    height:10px;
    border:solid $color-black;
    border-width:0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top:2px;
}










.select2-container--default .select2-selection--single{
	@extend .ol-input;
	padding-right:35px;
	border:0;
}



.select2-selection__arrow{
	top:10px !important;
}


.ol-input-ico .select2-selection__arrow{
	display:none;
}