.ol-branch-map{
	margin-top:127px;
}


.ol-branch-map__frame{
	width:100%;
	height:500px;
}


.ol-branch__search{
	margin-bottom:$spacing60;
	.ol-hero-page--inspiration-searchbar__form-input{
		width:90%;
		border:1px solid $color-ungu;
		border-right:0;
	}

	.ol-hero-page--inspiration-searchbar__form-btn{
		border:1px solid $color-ungu;
	}
}


.ol-branch__search-label{
	text-align:center;
	margin-bottom:$spacing15;
}




.ol-branch__list{
	@extend .add-fix;
}

.ol-branch__list-item{
	float:left;
	width:33.3333%;
	box-sizing:border-box;
	margin-bottom:$spacing30;
}

.ol-branch__list-item-wrapper{
	box-sizing:border-box;
	margin:0 $spacing15;
	padding:$spacing30;
	border-radius:3px;
	border:1px solid $color-grey-bg;
	transition-duration:.3s;
	box-shadow:0;


	&:hover{
		box-shadow:1px 4px 10px #f5f5f5;
	}
}

.ol-branch__list-item-figure{
	height:220px;
	overflow:hidden;
	border-radius:3px;
	img{
		width:100%;
		min-height:220px;
		transition-duration:.3s;
	}


	&:hover{
		img{
			transform: scale(1.1);
			opacity:0.8;
		}
	}
}


.ol-branch__list-item-desc{
	margin-top:$spacing15;
	.ol-btn{
		width:100%;
		display:block;
	}
}

.ol-branch__list-item-desc-title{
	font-size:$font16;
	font-weight:400;
}

.ol-branch__list-item-desc-text{
	margin:$spacing15 0 $spacing45;
}