.ol-cart-list__head{
	@extend .add-fix;
	position:relative;
	padding:$spacing15 $spacing30 $spacing15 $spacing15;
	border-bottom:1px solid $color-grey-bg;
}

.ol-cart-list__head-item{
	float:left;
	width:15%;
	text-align:center;
	box-sizing:border-box;
	padding:0 $spacing5;
	font-weight:500;
	color:$color-black;

	&:first-child{
		width:35%;
		text-align:left;
	}

	&:nth-child(3){
		width:20%;
	}
}

.ol-cart-list__body--seller{
	border-bottom:1px solid $color-grey-bg;
}

.ol-cart-list__body-wrapper{
	padding:$spacing15 $spacing30 $spacing15 $spacing15;
	position:relative;
	@extend .add-fix;
}

.ol-cart-list__body-item{
	float:left;
	width:15%;
	box-sizing:border-box;
	padding:0 $spacing5;
	@extend .add-fix;
	text-align:right;

	&:first-child{
		width:35%;
		text-align:left;
	}

	&:nth-child(2){
		text-align:center;
	}

	&:nth-child(3){
		width:20%;
	}

	&:nth-child(4){
		text-align:center;
	}
}

.ol-cart-list__body-item-figure{
	float:left;
	border:1px solid $color-grey-bg;
	a{
		display:block;
	}

	img{
		width:100px;
		height:80px;
	}
}

.ol-cart-list__body-item-desc{
	padding-left:120px;
}

.ol-cart-list__body-item-desc-name{
	font-size:$font16;
	font-weight:400;
}

.ol-cart-list__body-item-desc-type{
	font-size:12px;
}

.ol-cart-list__body-item-close{
	position:absolute;
	right:0;
	top:15px;
	color:#ccc;
	font-size:12px;
	&:hover{
		color:$color-grey-font;
	}
}


.ol-cart-list__body-item-ico{
	@extend .ol-inline;
	width:35px;
	height:35px;
	border-radius:100%;
	text-align:center;
	color:$color-grey-font;
	background-color:$color-grey-bg;

	.ol-fa{
		vertical-align:bottom;
	}

	&.active{
		color:$color-white;
		background-color:$color-blue-soft;
	}

	&:nth-child(2){
		margin:0 $spacing5;
	}
}

.ol-cart-list__footer{
	padding:$spacing15 $spacing30 $spacing15 $spacing15;
	@extend .add-fix;
}

.ol-cart-list__footer-item{
	float:left;
	width:70%;
	padding:0 $spacing5;
	box-sizing:border-box;

	p{
		margin-top:$spacing15;
		a{
			color:$color-blue-soft;
			text-decoration:underline;
		}
	}

	span{
		margin-left:$spacing15;
	}

	.ol-input{
		max-width:350px;
		display:inline-block;
	}

	.ol-btn{
		cursor:pointer;
	}

	img{
		margin-right:$spacing5;
		height:21px;
		vertical-align:top;
	}

	&:last-child{
		text-align:right;
		width:30%;

		.ol-btn{
			display:block;
			width:100%;
			margin-top:$spacing30;
		}
	}
}

.ol-cart-list__footer-item-total{
	dt{
		float:left;
	}

	dd{
		padding:0 0 $spacing10 50px;
		strong{
			color:$color-ungu;
		}
	}
}


.ol-cart-list--stock{
	margin-top:$spacing60;
	.ol-cart-list__head-item,.ol-cart-list__body-item{
		&:first-child{
			width:60%;
		}

		&:nth-child(2){
			width:30%;
		}
	}

	/*.ol-cart-list__body-item-close{
		top:30px;
	}*/
}

.ol-cart-list--stock-notif{
	margin-bottom:$spacing30;
}

.ol-cart-list--stock-type-min{
	color:$color-red;
}

.ol-cart-list--stock-type-preorder{
	color:$color-ungu;
	small{
		display:block;
	}
}


.ol-checkout{
	.ol-section-title{
		text-align:center;
		color:$color-black;
	}
}

.ol-checkout-step{
	margin:$spacing60 auto;
	@extend .add-fix;
	max-width:600px;
}

.ol-checkout-step__item{
	float:left;
	width:25%;
	box-sizing:border-box;
	text-align:center;
	position:relative;

	div{
		display:inline-block;
		width:50px;
		height:50px;
		background-color:$color-grey-bg;
		border-radius:100%;
		z-index:2;
		position:relative;
		color:$color-grey-font;
		font-size:$font21;
	}

	span{
		display:block;
		font-size:$font14;
		margin-top:$spacing10;
	}

	.ol-fa{
		margin-top:$spacing15;
	}

	small{
		font-size:12px;
		color:#888;
	}


	&:before{
		position:absolute;
		top:20px;
		right:50%;
		content:"";
		background-color:$color-grey-bg;
		width:100%;
		height:15px;
		z-index:1;
	}

	&:first-child{
		&:before{
			display:none;
		}
	}


	&.ol-checkout-step__item--progress{
		div,&:before{
			background-color:$color-blue-soft;
		}
		div{
			color:$color-white;
		}
	}

}



.ol-checkout-content{
	.ol-cart-list__footer-item{
		width:60%;

		&:last-child{
			width:40%;
		}
	}
}



.ol-checkout-content__profile{
	@extend .add-fix
}

.ol-checkout-content__profile-item{
	float:left;
	width:40%;
	box-sizing:border-box;
	padding:0 $spacing5;

	&:last-child{
		width:60%;
	}

	.ol-product-content__sidebar-item-list-item-link{
		font-size:12px;
		margin-top:$spacing10;
	}

	.ol-input--radio-checkmark{
		top:0;
	}

	.ol-btn{
		width:48%;
		font-size:12px;
		vertical-align:bottom;

		&:hover{
			.ol-fa{
				color:$color-white;
			}
		}
	}

	.ol-fa{
		font-size:21px;
		vertical-align:middle;
		margin-right:$spacing15;
	}

	.fa-google{
		color:$color-red;
	}

	.fa-facebook-f{
		color:#1877F2;
	}
}




.ol-checkout-content__shipping-list{
	margin-bottom:$spacing30;
}

.ol-checkout-content__shipping-list-head{
	@extend .add-fix;
	position:relative;
	padding:$spacing15 $spacing30 $spacing15 $spacing15;
	border-bottom:1px solid $color-grey-font;
}

.ol-checkout-content__shipping-list-head-item{
	float:left;
	width:25%;
	text-align:center;
	box-sizing:border-box;
	padding:0 $spacing5;
	font-weight:500;
	color:$color-black;

	&:nth-child(3){
		width:45%;
	}
}

.ol-checkout-content__shipping-list-body-wrapper{
	@extend .add-fix;
	position:relative;
	padding:$spacing15 $spacing30 $spacing15 $spacing15;
	border-bottom:1px solid $color-grey-bg;
	cursor:pointer;

	&.active{
		position:relative;
		
		.ol-fa{
			position:absolute;
			top:30px;
			right:15px;
			font-size:28px;
			color:$color-blue-soft;
		}
	}
}

.ol-checkout-content__shipping-list-body-item{
	float:left;
	width:25%;
	text-align:center;
	box-sizing:border-box;
	padding:0 $spacing5;

	&:nth-child(3){
		width:45%;
	}
}

.ol-checkout-content__shipping-add{
	cursor:pointer;
}

.ol-checkout-content__payment-list{
	@extend .add-fix;
}

.ol-checkout-content__payment-list-item{
	float:left;
	width:20%;
	box-sizing:border-box;
	margin-bottom:$spacing10;

	a{
		display:block;
		color:$color-grey-font;
	}

	.ol-fa{
		font-size:28px;
	}


	p{
		font-size:14px;
		height:42px;
		margin-top:$spacing15;
	}
}

.ol-checkout-content__payment-list-item-wrapper{
	margin:0 $spacing5;
	padding:$spacing15;
	box-sizing:border-box;
	border:1px solid $color-grey-bg;
	text-align:center;
	box-shadow:0px 2px 3px rgba(0,0,0,.15);

	&:hover{
		border-color:$color-blue-soft;
	}
}




.ol-checkout-content__success-ico{
	text-align:center;
	font-size:124px;
	color:$color-blue-soft;
}

.ol-checkout-content__success-title{
	text-align:center;
	color:$color-black;
}

.ol-checkout-content__success-text{
	margin:$spacing30 0;
	text-align:center;
}

.ol-checkout-content__success-total{
	text-align:center;
	h3{
		color:$color-black;
		margin-bottom:$spacing15;
	}

	h4{
		font-size:48px;
	}
}




.ol-checkout-content__success-detail{
	list-style:decimal;
	max-width:600px;
	margin:$spacing30 auto 0;

	.ol-product-content-detail__desc-spec-title{
		font-weight:400;
	}

	.ol-product-content-detail__desc-spec-text p{
		font-size:$font16;
	}
}



.ol-checkout-nav{
	@extend .add-fix;
	margin-top:$spacing60;


	.ol-btn{
		float:right;
	}

	.ol-btn--secondary{
		float:left;
	}
}