
.ol-dashboard{
	margin-bottom:$spacing60;
	padding-top:$spacing60;
}

.ol-dashboard--wrapper{
	@extend .add-fix;
}

.ol-dashboard__sidebar{
	float:left;
	width:20%;
	box-sizing:border-box;
	padding-top:$spacing30;
	position:sticky;
	top:75px;
}

.ol-dashboard__sidebar-title{
	font-size:$font21;
}

.ol-dashboard__sidebar-nav{
	margin:$spacing30 0 0 $spacing15;
}

.ol-dashboard__sidebar-nav-link{
	display:block;
	position:relative;
	margin-bottom:$spacing15;

	.ol-fa{
		margin-right:$spacing15;
		width:22px;
		text-align:center;
	}

	&:hover,&.active{
		color:$color-blue-soft;
		&:after{
			position:absolute;
			top:0;
			right:-2px;
			content:"";
			width:3px;
			height:100%;
			background-color:$color-blue-soft;
		}
	}
}


.ol-dashboard__container{
	float:left;
	width:80%;
	box-sizing:border-box;
	padding:$spacing30 0 $spacing30 $spacing60;
	border-left:1px solid $color-grey-bg;
	min-height:500px;
}

.ol-dashboard__container-title{
	font-size:$font18;
	margin-bottom:$spacing15;
}



.ol-dashboard__account-item{
	margin-bottom:$spacing60;

	&:last-child{
		margin:0;
	}
}

.ol-dashboard__account{
	margin-bottom:$spacing15;
}

.ol-dashboard__account-upload{
	position:relative;
	div{
		width:100px;
		height:100px;
		border-radius:100%;
		background-color:$color-grey-bg;
		overflow:hidden;
		position:absolute;
		top:0;
		left:0;
	}

	.ol-input{
		width:100px;
		height:100px;
		border-radius:100%;
		overflow:hidden;
		position:relative;
		z-index:2;
		opacity:0;
	}

	img{
		width:100px;
		height:100px;
	}

	span{
		background-color:$color-grey-bg;
		border:1px solid $color-white;
		border-radius:100%;
		position:absolute;
		bottom:0;
		left:75px;
		z-index:3;
		width:30px;
		height:30px;
		text-align:center;
	}

	small{
		position:absolute;
		top:0;
		left:0;
	}

	.ol-fa{
		vertical-align:middle;
	}
}



.ol-dashboard__order-label{
	color:$color-black;
	font-size:$font16;
	margin-top:$spacing30;
	padding-bottom:$spacing15;
	border-bottom:1px solid $color-grey-bg;
}

.ol-dashboard__order-loop{
	margin-bottom:$spacing60;
	&:last-child{
		margin:0;
	}
}

.ol-dashboard__order-list-item{
	padding:$spacing15;
}


.ol-dashboard__order-list-item--head{
	@extend .add-fix;
	border-bottom:1px solid $color-grey-bg;
}

.ol-dashboard__order-list-item-id{
	float:left;
	font-size:$font18;
}

.ol-dashboard__order-list-item-status{
	float:right;
	color:$color-blue-soft;
}

.ol-dashboard__order-list-item--body{
	@extend .add-fix;
}

.ol-dashboard__order-list-item-prd{
	float:left;
}

.ol-dashboard__order-list-item-price{
	float:right;
	color:$color-grey-font;
	font-size:$font16;
}

.ol-dashboard__order-list-item--footer{
	text-align:right;
	border-top:1px solid $color-grey-bg;
	padding-bottom:$spacing30;
}

.ol-dashboard__order-list-item-total{
	display:inline-block;
	margin-left:$spacing30;
	vertical-align:middle;
}

.ol-dashboard__order-status{
	padding:$spacing30;
	background-color:#dfe8f7;
	@extend .add-fix;
}

.ol-dashboard__order-status-info{
	padding-right:$spacing30;
	float:left;
	width:50%;
	box-sizing:border-box;
}

.ol-dashboard__order-status-action{
	text-align:right;
	width:50%;
	float:right;
	.ol-btn--secondary{
		margin-left:$spacing15;
	}
}

.ol-dashboard__order-status--detail{
	.ol-dashboard__order-status-info{
		width:75%;
	}

	.ol-dashboard__order-status-action{
		width:25%;
	}
}

.ol-dashboard__order-address{
	margin:$spacing60 0;
	@extend .add-fix;
}

.ol-dashboard__order-address-item{
	float:left;
	width:50%;
	box-sizing:border-box;
	padding-right:$spacing30;
}

.ol-dashboard__order-address-item-title{
	color:$color-black;
	font-size:$font16;
	margin-bottom:$spacing30;
	padding-bottom:$spacing15;
	border-bottom:1px solid $color-grey-bg;
}

.ol-dashboard__order-address-item-name{
	font-size:$font18;
	color:$color-black;
	margin-bottom:$spacing15;

	span{
		font-weight:400;
	}
}


.ol-dashboard__order-step{
	max-width:none;
}


.ol-dashboard__order-list{

	.ol-cart-list__head-item{
		float:none;
		width:100%;
	}

	.ol-cart-list__body-item{
		&:first-child{
			width:50%;
		}

		&:last-child{
			width:20%;
			float:right;
		}
	}

	.ol-cart-list__body-item{
		&:nth-child(2){
			text-align:right;
		}

		&:nth-child(3){
			text-align:right;
		}
	}
}


.ol-cart-list__body--seller-wrapper{
	@extend .add-fix;
	padding:$spacing15 $spacing30 $spacing15 $spacing15;

	.ol-cart-list__body-item{
		width:25%;
		&:first-child{
			width:50%;
			color:$color-ungu;
			font-weight:500;
			.ol-fa{
				margin-right:$spacing10;
			}
		}

		&:nth-child(2){
			text-align:center;
		}
	}
}




.ol-dashboard__address-shipping{
	.ol-checkout-content__shipping-list-body-wrapper.active .ol-fa{
		right:auto;
		left:0;
		top:15px;
	}

	.ol-checkout-content__shipping-list-head-item,.ol-checkout-content__shipping-list-body-item{

		&:nth-child(3){
			width:40%;
		}

		&:nth-child(4){
			width:10%;
		}
	}

	.fa-edit{
		color:$color-blue-soft;
		margin-right:$spacing5;
	}

	.fa-trash{
		color:$color-red;
	}
}


.ol-dashboard__address{
	position:relative;
}

.ol-dashboard__address-add{
	position:absolute;
	top:0;
	right:0;
	color:$color-blue-soft;
	font-size:14px;
	text-decoration:underline;
	cursor:pointer;

	&:hover{
		color:$color-ungu;
	}
}


.ol-dashboard__notif-list-item{
	padding:$spacing30;
	.ol-cart-floating__list-item-prd{
		float:none;
		width:100%;
	}

	.ol-cart-floating__list-item-prd-figure{
		width:100px;
		img{
			width:100px;
			height:100px;
		}
	}

	.ol-cart-floating__list-item-prd-desc{
		padding-left:120px;
	}


	&.ol-cart-floating__list-item--new{
		background-color:#FEF0E5;
	}

	small{
		display:block;
		margin:$spacing10 0;
	}

	span{
		color:$color-grey-font;
		font-size:14px;
	}
}


.ol-dashboard__inspiration-list{
	.ol-inspiration__content-list-item-wrapper{
		grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
	}
}




/* Rating Star Widgets Style */

.rating-stars{
	margin-top:$spacing15;
}

.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  color:#ccc;
  
}

.rating-stars ul > li.star.hover {
	color:#FFCC36;
}

.rating-stars ul > li.star.selected {
  color:#FF912C;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fas {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fas {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fas {
  color:#FF912C;
}