.ol-totop{
	position:fixed;
	bottom:-100px;
	right:$spacing15;
	z-index:10;
	width:40px;
	height:40px;
	cursor:pointer;
	transition-duration:0.3s;
	border-radius:5px;
	text-align:center;
	background-color:$color-blue-soft;
	.ol-fa{
		font-size:$font21;
		color:$color-white;
		margin-top:8px;
	}
	&.show{
		bottom:$spacing60;
	}
	&:hover{
		background-color:$color-ungu;
	}
}


.ol-footer{
	padding:$spacing60 0 $spacing30;
	background-color:$color-ungu;
	color:$color-white;
}

.ol-footer__list{
	margin:0 -30px;
}

.ol-footer__list-item{
	margin-bottom:$spacing30;
	box-sizing:border-box;

	&:last-child{
		margin-bottom:0;
	}

	@include breakpoint-min(size-768){
		float:left;
		width:50%;
	}


	@include breakpoint-min(size-890){
		width:25%;
	}
}

.ol-footer__list-item-wrapper{
	padding:0 $spacing30;
	box-sizing:border-box;
}

.ol-footer__list-item-title{
	color:$color-white;
	font-size:$font16;
	margin-bottom:$spacing30;
	font-weight:700;

	@include breakpoint-min(size-890){
		height:48px;
	}

	@include breakpoint-min(size-1200){
		height:auto;
	}
}

.ol-footer__list-item-menu{
	a{
		color:$color-white;
		display:block;
		margin-bottom:$spacing15;
		font-size:$font14;
		&:last-child{
			margin:0;
		}

		@include breakpoint-min(size-1200){
			font-size:$font16;
		}
	}
}

.ol-footer__list-item-contact{
	margin-bottom:$spacing15;
	ul{
		margin-bottom:$spacing15;
	}
	li{
		margin-bottom:$spacing10;

		&:last-child{
			margin:0;
		}
	}
	.ol-fa{
		font-size:21px;
		vertical-align:middle;
		text-align:center;
		width:30px;
	}
}

.ol-footer__list-item-map{
	iframe{
		width:100%;
		height:200px;
	}
}

.ol-footer__copyright{
	padding-top:$spacing30;
	margin-top:$spacing60;
	text-align:center;
	font-size:12px;
	color:$color-white;
	border-top:1px solid $color-white;
	img{
		height:20px;
		filter:brightness(0) invert(1);
	}
}



.ol-footer-checkout{
	padding:$spacing60 0;
}


.ol-footer-checkout__nav{
	text-align:center;
	color:$color-ungu;
	margin-bottom:$spacing15;
	a{
		color:$color-ungu;
		&:hover{
			color:$color-blue-soft;
		}
	}
}

.ol-footer-checkout__copyright{
	text-align:center;
	font-size:12px;
	color:$color-ungu;
	img{
		height:20px;
	}
}


.nav-right{
	position:fixed;
	width:320px;
	box-sizing:border-box;
	background-color:$color-white;
	top:0;
	right:-999px;
	height:100vh;
	z-index:99999;
	box-shadow:1px 1px 5px rgba(0,0,0,.15);
	font-size:$font14;
}

.nav-right-wrapper{
	padding:$spacing30;
	position:relative;
}

.nav-right-close{
	font-size:18px;
	position:absolute;
	right:15px;
	top:30px;
	font-weight:400;
}

.nav-right__logo{
	margin-bottom:$spacing30;
	text-align:center;
	img{
		max-width:70px;
	}
}

.nav-right__brand-link{
	display:block;
	color:$color-grey-font;
	padding-bottom:$spacing5;
	margin-bottom:$spacing5;
	border-bottom:1px solid $color-grey-bg;
}

.nav-right__contact{
	margin:$spacing30 0;
	li{
		margin:0 0 $spacing5;
	}

	.ol-fa{
		vertical-align:top;
		margin-right:$spacing15;
	}

	span{
		vertical-align:top;
		display:inline-block;
		width:80%;
	}
}

.nav-right__sosmed{
	a{
		display:inline-block;
		font-size:28px;
		margin-right:$spacing10;
	}
}

.ol-overlay{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:99998;
	background: rgba(255, 255, 255, 0.8);
}