/*ol-hero-slider*/
.ol-hero-slider{
	position:relative;
	z-index:1;
	padding-bottom:$spacing60;
	margin-top:127px;


	.slick-dots{
		position:absolute;
		bottom:75px;
		text-align:center;
		z-index:3;
		left:0;
		right:0;
		li{
			display:inline-block;
			width:30px;
			height:5px;
			font-size:0;
			background-color:$color-white;
			margin-right:$spacing15;
			border-radius:5px;
			cursor:pointer;
			&.slick-active,&:hover{
				background-color:$color-ungu;
			}
		}


		@include breakpoint-min(size-480){
			bottom:90px;
		}


		@include breakpoint-min(size-960){
			bottom:100px;
		}
	}



	.slick-arrow{
		position:absolute;
		top:35%;
		z-index:3;
		width:40px;
		height:40px;
		box-shadow:none;
		font-size:0;
		transition:all .3s ease;
		&:after{
			position:absolute;
			width:40px;
			height:49px;
			content:"";
			left:8px;
			top:10px;
		}
	}

	.slick-prev{
		left:5%;
		&:after{
			background-position:-20px 0;
		}
	}

	.slick-next{
		right:5%;
		&:after{
			background-position:-20px -48px;
		}
	}
}

.ol-hero-slider__item{
	height:190px;
	overflow:hidden;

	img{
		width:100%;
	}


	.ol-hero-slider__item-img--mobile{
		display:block;
		height:190px;

		@include breakpoint-min(size-890){
			display:none;
		}
	}


	.ol-hero-slider__item-img--desktop{
		display:none;
		@include breakpoint-min(size-890){
			display:block;
		}
	}

	@include breakpoint-min(size-480){
		height:220px;
		.ol-hero-slider__item-img--mobile{
			height:220px;
		}
	}

	@include breakpoint-min(size-768){
		height:33vh;
		.ol-hero-slider__item-img--mobile{
			height:33vh;
		}
	}


	@include breakpoint-min(size-890){
		height:40vh;
		.ol-hero-slider__item-img--desktop{
			height:40vh;
		}
	}

	@include breakpoint-min(size-1024){
		height:47vh;
		.ol-hero-slider__item-img--desktop{
			height:47vh;
		}
	}


	@include breakpoint-min(size-1200){
		height:50vh;
		.ol-hero-slider__item-img--desktop{
			height:50vh;
		}
	}


	@include breakpoint-min(size-1300){
		height:82vh;
		.ol-hero-slider__item-img--desktop{
			height:82vh;
		}
	}

	&.slick-active{
		.ol-hero-slider__item-caption{
			opacity:1;
			filter:alpha(opacity=1);
		}
	}
}






/*ol-home-flash*/
.ol-home-flash{
	padding-bottom:$spacing60;
	background-color:$color-white;
}

.ol-home-flash-content{
	position:relative;


	.ol-section-title{
		color:$color-red;
		font-style:italic;
		font-weight:700;
		font-size:32px;
		padding-bottom:$spacing30;
		border-bottom:1px solid $color-grey-bg;

		img{
			vertical-align:middle;
		}

		@include breakpoint-min(size-968){
			font-size:42px;
		}
	}
}

.ol-home-flash-list{
	margin-top:$spacing30;
	@extend .add-fix;
	border:1px solid $color-grey-bg;
	border-left:0;
	.slick-arrow{
		position:absolute;
		top:40%;
		z-index:3;
		width:40px;
		height:40px;
		background-color:$color-white;
		font-size:0;
		box-shadow:1px 1px 5px rgba(0,0,0,.15);
		transition:all .3s ease;
		border-radius:100%;
		&:after{
			position:absolute;
			width:20px;
			height:20px;
			content:"";
			left:8px;
			top:10px;
		}
	}

	.slick-prev{
		left:-15px;
		&:after{
			background-position:0 -189px;
		}

		@include breakpoint-min(size-1200){
			left:-20px;
		}

	}

	.slick-next{
		right:-15px;
		&:after{
			background-position:2px -207px;
		}

		@include breakpoint-min(size-1200){
			right:-20px;
		}

	}
}

.ol-home-flash-list__item{
	position:relative;
	float:left;
	width:20%;
	box-sizing:border-box;
	padding:$spacing15;
	border-left:1px solid $color-grey-bg;

	.ol-home-product__content-item-list--item-title{
		height:auto;
		white-space:nowrap;
		font-size:$font14;
		text-align:center;
	}

	.ol-home-product__content-item-list--item-price{
		text-align:center;
		small{
			font-size:$font18;
		}
	}
}

.ol-home-flash-list__item-bar{
	width:80%;
	margin:$spacing15 auto 0;
	span{
		position:relative;
		display:block;
		background-color:$color-blue-soft;
		border-radius:15px;
		height:12px;
	}


	i{
		position:absolute;
		height:100%;
		border-radius:15px;
		background-color:$color-ungu;
		top:0;
		left:0;
	}

	p{
		font-size:$font14;
		margin-top:$spacing5;
	}
}


.ol-home-interior{
	padding-bottom:$spacing60;
}

.ol-home-interior__list{
	margin:0 -15px;
}

.ol-home-interior__list-item{
	margin-bottom:$spacing30;
	&:last-child{
		margin:0;
	}
	

	@include breakpoint-min(size-480){
		float:left;
		width:33.3333%;
		margin:0;
	}
}

.ol-home-interior__list-item-wrapper{
	padding:0 $spacing15;
}

.ol-home-interior__list-item-figure{
	height:200px;
	overflow:hidden;
	a{
		display:block;
		&:hover{
			opacity:0.8;
			img{
				transform: scale(1.1);
			}
		}
	}
	img{
		width:100%;
		min-height:200px;
		transition-duration:.3s;
	}

	@include breakpoint-min(size-480){
		eight:120px;
		img{
			min-height:120px;
		}
	}

	@include breakpoint-min(size-768){
		eight:180px;
		img{
			min-height:180px;
		}
	}

	@include breakpoint-min(size-890){
		height:200px;
		img{
			min-height:200px;
		}
	}


	@include breakpoint-min(size-1024){
		height:250px;
		img{
			min-height:250px;
		}
	}
}

.ol-home-interior__list-item-title{
	margin-top:$spacing15;
	text-align:center;
	font-size:$font16;

	@include breakpoint-min(size-768){
		font-size:$font18;
		margin-top:$spacing30;
	}

	@include breakpoint-min(size-890){
		font-size:$font21;
	}
}



/*ol-home-info*/
.ol-home-info{
	padding:$spacing60 0 $spacing45;
	background-color:#FEF0E5;
	margin-bottom:$spacing60;

	@include breakpoint-min(size-960){
		margin:0;
	}
}

.ol-home-info__list-item{
	float:left;
	width:33.3333%;
	box-sizing:border-box;
	text-align:center;
	span{
		@extend .ol-inline;
		font-size:12px;
		color:$color-ungu;

		@include breakpoint-min(size-768){
			font-size:$font14;
		}


		@include breakpoint-min(size-890){
			font-size:$font16;
		}
	}

	img{
		width:35px;
		@include breakpoint-min(size-890){
			width:50px;
		}
	}

	@include breakpoint-min(size-960){
		span{
			margin-left:$spacing15;
		}
	}

	@include breakpoint-min(size-1200){
		span{
			font-size:$font18;
		}
	}
}

.ol-home-info__list-item-wrapper{
	position:relative;
	transition:all .3s ease;

	&:hover{
		.ol-home-info__list-item-snk{
			display:block;
			opacity:1;
		}
	}
}

.ol-home-info__list-item-snk{
	opacity:0;
	transition:all .3s ease;
	position:absolute;
	top:-50px;
	left:0;
	right:0;
	margin:0 auto;
	width:80%;
	box-sizing:border-box;
	padding:$spacing5;
	background-color:$color-white;
	border-radius:5px;


	&:after{
		content:"";
		position:absolute;
		left:0;
		right:0;
		bottom:-10px;
		border-style:solid;
		border-width:10px 10px 0;
		border-color:$color-white transparent;
		width:0;
		margin:0 auto;
	}
}

.ol-home-info__list-item-ico{
	height:35px;
	display:block;
	position:relative;
	margin:0 auto;
	top:-10px;

	@include breakpoint-min(size-890){
		height:50px;
	}

	@include breakpoint-min(size-960){
		display:inline-block;
	}
}





/*ol-home-inspiration*/
.ol-home-inspiration{
	display:none;

	@include breakpoint-min(size-1200){
		display:block;
		padding-bottom:$spacing60;
	}

	.slick-dots{
		position:absolute;
		bottom:90px;
		text-align:center;
		z-index:3;
		left:0;
		right:0;
		li{
			display:inline-block;
			width:30px;
			height:5px;
			font-size:0;
			background-color:$color-white;
			margin-right:$spacing15;
			cursor:pointer;
			border-radius:5px;
			&.slick-active,&:hover{
				background-color:$color-ungu;
			}
		}
	}



	.slick-arrow{
		position:absolute;
		top:40%;
		z-index:3;
		width:40px;
		height:40px;
		box-shadow:none;
		font-size:0;
		transition:all .3s ease;
		&:after{
			position:absolute;
			width:40px;
			height:49px;
			content:"";
			left:8px;
			top:10px;
		}
	}

	.slick-prev{
		left:5%;
		&:after{
			background-position:-20px 0;
		}
	}

	.slick-next{
		right:5%;
		&:after{
			background-position:-20px -48px;
		}
	}
}

.ol-home-inspiration__item{
	height:100vh;
	position:relative;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center bottom;
}

.ol-home-inspiration__item-caption{
	position:relative;
	padding:$spacing60 0 0 $spacing30;
	
	h3{
		text-transform:uppercase;
		font-size:$font24;
	}

	a{
		color:$color-ungu;
		position:relative;


		&:after{
			content:"";
			position:absolute;
			top:8px;
			right:-20px;
			border-style:solid;
			border-width:10px 0 10px 10px;
			border-color:transparent $color-ungu; 
		}
	}

	p{
		font-size:$font18;
	}

	&:after{
		position:absolute;
		left:0;
		top:65px;
		width:15px;
		height:24px;
		background-color:$color-blue-soft;
		content:"";
	}
}

.ol-home-inspiration__item-overlay{
	display:none;

	@include breakpoint-min(size-1024){
		display:block;
	}
}

.ol-home-inspiration__item-overlay-content-item{
	position:absolute;
	box-sizing:border-box;
	padding:$spacing5;
	background-color:$color-white;
	cursor:pointer;
	&:hover{
		.ol-home-inspiration__item-overlay-content-item-wrapper{
			display:block;
		}
	}
}

.ol-home-inspiration__item-overlay-content-nud{
	width:10px;
	height:10px;
	border:5px solid $color-ungu;
	background-color:$color-white;
	display:block;
}

.ol-home-inspiration__item-overlay-content-item-wrapper{
	padding:$spacing10;
	background-color:$color-white;
	max-width:170px;
	position:absolute;
	top:-50px;
	left:-50px;
	display:none;
	transition: .4s ease .25s;
	figure{
		background-color:$color-grey-bg;
		width:150px;
		height:150px;
		overflow:hidden;
		text-align:center;
	}

	img{
		width:150px;
		height:150px;
	}

	h3{
		font-size:$font16;
	}

	.ol-btn{
		width:100%;
		margin-top:10px;
		box-sizing:border-box;
		text-align:center;
		padding:10px $spacing15;
	}


	/*&:after{
		position:absolute;
		left:-10px;
		border-width:10px 10px 10px 0;
		border-style:solid;
		border-color:transparent $color-white;
		content:"";
		top:5px;
	}*/

}



/*ol-home-category*/
.ol-home-category{
	padding-bottom:$spacing60;
	background-color:$color-white;
}

.ol-home-category__title{
	margin-bottom:$spacing30;
}


.ol-home-category__list-item{
	float:left;
	width:33.3333%;
	box-sizing:border-box;
	text-align:center;

	@include breakpoint-min(size-480){
		width:25%;
	}

	@include breakpoint-min(size-1600){
		width:16.6666%;
	}
}

.ol-home-category__list-item-wrapper{
	margin:0 $spacing5;
}

.ol-home-category__list-item-figure{
	a{
		display:block;
		overflow:hidden;

		&:hover{
			opacity:0.8;

			img{
				transform: scale(1.1);
			}
		}
	}
	img{
		height:85px;
		width:100%;
		transition-duration:.3s;

		@include breakpoint-min(size-1200){
			width:auto;
		}
	}

	@include breakpoint-min(size-768){
		img{
			height:170px;
		}
	}

	@include breakpoint-min(size-890){
		img{
			height:200px;
		}
	}

	@include breakpoint-min(size-1600){
		img{
			height:120px;
		}
	}
}

.ol-home-category__list-item-title{
	font-size:$font16;
	margin-bottom:$spacing30;

	@include breakpoint-min(size-768){
		font-size:$font18;
	}

	@include breakpoint-min(size-890){
		font-size:$font21;
	}
}



/*ol-home-product*/
.ol-home-product{
	padding-bottom:$spacing60;
	background-color:$color-white;
}

.ol-home-product__nav{
	padding:$spacing10 $spacing30;
	border:1px solid $color-grey-bg;
	box-sizing:border-box;
	margin-bottom:$spacing30;
}

.ol-home-product__nav-link{
	margin-right:$spacing30;
	cursor:pointer;
	width:auto !important;

	&.slick-current{
		color:$color-ungu;
	}
}

.ol-home-product__content-item-desc{
	padding:$spacing45 $spacing30;
	background-color:$color-blue-bg;
	box-sizing:border-box;
	display:none;

	@include breakpoint-min(size-1200){
		float:left;
		width:20%;
		display:block;
	}
}

.ol-home-product__content-item-desc-text{
	margin:$spacing30 0 $spacing45;
}

.ol-home-product__content-item-list{
	box-sizing:border-box;

	@include breakpoint-min(size-1200){
		width:80%;
		float:left;
	}

	.slick-arrow{
		position:absolute;
		top:40%;
		z-index:3;
		width:40px;
		height:40px;
		background-color:$color-white;
		font-size:0;
		box-shadow:1px 1px 5px rgba(0,0,0,.15);
		transition:all .3s ease;
		border-radius:100%;
		&:after{
			position:absolute;
			width:20px;
			height:20px;
			content:"";
			left:8px;
			top:10px;
		}
	}

	.slick-prev{
		left:20px;
		&:after{
			background-position:0 -189px;
		}

		@include breakpoint-min(size-1200){
			left:-20px;
		}
	}

	.slick-next{
		right:20px;
		&:after{
			background-position:2px -207px;
		}
	}
}

.ol-home-product__content-item-list--item{
	border:1px solid $color-grey-bg;
	border-width:0 1px;
	border-left:0;
	text-align:center;
	padding:30px $spacing15 $spacing45;
	box-sizing:border-box;
	position:relative;

	@include breakpoint-min(size-1200){
		border-width:1px;
	}
}

.ol-home-product__content-item-list--item-figure{
	margin-bottom:20px;
	overflow:hidden;
	background-color:#fbfbfb;
	a{
		display:block;
		&:hover{
			.img-default{
				display:none;
			}

			.img-hover{
				display:inline-block;
			}
		}
	}
	img{
		height:200px;
		width:auto;
		max-width:100%;
	}


	.img-default{
		display:inline-block;
	}

	.img-hover{
		display:none;
	}

	@include breakpoint-min(size-768){
		img{
			width:100%;
			height:120px;
		}
	}

	@include breakpoint-min(size-890){
		img{
			height:200px;
			width:auto;
			max-width:100%;
		}
	}
}

.ol-home-product__content-item-list--item-title{
	font-size:$font16;
	margin-bottom:$spacing10;
	height:48px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.ol-home-product__content-item-list--item-text{
	margin-bottom:$spacing15;
}

.ol-home-product__content-item-list--item-price-real{
	text-decoration:line-through;
	font-size:12px;

	@include breakpoint-min(size-1024){
		margin-right:$spacing10;
	}

}

.ol-home-product__content-item-list--item-price-discount,.ol-home-product__content-item-list--item-price-nodiscount{
	font-size:$font14;
	color:$color-ungu;
	font-weight:600;
	display:block;

	@include breakpoint-min(size-1024){
		display:inline-block;
	}
}

.ol-home-product__content-item-list--item-price-discount-label{
	display:inline-block;
	font-size:8px;
	background-color:$color-blue-soft;
	padding:2px $spacing10;
	border-radius:10px;
	color:$color-white;
	font-style:normal;
	vertical-align:middle;
	margin-left:$spacing15;
}

.ol-home-product__content-item-list--item-discount{
	position:absolute;
	background-color:$color-blue-soft;
	color:$color-white;
	top:15px;
	right:15px;
	padding:$spacing10;
	border-radius:100%;
	line-height:16px;
}





/*ol-home-type-product*/
.ol-home-type-product{
	padding:0 0 $spacing60;
}


.ol-home-type-product__list{
	@extend .add-fix;
	margin:0 -15px;
}

.ol-home-type-product__list-item{
	margin-bottom:$spacing15;

	&:last-child{
		margin:0;
	}
	

	@include breakpoint-min(size-890){
		float:left;
		width:33.3333%;
		margin:0;
	}
}

.ol-home-type-product__list-item-wrapper{
	margin:0 $spacing15;
}

.ol-home-type-product__list-item-title{
	position:relative;
	padding-bottom:$spacing10;
	margin-bottom:$spacing15;
	border-bottom:1px solid $color-ungu;

	h4{
		font-size:$font16;
	}

	a{
		font-size:$font14;
		color:$color-ungu;
		position:absolute;
		right:0;
		top:0;
	}
}

.ol-home-type-product__list-item-loop{
	@extend .add-fix;
	margin-bottom:$spacing15;
	&:last-child{
		margin:0;
	}
}


.ol-home-type-product__list-item-loop-figure{
	float:left;
	width:100px;
	box-sizing:border-box;
	padding:$spacing10;
	border:1px solid $color-grey-bg;


	&:hover{
		box-shadow:1px 4px 10px #f5f5f5;
	}


	a{
		display:block;
		&:hover{
			.img-default{
				display:none;
			}

			.img-hover{
				display:inline-block;
			}
		}
	}

	.img-default{
		display:inline-block;
	}

	.img-hover{
		display:none;
	}

	img{
		width:80px;
		height:80px;
	}


	@include breakpoint-min(size-1024){
		width:130px;

		img{
			width:110px;
			height:110px;
		}
	}
}

.ol-home-type-product__list-item-loop-desc{
	padding-left:115px;

	@include breakpoint-min(size-1024){
		padding-left:150px;
	}
}

.ol-home-type-product__list-item-loop-title{
	font-size:$font14;
	overflow:hidden;
	margin-bottom:$spacing15;
	height:42px;

	@include breakpoint-min(size-480){
		height:auto;
	}

	@include breakpoint-min(size-890){
		height:48px;
	}

	@include breakpoint-min(size-960){
		font-size:$font16;
	}
}

.ol-home-type-product__list-item-loop-desc-price{
	.ol-home-product__content-item-list--item-price-real{
		margin:0;
	}

	.ol-home-product__content-item-list--item-price-discount{
		display:block;
	}
}


/*ol-home-review*/
.ol-home-review{
	padding-bottom:$spacing60;
	background-color:$color-white;
}

.ol-home-review__list{
	max-width:1100px;
	margin:0 auto;
	.slick-arrow{
		position:absolute;
		top:30%;
		z-index:3;
		width:40px;
		height:40px;
		background-color:$color-white;
		font-size:0;
		box-shadow:1px 1px 5px rgba(0,0,0,.15);
		transition:all .3s ease;
		border-radius:100%;
		&:after{
			position:absolute;
			width:20px;
			height:20px;
			content:"";
			left:8px;
			top:10px;
		}
	}

	.slick-prev{
		left:0;
		&:after{
			background-position:0 -189px;
		}

		@include breakpoint-min(size-1200){
			left:-20px;
		}

		@include breakpoint-min(size-1300){
			left:-50px;
		}
	}

	.slick-next{
		right:0;
		&:after{
			background-position:2px -207px;
		}

		@include breakpoint-min(size-1200){
			right:-20px;
		}

		@include breakpoint-min(size-1300){
			right:-50px;
		}
	}
}

.ol-home-review__list-item-figure{
	float:left;
	width:100px;
	height:100px;
	margin-right:$spacing45;
	overflow:hidden;
	img{
		width:100px;
		height:100px;
	}
}

.ol-home-review__list-item-desc{
	position:relative;
	.ol-fa{
		color:$color-blue-soft;
		position:absolute;
		left:112px;
		top:0;
		font-size:21px;
	}
}

.ol-home-review__list-item-desc-text{
	height:42px;
	overflow:hidden;
	padding-right:$spacing15;
	font-size:14px;
}

.ol-home-review__list-item-desc-name{
	margin-top:$spacing10;
	font-size:$font16;
}

.ol-home-review__list-item-desc-star{
	
	font-size:14px;

	.far--on{
		color:#ffd600;
	}

	.far--off{
		color:#ccc;
	}
}



/*ol-additional*/
.ol-additional{
	padding:$spacing60 0;
	background-color:#FEF0E5;
}

.ol-additional__title{
	font-size:$font16;
	margin-bottom:$spacing30;
	color:$color-black;
}

.ol-additional__item{
	box-sizing:border-box;
	margin-bottom:$spacing30;

	@include breakpoint-min(size-768){
		float:left;
		width:50%;
		margin-bottom:0;
	}

	img{
		max-width:475px;
	}
}

.ol-additional__payment{
	img{
		width:90%;

		@include breakpoint-min(size-960){
			width:100%;
		}
	}
}

.ol-additional__app{

	@include breakpoint-min(size-768){
		padding-left:$spacing30;
	}
}




.slick-arrow:after{
	background-image:url(../images/og-large-icon.png);
	background-repeat:no-repeat;
}


.ol-home-flash-list,.ol-home-product__content-item-list,.ol-home-review__list{
	.slick-arrow:after{
		background-image:url(../images/og-small-icon.png);
		background-repeat:no-repeat;
	}
}




.tooltipster-light{
	.tooltipster-content{
		font-size:14px;
	}
}