.ol-hero-page--inspiration{
	position:relative;
	height:240px;

	&:after{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		content:"";
		background-color:rgba(153, 153, 153, .4);
		z-index:1;
	}

	img{
		min-height:240px;
	}


	@include breakpoint-min(size-480){
		height:270px;
		img{
			height:270px;
		}
	}

	@include breakpoint-min(size-768){
		height:33vh;
		img{
			height:33vh;
		}
	}


	@include breakpoint-min(size-890){
		height:40vh;
		img{
			height:40vh;
		}
	}

	@include breakpoint-min(size-1024){
		height:47vh;
		img{
			height:47vh;
		}
	}


	@include breakpoint-min(size-1200){
		height:50vh;
		img{
			height:50vh;
		}
	}


	@include breakpoint-min(size-1300){
		height:82vh;
		img{
			height:82vh;
		}
	}
}


.ol-hero-page--inspiration-searchbar{
	@extend .ol-layout--middle;
	z-index:2;
	max-width:300px;
	top:45%;

	@include breakpoint-min(size-480){
		max-width:420px;
	}

	@include breakpoint-min(size-768){
		max-width:700px;
	}

	@include breakpoint-min(size-1024){
		max-width:900px;
	}
}

.ol-hero-page--inspiration-searchbar__title{
	color:$color-white;
	font-size:18px;
	margin-bottom:$spacing15;

	@include breakpoint-min(size-480){
		font-size:24px;
	}

	@include breakpoint-min(size-768){
		font-size:28px;
	}

	@include breakpoint-min(size-960){
		font-size:32px;
	}
}

.ol-hero-page--inspiration-searchbar__form{
	position:relative;
}

.ol-hero-page--inspiration-searchbar__form-input{
	padding:$spacing15;
	background-color:$color-white;
	width:85%;
	border-radius:3px 0 0 3px;
	line-height:normal;
	box-sizing:border-box;
	width:80%;

	@include breakpoint-min(size-480){
		width:85%;
	}

	@include breakpoint-min(size-768){
		width:90%;
	}
}

.ol-hero-page--inspiration-searchbar__form-btn{
	padding:19px;
	text-align:center;
	background-color:$color-blue-soft;
	color:$color-white;
	border-radius:0 3px 3px 0;
	width:20%;
	box-sizing:border-box;
	text-align:center;

	@include breakpoint-min(size-480){
		width:15%;
	}

	@include breakpoint-min(size-768){
		width:10%;
	}

	&:hover{
		opacity:.8;
	}
}

.ol-hero-page--inspiration-searchbar__form-suggest{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	box-sizing:border-box;
	padding:$spacing15;
	border:1px solid $color-grey-bg;
	background-color:$color-white;
	box-shadow:0px 3px 5px rgba(0,0,0,0.05);
	z-index:3;

	&.show{
		display:block;
	}
}

.ol-hero-page--inspiration-searchbar__form-suggest-item{
	@extend .add-fix;
	padding-bottom:$spacing15;
	margin-bottom:$spacing15;
	border-bottom:1px solid #eee;
	&:last-child{
		margin-bottom:0;
	}

	.ol-input--radio-checkmark{
		left:auto;
		right:0;
		top:25px;
		border-color:#ccc;
	}


	.ol-input--radio-check:checked ~ .ol-input--radio-checkmark,.ol-input--radio-check:hover ~ .ol-input--radio-checkmark{
		background-color:$color-blue-soft;
		border-color:$color-blue-soft;
	}
}


.ol-hero-page--inspiration-searchbar__form-suggest-item-product{
	@extend .add-fix;
	float:left;
	width:80%;
	figure{
		float:left;
		img{
			height:70px;
		}
	}

	h3{
		float:left;
		font-size:$font14;
		color:$color-black;
		margin-top:25px;
	}
}

.ol-hero-page--inspiration-searchbar__suggest{
	color:$color-white;
	margin-top:$spacing10;
}



.ol-inspiration__content-nav{
	margin:0 $spacing15 $spacing15;

	.slick-arrow{
		position:absolute;
		top:0;
		z-index:3;
		width:30px;
		height:42px;
		box-shadow:none;
		font-size:0;
		transition:all .3s ease;
		background-color:$color-white;
		&:after{
			position:absolute;
			width:13px;
			height:23px;
			content:"";
			top:8px;
		}
	}

	.slick-prev{
		left:-15px;
		&:after{
			left:0;
			background-image:url(../images/og-chevron-left.png);
		}
	}

	.slick-next{
		right:-15px;
		&:after{
			right:0;
			background-image:url(../images/og-chevron-right.png);
		}
	}
}


.ol-inspiration__content-nav-link{
	@extend .ol-btn;
	@extend .ol-btn--third;
	margin:0 $spacing5;
	font-size:$font14;
	border:0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;

	@include breakpoint-min(size-890){
		width:auto !important;
	}

	&.slick-current,&:hover{
		background-color:$color-blue-soft;
		color:$color-white;
	}
}


.ol-inspiration__content-list-item-wrapper{
	column-count:1;
	column-gap:15px;

	@include breakpoint-min(size-360){
		column-count:2;
	}

	@include breakpoint-min(size-768){
		column-count:3;
	}

	@include breakpoint-min(size-890){
		column-count:4;
		column-gap:30px;
	}


	/*display:grid;
	position:relative;
	grid-gap:30px;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-auto-rows:20px;*/
}


.ol-inspiration__content-list-item-figure{
	position:relative;
	width:100%;
	@extend .ol-inline;
	vertical-align:top;
	margin-bottom:$spacing15;

	figure{
		margin-bottom:$spacing15;
		overflow:hidden;
		border-radius:3px;

		&:hover{
			img{
				transform: scale(1.1);
				opacity:0.8;
			}
		}
	}

	img{
		width:100%;
		transition-duration:.3s;
	}

	h4{
		font-size:14px;
		font-weight:300;
	}

	.ol-btn{
		position:absolute;
		top:15px;
		right:15px;
		opacity:0;
		transition-duration:.8s;
	}

	.ol-btn--third{
		cursor:inherit;
		&:hover{
			background-color:$color-grey-bg;
			border-color:$color-grey-bg;
			color:$color-grey-font;
		}
	}


	&:hover{
		.ol-btn{
			opacity:1;
		}
	}


	@include breakpoint-min(size-890){
		margin-bottom:$spacing30;
	}

}






.ol-hero-page--inspiration-detail{
	padding:$spacing30;
	box-shadow:1px 4px 10px #f5f5f5;
	height:auto;
	position:relative;
	overflow:unset;
	margin-top:$spacing15;

	@include breakpoint-min(size-768){
		padding:$spacing60;
	}

	.ol-wrapper{
		padding:0;
		position:relative;
	}

	figure{
		overflow:hidden;
		text-align:center;
	}

	img{
		width:auto;
		max-width:100%;
		min-height:auto;
		height:auto;
	}

	.ol-btn{
		position:absolute;
		top:-10px;
		right:0;
	}
}

.ol-hero-page--inspiration-detail__title{
	color:$color-black;
	font-size:$font16;
	margin-bottom:$spacing30;
	padding-top:70px;
	

	@include breakpoint-min(size-768){
		font-size:$font18;
		width:75%;
		padding-top:0;
	}
}

.ol-btn-back{
	color:$color-grey-font;
}



.ol-product-content__center-list--inspiration{
	.ol-home-product__content-item-list--item{
		@include breakpoint-min(size-768){
			width:25%;
		}
	}
}


.ol-compare{
	min-height:700px;
}

.ol-compare__content{
	max-width:900px;
}

.ol-compare__content-new{
	text-align:right;
	margin-bottom:$spacing30;
}

.ol-compare__content-list-item{
	@extend .add-fix;
	margin:0 -15px $spacing30;

	&:last-child{
		margin-bottom:0;
	}

	.ol-home-product__content-item-list--item-figure{
		background-color:$color-white;
	}
}

.ol-compare__content-list-item-wrapper{
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:0 $spacing15;
}

.ol-compare__content-list-item-prd{
	position:relative;
	text-align:center;
	width:80%;
	margin:0 auto;
}