.ol-hero-page{
	height:200px;
	overflow:hidden;
	margin-top:127px;
	img{
		width:100%;
		min-height:200px;
	}



	@include breakpoint-min(size-480){
		height:270px;
		img{
			height:270px;
		}
	}

	@include breakpoint-min(size-768){
		height:33vh;
		img{
			height:33vh;
		}
	}


	@include breakpoint-min(size-890){
		height:40vh;
		img{
			height:40vh;
		}
	}

	@include breakpoint-min(size-1024){
		height:47vh;
		img{
			height:47vh;
		}
	}


	@include breakpoint-min(size-1200){
		height:65vh;
		img{
			height:65vh;
		}
	}
}

.ol-breadcrumb{
	padding-bottom:$spacing60;
}

.ol-breadcrumb__link:last-child{
	font-weight:600;
}



.ol-page{
	.ol-page-title{
		margin-top:0;
	}
}

.ol-page__content{
	margin-top:$spacing60;
}

.ol-page__content-item{
	margin-bottom:$spacing30;
	h1,h2,h3,h4,h5,h6{
		color:$color-black;
		margin-bottom:$spacing15;
	}

	h3{
		font-size:$font18;
	}

	ol,ul{
		margin:0 0 $spacing15 20px;
	}

	ol{
		list-style:lower-alpha;
	}

	ul{
		list-style:disc;
	}

	p{
		margin-bottom:$spacing15;
	}



	&:last-child(){
		margin-bottom:0;
	}
}



.ol-page__faq-item{
	margin-bottom:$spacing60;

	&:last-child{
		margin-bottom:0;
	}
}


.ol-page__faq-item-figure{
	position:relative;
	height:300px;
	overflow:hidden;
	img{
		width:100%;
		min-height:300px;
	}

	&:after{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.4);
		content:"";
	}


	p{
		@extend .ol-layout--middle;
		text-align:center;
		color:$color-white;
		font-weight:600;
		font-size:$font21;
		z-index:2;
	}

}


.ol-page__faq-item-content{
	.ol-product-content-detail__desc-spec-title{
		text-transform:normal;
		color:$color-grey-font;
		border-color:$color-grey-bg;
	}

	.ol-product-content-detail__desc-spec-text{
		margin-bottom:$spacing30;

		ul{
			list-style:decimal;
			margin-left:20px;
		}
	}
}








.ol-paging{
	text-align:center;
	margin-top:$spacing30;
}

.ol-paging__link{
	@extend .ol-inline;
	width:30px;
	&.active,&:hover{
		font-weight:600;
		text-decoration:underline;
	}
}






.ol-upload-box__review-note-upload-file{
	position:relative;
	width:70px;
	height:70px;
	background-color:$color-grey-bg;
	margin-top:$spacing15;

	.ol-input{
		width:70px;
		height:70px;
		opacity:0;
		position:relative;
		z-index:2;
	}

	span{
		display:block;
		width:70px;
		height:70px;
		text-align:center;
		position:absolute;
		top:0;
		left:0;
	}

	.ol-fa{
		margin-top:15px;
		font-size:36px;
		color:#ccc;
	}
}