.popup{
	overflow:hidden;
}


.ol-popup{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:9999;
	display:none;
	&:after{
		position:absolute;
		background-color:rgba(253, 255, 233, .9);
		content:"";
		left:0;
		top:0;
		width:100%;
		height:100%;
	}



	.ol-select-box{
		width:100%;
		border:0;
		height:46px;
		background-color:$color-grey-bg;
		border-radius:3px;

		&:after{
			top:18px;
		}
	}


	.ol-input-select{
		padding:12px $spacing15;
	}


	&.show{
		display:block;
	}
}

.ol-popup--login{
	.ol-popup-wrapper{
		padding:$spacing60;
	}

	.ol-popup-box__close{
		top:-60px;
		right:-30px;
	}
}

.ol-popup-wrapper{
	@extend .ol-layout--middle;
	max-width:700px;
	background-color:$color-white;
	z-index:1000;
	box-sizing:border-box;
	padding:$spacing30;
	box-shadow:0px 2px 3px rgba(0,0,0,.15);
}

.ol-popup-wrapper--small{
	max-width:400px;
}

.ol-popup-wrapper--average{
	max-width:550px;
}

.ol-popup-box{
	position:relative;
	
	&.ol-popup-box--address{
		overflow:hidden;
		max-height:600px;
		overflow-y:auto;
		/*padding-right:$spacing15;*/

		-ms-overflow-style:none;
  		scrollbar-width:none;

		.ol-popup-box__close{
			right:15px;
		}

	}

	&.ol-popup-box--address::-webkit-scrollbar{
		 display: none;
	}
}

.ol-popup-box__close{
	position:absolute;
	right:0;
	top:0;
	cursor:pointer;
	color:#ccc;
	font-size:12px;
	z-index:2;
	&:hover{
		color:$color-grey-font;
	}
}

.ol-popup-box__form{
	margin:0 -15px;

	.ol-product-content__sidebar-item-list-item-link{
		font-size:$font14;
		padding-top:4px;
	}
}

.ol-popup-box__voucher-input{
	padding:$spacing30 0;
	h4{
		font-size:$font16;
	}

	.ol-input{
		width:70%;
		display:inline-block;
		margin-right:$spacing10;
	}
}

.ol-popup-box__voucher-list{

	h4{
		font-size:$font16;
	}
}

.ol-popup-box__voucher-list-item{
	padding:$spacing15;
	margin-bottom:$spacing10;
	@extend .add-fix;

	p{
		color:$color-black;
		margin-bottom:$spacing10;
	}

	span{
		font-size:14px;
		color:$color-grey-font;
	}

	a{
		color:$color-blue-soft;
		font-size:14px;
		margin-left:$spacing15;
	}

	.ol-btn{
		/*position:absolute;
		top:20px;
		right:15px;*/
		color:$color-white;
		float:right;
	}
}

.ol-popup-box__voucher-list-item-info{
	width:70%;
	float:left;
}

.ol-popup-box__voucher-list-item-snk-link{
	color:$color-blue-soft;
	cursor:pointer;
}

.ol-popup-box__voucher-list-item--use{
	border:1px solid $color-blue-soft;
}

.ol-popup-box__voucher-list-item--claim{
	border:1px solid $color-red;

	.ol-btn{
		background-color:$color-red;
		border-color:$color-red;

		&:hover{
			opacity:.8;
		}
	}
}

.ol-popup-box__voucher-list-item-snk-content{
	display:none;

	a{
		margin:0;
	}

	div{
		border:1px solid $color-blue-soft;
		padding:15px;
		margin-top:$spacing15;
	}

	&.show{
		display:block;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		box-sizing:border-box;
		background-color:$color-white;
		padding-top:$spacing30;
	}


	p{
		margin:$spacing30 0 $spacing15;
		color:$color-ungu;
		font-weight:500;
	}

	ul{
		margin-left:20px;
		list-style:decimal;
	}

	li{
		margin-bottom:$spacing10;
		&:last-child(){
			margin:0;
		}
	}
}

.ol-popup-box__review-item{
	margin-bottom:$spacing30;

	&:last-child{
		margin-bottom:0;
	}
}


.ol-popup-box__review-prd{
	@extend .add-fix;
	margin-bottom:$spacing15;
}

.ol-popup-box__review-prd-star{
	float:right;
}


.ol-popup-box__login{
	.ol-btn{
		width:100%;
	}
}

.ol-popup-box__login-logo{
	margin:$spacing30 0 $spacing45;
	text-align:center;
	img{
		max-height:80px;
	}
}


.ol-popup-box__login-type-form{
	display:none;

	.ol-product-content__sidebar-item-list-item-link{
		font-size:12px;
		padding-top:$spacing5;
	}

	&.show{
		display:block;
	}
}

.ol-popup-box__login-link{
	text-align:center;
	font-size:12px;
	padding-bottom:$spacing30;
	border-bottom:1px solid $color-grey-bg;


	a{
		color:$color-blue-soft;
		text-decoration:underline;
		cursor:pointer;
	}
}


.ol-popup-box__login-api{
	margin-top:$spacing30;
	text-align:center;
	p{
		font-size:12px;
		margin-bottom:$spacing5;
	}
}

.ol-popup-box__login-api-btn{

	.ol-btn{
		width:48%;
		font-size:12px;
		vertical-align:bottom;
		@extend .ol-inline;

		&:hover{
			.ol-fa{
				color:$color-white;
			}
		}
	}

	.ol-btn--secondary{
		margin:0 0.5%;
	}

	.ol-fa{
		font-size:21px;
		vertical-align:middle;
		margin-right:$spacing15;
	}

	.fa-google{
		color:$color-red;
	}

	.fa-facebook-f{
		color:#1877F2;
	}
}


.ol-popup-box__resi{
	padding-top:$spacing45;
	.ol-popup-box__title{
		position:relative;
		span{
			position:absolute;
			top:0;
			right:0;
		}
	}
}


.ol-popup-box__resi-list{
	display:flex;
  	flex-direction:column-reverse;
}

.ol-popup-box__resi-list-item{
	@extend .add-fix;
	margin-bottom:$spacing45;

	&:last-child{
		.ol-popup-box__resi-list-item-line{
			background-color:$color-blue-soft;
			&:after{
				display:none;
			}
		}
	}

	&:first-child{
		margin-bottom:0;
	}
}

.ol-popup-box__resi-list-item-date{
	float:left;
}

.ol-popup-box__resi-list-item-line{
	float:left;
	margin:0 $spacing30;
	width:30px;
	height:30px;
	border-radius:100%;
	background-color:$color-grey-bg;
	position:relative;

	&:after{
		position:absolute;
		width:3px;
		height:65px;
		content:"";
		left:-2px;
		right:0;
		bottom:30px;
		margin:0 auto;
		background-color:$color-grey-bg;
	}
}

.ol-popup-box__resi-list-item-desc{
	float:left;
	width:70%;
}


.ol-popup-box__title{
	font-size:$font16;
	padding-bottom:$spacing15;
	border-bottom:1px solid $color-ungu;
	margin-bottom:$spacing30;
}






.ol-popup--location{
	z-index:100;


	.ol-popup-wrapper{
		padding:$spacing30;
	}

	.ol-popup-box__form{
		margin:0;
	}

	.ol-btn{
		margin:$spacing60 0 $spacing10;
	}

	.ol-link{
		color:$color-grey-font;
		text-align:center;
		border:0;
		padding:0;
	}


	.select2-container--default{
		width:100% !important;
	}
}


.ol-popup-box__location-header{
	text-align:center;
	margin-bottom:$spacing60;
}

.ol-popup-box__location-header-title{
	color:$color-black;
	margin-bottom:$spacing5;
	img{
		max-width:180px;
	}
}

.ol-popup-box__location-header-desc{
	font-size:$font14;
}