.ol-product{
	padding:$spacing60 0;
	background-color:$color-white;
}


.ol-product-type{
	padding-bottom:$spacing60;
}

.ol-product-type__title{
	font-size:$font18;
	margin-bottom:$spacing30;
}

.ol-product-type__list{
	.slick-arrow{
		position:absolute;
		top:40px;
		z-index:3;
		width:13px;
		box-shadow:none;
		font-size:0;
		transition:all .3s ease;
		background-color:$color-white;
		&:after{
			position:absolute;
			width:13px;
			height:23px;
			content:"";
			top:30px;
		}
	}

	.slick-prev{
		left:10px;
		&:after{
			left:0;
			background-image:url(../images/og-chevron-left.png);
		}
	}

	.slick-next{
		right:10px;
		&:after{
			right:0;
			background-image:url(../images/og-chevron-right.png);
		}
	}
}

.ol-product-type__list-item{
	padding:$spacing15;
	/*float:left;
	width:16.666%;*/
	box-sizing:border-box;
	border:1px solid $color-white;

	&:hover,&.active{
		border:1px solid $color-blue-soft;
		box-shadow:1px 4px 8px rgba(0,0,0,.06);
	}
}

.ol-product-type__list-item-figure{
	height:70px;
	overflow:hidden;
	text-align:center;
	img{
		height:70px;
		display:inline-block;
	}


	@include breakpoint-min(size-768){
		height:80px;
		img{
			height:80px;
		}
	}
}

.ol-product-type__list-item-name{
	font-size:$font14;
	margin-top:$spacing15;
	text-align:center;
	height:45px;

	@include breakpoint-min(size-768){
		font-size:$font16;
	}
}

.ol-product-content__sidebar{
	display:none;

	@include breakpoint-min(size-960){
		float:left;
		width:25%;
		box-sizing:border-box;
		padding-right:$spacing30;
		display:block;
	}

	@include breakpoint-min(size-1200){
		width:20%;
	}
}

.ol-product-content__sidebar-item{
	margin-bottom:$spacing60;
}

.ol-product-content__sidebar-item-title{
	font-size:$font18;
	margin-bottom:$spacing30;
}

.ol-product-content__sidebar-item-list-item{
	margin-bottom:$spacing15;
}

.ol-product-content__sidebar-item-list-item-title{
	font-size:$font16;
	margin-bottom:$spacing10;
	position:relative;
	cursor:pointer;
	color:$color-black;


	&:after{
		position:absolute;
		right:0;
		top:10px;
		content:"";
		border-width:5px 5px 0;
		border-color:$color-black transparent;
		border-style:solid;
		transition-duration:0.3s;
	}
	

	&.active{
		&:after{
			transform: rotate(180deg);
		}
	}

}

.ol-product-content__sidebar-item-list-item-link{
	margin-bottom:$spacing10;
	display:block;
	position:relative;
	padding-left:$spacing30;
	cursor:pointer;
	color:$color-black;
	@extend .add-fix;
	u{
		float:right;
		text-decoration:none;
	}

	&:hover{
		span,u{
			text-decoration:underline;
		}
	}
}

.ol-product-content__sidebar-item-list-item-color{
	@extend .ol-inline;
	width:30px;
	height:30px;
	border:1px solid $color-white;
	outline:1px solid $color-black;
	box-sizing:border-box;
	margin:0 $spacing5 8px 0;
	position:relative;

	&.active{
		&:after{
			position:absolute;
			content:"✔";
			top:3px;
			left:8px;
			color:$color-white;
		}
	}

}

.price-range-slider {
	.range-value {
		margin:0;
		input {
			width:100%;
			background:none;
			color: #000;
			font-size: 11px;
			font-weight: initial;
			box-shadow: none;
			border: none;
			margin-top:$spacing10;
		}
	}
	
	.range-bar {
		border: none;
		background: #000;
		height: 3px;
		
		.ui-slider-range {
			background:$color-blue-soft;
		}
		
		.ui-slider-handle {
			border:none;
			border-radius:25px;
			background:#fff;
			border:2px solid $color-blue-soft;
			height:17px;
			width:17px;
			top: -0.52em;
			cursor:pointer;
			display:inline-block;
		}
		.ui-slider-handle + span {
			background:$color-blue-soft;
		}
	}
}




.ol-product-content__center{
	

	@include breakpoint-min(size-960){
		float:right;
		width:75%;
	}

	@include breakpoint-min(size-1200){
		width:80%;
	}
}


.ol-product-content__center-filter{
	display:none;
	@include breakpoint-min(size-768){
		display:block;
		margin-bottom:$spacing30;
	}
}

.ol-product-content__center-filter-item{
	float:left;
	color:$color-black;
	width:50%;
	margin-bottom:$spacing15;

	@include breakpoint-min(size-1200){
		width:auto;
		margin-bottom:0;
	}
}


/*.ol-product-content__center-filter-total{
	float:left;
	color:$color-black;
}*/

.ol-product-content__center-filter-compare{

	@include breakpoint-min(size-1200){
		margin:0 $spacing75;
	}
}

.ol-product-content__center-filter-show{
	float:right;
	/*color:$color-black;*/
	div{
		display:inline-block;
	}
	strong{
		margin-right:$spacing15;
	}
}

.ol-product-content__center-filter-show-link{
	margin:0 $spacing5;
	&:hover{
		color:$color-blue-soft;
	}
	&.active{
		font-weight:600;
	}
}

.ol-product-content__center-filter-sort{
	/*margin:0 auto $spacing30;
	max-width:300px;
	color:$color-black;*/

	.ol-select-box{
		margin-left:$spacing5;
	}
}


.ol-product-content__center-list{
	@extend .add-fix;
	.ol-home-product__content-item-list--item{
	
		border:1px solid $color-grey-bg;
		margin:-1px 0 0 -1px;
		&:hover{
			box-shadow:1px 4px 10px $color-grey-bg;
		}


		@include breakpoint-min(size-480){
			width:50%;
			float:left;
		}


		@include breakpoint-min(size-768){
			width:25%;
		}

		@include breakpoint-min(size-890){
			width:33.3333%;
		}


		@include breakpoint-min(size-1200){
			width:25%;
		}
	}
}

.ol-product-content__center-list--page{
	.ol-home-product__content-item-list--item{
		width:20%;
	}
}


.ol-product-detail{
	margin-top:127px;
}

.ol-product-content-detail__images{
	box-sizing:border-box;
	margin-bottom:$spacing30;

	@include breakpoint-min(size-890){
		float:left;
		width:50%;
		padding-right:$spacing60;
		margin-bottom:0;
	}
}


.ol-product-content-detail__images-list-single-figure{
    height:350px;
    text-align:center;
    position:relative;
    img{
        height:350px;
        display:inline-block;
        max-width:100%;
        cursor:zoom-in;
        /*width:100%;*/
    }
}

.ol-product-content-detail__images-list-group{
    margin:$spacing30 -5px 0;

    .slick-arrow{
		position:absolute;
		top:0;
		z-index:3;
		width:13px;
		height:80px;
		box-shadow:none;
		font-size:0;
		transition:all .3s ease;
		background-color:$color-white;
		&:after{
			position:absolute;
			width:13px;
			height:23px;
			content:"";
			top:30px;
		}
	}

	.slick-prev{
		left:0;
		&:after{
			left:0;
			background-image:url(../images/og-chevron-left.png);
		}
	}

	.slick-next{
		right:0;
		&:after{
			right:0;
			background-image:url(../images/og-chevron-right.png);
		}
	}
}

.ol-product-content-detail__images-list-group-figure{
    box-sizing:border-box;
    cursor:pointer;
    height:80px;
    overflow:hidden;
    text-align:center;
    border:1px solid $color-white; 
    img{
        height:80px;
        display:inline-block;
    }


    &.slick-current{
    	border-color:#ededed;
    }
}

.ol-product-content-detail__desc{
	@extend .ol-product-content-detail__images;

	@include breakpoint-min(size-890){
		width:50%;
	}

	.ol-home-product__content-item-list--item-title{
		font-size:$font24;
		color:$color-black;
	}

	.ol-home-product__content-item-list--item-price-real{
		display:block;
		margin:0 0 $spacing15;
	}

	.ol-home-product__content-item-list--item-price-discount{
		font-size:$font18;
	}
}


.ol-home-product__content-item-list--item-price{
	height:45px;

	.ol-home-product__content-item-list--item-price-discount{
		display:inline-block;
	}

	@include breakpoint-min(size-1024){
		height:auto;
	}
}

.ol-product-content-detail__desc-spec{
	margin-top:$spacing30;
}

.ol-product-content-detail__desc-spec-title{
	font-weight:600;
	text-transform:uppercase;
	padding-bottom:$spacing15;
	border-bottom:1px solid $color-black;
	cursor:pointer;
	font-size:$font16;
	margin-bottom:$spacing15;
	position:relative;
	color:$color-black;

	.ol-fa{
		position:absolute;
		top:0;
		right:0;
		font-weight:400;
		color:$color-grey-font;
	}
}

.ol-product-content-detail__desc-spec-text{
	margin-bottom:$spacing15;
	dt{
		float:left;
	}

	dd{
		padding:0 0 $spacing10 200px;
	}

	p{
		font-size:11px;
	}
}

.ol-product-content-detail__desc-spec-text-type{
	padding:$spacing5 $spacing10;
	border:1px solid $color-grey-bg;

	&.active, &:hover{
		border-color:$color-blue-soft;
		box-shadow:1px 1px 2px rgba(0,0,0,.18);
	}
}

.ol-product-content-detail__action{
	.ol-input-qty,.ol-btn{
		margin-right:$spacing15;
	}
}

.ol-product-content-detail__nav{
	margin:$spacing60 0;
	text-align:center;
}

.ol-product-content-detail__nav-link{
	@extend .ol-inline;
	font-weight:600;
	color:$color-grey-font;
	padding:0 $spacing30;
	cursor:pointer;
	margin-bottom:$spacing15;


	@include breakpoint-min(size-768){
		margin-bottom:0;
	}

	&.active,&:hover{
		color:$color-blue-soft;
	}
}

.ol-product-content-detail__list-item{
	display:none;

	&.show{
		display:block;
	}
}

.ol-product-content-detail__list-item-text{
	max-width:700px;
	margin:0 auto;
	text-align:center;
	margin-bottom:$spacing60;
}

.ol-product-content-detail__list-item-figure{
	margin-bottom:$spacing15;
	img{
		width:100%;
	}
}

.ol-product-content-detail__list-item--review-list{
	max-width:700px;
	margin:0 auto;
	li{
		padding-bottom:$spacing30;
		margin-bottom:$spacing30;
		border-bottom:1px solid $color-black;
		&:last-child{
			margin:0;
			border:0;
			padding:0;
		}
	}
}

.ol-product-content-detail__list-item--review-list-box{
	figure{
		float:left;
		margin:0 $spacing10 $spacing10 0;
	}

	img{
		width:70px;
		height:70px;
		border-radius:5px;
	}

	h4{
		font-size:$font16;
	}

	span{
		font-size:11px;
	}
}

.ol-product-content-detail__list-item--review-list-images{
	margin-top:$spacing15;
	figure{
		margin-right:$spacing10;
		float:left;
	}
	a{
		display:block;
	}
	img{
		width:90px;
		height:90px;
	}
}


.ol-product-content-detail__list-item--info-list{
	margin:0 auto;
	max-width:700px;
	dt{
		float:left;
		font-weight:600;
		text-transform:uppercase;
	}

	dd{
		margin:0 0 $spacing15 200px;
		padding-bottom:$spacing15;
		border-bottom:1px solid $color-black;
	}
}

.ol-product-related{
	display:none;
	padding-top:$spacing60;

	.ol-home-product__content-item-list--item{
		width:50%;

		&:nth-child(3),&:nth-child(4),&:last-child{
			display:none;
		}

		@include breakpoint-min(size-768){
			width:25%;
			&:nth-child(3),&:nth-child(4){
				display:block;
			}
		}

		@include breakpoint-min(size-890){
			width:20%;
			&:last-child{
				display:block;
			}
		}
	}

	@include breakpoint-min(size-480){
		display:block;
	}
}


.ol-product-content-landing__anchor{

	.ol-section-title{
		text-align:center;
	}
}

.ol-product-content-landing__anchor-list{
	@extend .add-fix;
	text-align:center;
}

.ol-product-content-landing__anchor-list-figure{
	box-sizing:border-box;
	padding:$spacing15;
	position:relative;
	@extend .ol-inline;
	width:50%;
	text-align:center;
	a{
		display:block;
		&:hover{
			opacity:.8;
		}
	}
	span{
		display:block;
	}
	img{
		height:85px;
		width:100%;
		max-width:150px;
	}

	@include breakpoint-min(size-480){
		width:33.3333%;
	}

	@include breakpoint-min(size-768){
		width:20%;
	}

	@include breakpoint-min(size-1024){
		width:14%;
	}
}

.ol-product-content-landing__anchor-list-title{
	height:48px;
	margin-top:$spacing10;
	@include breakpoint-min(size-1024){
		height:auto;
	}
}


.ol-product-content-landing__list-item{
	padding-top:$spacing60;
	.ol-section-title{
		border-bottom:1px solid $color-black;
		padding-bottom:$spacing10;
	}




	@include breakpoint-min(size-768){

		&:first-child{
			.ol-product-content-landing__list-item-thumb-figure{
				width:25%;
			}
		}

		&:nth-child(2),&:nth-child(3){
			.ol-product-content-landing__list-item-thumb-figure{
				width:16.75%;
			}
		}

		&:nth-child(4){
			.ol-product-content-landing__list-item-thumb-figure{
				width:14.36%;
			}
		}

		&:nth-child(5){
			.ol-product-content-landing__list-item-thumb-figure{
				width:33.4%;
			}
		}

		&:nth-child(6){
			.ol-product-content-landing__list-item-thumb-figure{
				width:50%;
			}
		}

		&:last-child{
			.ol-product-content-landing__list-item-thumb-figure{
				width:25%;
			}
		}

	}
}

.ol-product-content-landing__list-item-thumb{
	box-sizing:border-box;
	@extend .add-fix;
}

.ol-product-content-landing__list-item-thumb-figure{
	text-align:center;
	box-sizing:border-box;
	padding:$spacing15;
	border:1px solid $color-grey-bg;
	position:relative;
	margin-left:-1px;
	float:left;
	width:33.3333%;
	a{
		display:block;
	}
	span{
		display:block;
	}
	img{
		height:50px;
		width:80%;
		opacity:1;
		transition:all .3s ease;

		@include breakpoint-min(size-890){
			height:85px;
			width:100%;
			max-width:150px;
		}
	}

	&:hover{
		box-shadow:1px 4px 10px #f5f5f5;
		img{
			opacity:.8;
		}
	}
}

.ol-product-content-landing__list-item-thumb-title{
	margin-top:$spacing15;
	height:48px;
	overflow:hidden;
	font-size:12px;

	@include breakpoint-min(size-890){
		font-size:$font14;
	}
}

.ol-product-content-landing__list-item-banner{
	height:240px;
	overflow:hidden;
	position:relative;
	z-index:2;
	img{
		width:100%;
		min-height:240px;
	}


	@include breakpoint-min(size-768){
		height:390px;
		img{
			min-height:390px;
		}
	}
}