/* responsive */


$break-size-1600: 1600px;
$break-size-1300: 1300px;
$break-size-1200: 1200px;
$break-size-1024: 1024px;
$break-size-960: 960px;
$break-size-890: 890px;
$break-size-768: 768px;
$break-size-480: 480px;
$break-size-360: 360px;
$break-size-320: 320px;

/* responsive breakpoint */
@mixin breakpoint-min($point){
	@if $point == size-1600{
		@media(min-width:$break-size-1600){@content;}
	}
	@else if $point == size-1300 {
		@media(min-width:$break-size-1300){@content;}
	}
	@else if $point == size-1200 {
		@media(min-width:$break-size-1200){@content;}
	}
	@else if $point == size-1024 {
		@media(min-width:$break-size-1024){@content;}
	}
	@else if $point == size-960 {
		@media(min-width: $break-size-960){@content;}
	}
	@else if $point == size-890 {
		@media(min-width: $break-size-890){@content;}
	}
	@else if $point == size-768 {
		@media(min-width: $break-size-768){@content;}
	}
	@else if $point == size-480 {
		@media(min-width: $break-size-480){@content;}
	}
	@else if $point == size-360 {
		@media(min-width: $break-size-360){@content;}
	}
	@else if $point == size-320 {
		@media(min-width: $break-size-320){@content;}
	}
}

