.ol-section-all{
	text-align:center;
	margin-top:$spacing60;
}

.ol-btn{
	color:$color-black;
	padding:$spacing10 $spacing30;
	display:inline-block;
	border:1px solid $color-black;
	&:hover{
		color:$color-white;
		background-color:$color-black;
	}
}


.ol-link{
	display:inline-block;
	padding-bottom:$spacing5;
	border-bottom:1px solid $color-black;
	&:hover{
		color:$color-ungu;
		border-color:$color-ungu;
	}
}