/* variable */


/* color */
$color-ungu:#4e007f;
$color-grey-bg:#f5f5f5;
$color-black:#000;
$color-white:#fff;
$color-grey-font:#6f6f6f;






/* font */
$font14:14px;
$font16:16px;
$font18:18px;
$font21:21px;
$font24:24px;
$font36:36px;
$font48:48px;
$font54:54px;
$font60:60px;



/* spacing */
$spacing5:5px;
$spacing10:10px;
$spacing15:15px;
$spacing30:30px;
$spacing45:45px;
$spacing60:60px;
$spacing75:75px;
$spacing90:90px;




/*width*/
$fullwidth:100%;