.ol-totop{
	position:fixed;
	bottom:-100px;
	right:$spacing15;
	z-index:10;
	width:40px;
	height:40px;
	cursor:pointer;
	transition-duration:0.3s;
	border-radius:5px;
	text-align:center;
	background-color:$color-black;
	.ol-fa{
		font-size:$font21;
		color:$color-white;
		margin-top:8px;
	}
	&.show{
		bottom:$spacing60;
	}
	&:hover{
		background-color:$color-ungu;
	}
}


.ol-footer{
	padding:$spacing60 0;
	background-color:$color-black;
	color:$color-grey-font;
}

.ol-footer-list__item{
	float:left;
	box-sizing:border-box;
	padding-right:$spacing30;
	&:first-child{
		width:30%;
	}

	&:nth-child(2){
		width:20%;
	}

	&:nth-child(3){
		width:25%;
	}

	&:last-child{
		width:25%;
		padding:0;
	}

	a{
		color:$color-grey-font;
		display:block;
		margin-bottom:$spacing15;
		&:last-child{
			margin:0;
		}

		&:hover{
			color:$color-white;
		}
	}

	strong{
		display:block;
		font-weight:500;
	}

	span{
		display:block;
	}

	h4{
		margin-bottom:$spacing30;
		color:$color-white;
	}
}


.ol-footer-list__item-logo{
	margin-bottom:$spacing15;
	img{
		width:200px;
		-webkit-filter: brightness(0) invert(1);
  		filter: brightness(0) invert(1);
	}
}

.ol-footer-list__item-nav{
	margin-bottom:$spacing60;
	li{
		margin-bottom:$spacing15;
		&:last-child{
			margin:0;
		}
	}

	.ol-fa{
		margin-right:$spacing10;
	}

	strong{
		margin-bottom:$spacing5;
	}

	span{
		margin-left:$spacing30;
	}
}


.ol-footer-list__item-sosmed{
	a{
		display:inline-block;
		font-size:28px;
		margin-right:$spacing10;
	}
}



.nav-right{
	position:fixed;
	width:320px;
	box-sizing:border-box;
	background-color:$color-white;
	top:0;
	right:-999px;
	height:100vh;
	z-index:99999;
	box-shadow:1px 1px 5px rgba(0,0,0,.15);
}

.nav-right-wrapper{
	padding:$spacing30;
	position:relative;
}

.nav-right-close{
	font-size:$font24;
	position:absolute;
	right:30px;
	top:30px;
}

.ol-overlay{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:99998;
	background: rgba(255, 255, 255, 0.8);
}