/*ol-header*/
.ol-header{
	padding:$spacing15 0;
	position:fixed;
	width:100%;
	left:0;
	top:0;
	z-index:999;
	transition:all .3s ease;
}


.ol-header-logo{
	float:left;
}

.ol-header-logo__link{
	display:block;
	line-height:0;
	img{
		max-width:70px;
		transition:all .3s ease;
	}
}


.ol-header-right{
	float:right;
	margin-top:20px;
}






.ol-header-nav{
	text-align:center;
	margin-top:20px;
}

.ol-header-nav__link{
	padding-right:$spacing45;

}


.floating{
	.ol-header{
		background-color:$color-white;
		box-shadow:0 1px 25px rgba(0,0,0,.15);
	}

	.ol-header-logo__link{
		img{
			transform: scale(0.8);
		}
	}
}


.ol-btn--ecomm{
	padding:$spacing5 $spacing10;
	background-color:$color-ungu;
	color:$color-white;
	margin-right:$spacing30;
	&:hover{
		color:$color-white;
		background-color:$color-black;
	}

	i{
		width:20px;
		height:16px;
		background-position:0 0;
		margin-right:$spacing10;
	}
}

.ol-btn--bar{
	width:23px;
	height:18px;
	background-position:0 -18px;
}



.ol-btn--ecomm i,.ol-btn--bar,.slick-arrow:after,.ol-home-news__nav-btn:after{
	display:inline-block;
	background-image:url(../images/og-icon.png);
	background-repeat:no-repeat;
}