.ol-hero-slider{
	height:100vh;
	position:relative;
	z-index:1;


	.slick-dots{
		position:absolute;
		bottom:30px;
		text-align:center;
		z-index:3;
		left:0;
		right:0;
		li{
			display:inline-block;
			width:30px;
			height:5px;
			font-size:0;
			background-color:$color-grey-bg;
			margin-right:$spacing15;
			cursor:pointer;
			&.slick-active,&:hover{
				background-color:$color-white;
			}
		}
	}
}

.ol-hero-slider__item{
	height:100vh;
	position:relative;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center bottom;
	&.slick-active{
		.ol-hero-slider__item-caption{
			opacity:1;
			filter:alpha(opacity=1);
		}
	}
}

.ol-hero-slider__item-caption{
	@extend .ol-layout--middle;
	text-align:center;
	width:100%;
	max-width:1200px;
	z-index:2;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
	-webkit-transition-delay:1000ms;
	-moz-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	transition-delay:500ms;
	h4{
		font-weight:400;
		font-size:$font24;
	}
	h3{
		font-weight:700;
		font-size:$font54;
	}
}






.ol-home-brand{
	padding:$spacing30 0 $spacing60;
	background-color:$color-white;
}

.ol-home-brand__list{
	margin:0 -15px;
}

.ol-home-brand__list-item{
	float:left;
	box-sizing:border-box;
	position:relative;
}

.ol-home-brand__list-item-wrapper{
	margin:0 $spacing15 $spacing30;
	overflow:hidden;
	position:relative;
	box-shadow:1px 1px 5px rgba(0,0,0,.15);
}

.ol-home-brand__list-item-link{
	height:300px;
	box-sizing:border-box;
	background-size:cover;
	background-repeat:no-repeat;
	transition:all .3s ease;
	display:block;
	&:hover{
		transform: scale(1.1);
	}
}

.ol-home-brand__list-item-link--nolink{
	&:hover{
		transform: scale(1);
	}
}

.ol-home-brand__list-item-logo{
	padding:$spacing10 0;
	width:150px;
	height:150px;
	box-sizing:border-box;
	background-color:$color-grey-bg;
	text-align:center;
	position:absolute;
	top:0;
	box-shadow:1px 1px 3px rgba(0,0,0,.15);
	transition:all .3s ease;
	span{
		margin-bottom:$spacing10;
		display:block;
	}
	img{
		height:80px;
	}

	.ol-link{
		font-size:12px;
		text-decoration:none;
	}
}

.ol-home-brand__list-item--procellabed{
	width:30%;
	.ol-home-brand__list-item-link{
		height:630px;
		background-position:center top;
	}

	.ol-home-brand__list-item-logo{
		right:0;
	}
}

.ol-home-brand__list-item--olympicbed{
	width:70%;
	.ol-home-brand__list-item-link{
		background-position:center bottom;
	}

	.ol-home-brand__list-item-logo{
		left:0;
	}
}

.ol-home-brand__list-item--bearland{
	width:35%;
	.ol-home-brand__list-item-link{
		background-position:center top;
	}

	.ol-home-brand__list-item-logo{
		right:0;
	}
}

.ol-home-brand__list-item--note1{
	width:35%;
	.ol-home-brand__list-item-link{
		background-color:$color-grey-bg;
		text-align:center;
		padding:$spacing60;
	}

	h4{
		margin-bottom:$spacing30;
		padding-bottom:$spacing15;
		position:relative;
		&:after{
			position:absolute;
			bottom:0;
			left:0;
			right:0;
			margin:0 auto;
			height:1px;
			width:30%;
			content:"";
			background-color:$color-black;
		}
	}

	p{
		height:75px;
		overflow:hidden;
	}
}

.ol-home-brand__list-item--procellasofa{
	width:65%;
	.ol-home-brand__list-item-link{
		background-position:center bottom;
	}

	.ol-home-brand__list-item-logo{
		left:0;
	}
}

.ol-home-brand__list-item--frontline{
	width:35%;
	.ol-home-brand__list-item-link{
		background-position:center bottom;
	}

	.ol-home-brand__list-item-logo{
		right:0;
	}
}

.ol-home-brand__list-item--note2{
	width:30%;
	.ol-home-brand__list-item-link{
		background-color:$color-ungu;
		color:$color-white;
		text-align:center;
		padding:$spacing60;
	}

	h4{
		margin-bottom:$spacing30;
		padding-bottom:$spacing15;
		position:relative;
		color:$color-white;
		&:after{
			position:absolute;
			bottom:0;
			left:0;
			right:0;
			margin:0 auto;
			height:1px;
			width:30%;
			content:"";
			background-color:$color-white;
		}
	}

	p{
		height:75px;
		overflow:hidden;
	}
}

.ol-home-brand__list-item--olymplast{
	width:35%;
	.ol-home-brand__list-item-link{
		background-position:center top;
	}

	.ol-home-brand__list-item-logo{
		right:0;
	}
}

.ol-home-brand__list-item--olympicfurniture{
	width:35%;
	.ol-home-brand__list-item-link{
		background-position:center top;
	}

	.ol-home-brand__list-item-logo{
		left:0;
	}
}







.ol-home-catalog{
	padding:$spacing30 0 $spacing60;
	background-color:$color-white;
}

.ol-home-catalog__list{
	margin:0 -15px;
	position:relative;

	.slick-arrow{
		position:absolute;
		top:40%;
		z-index:3;
		width:40px;
		height:40px;
		background-color:$color-white;
		font-size:0;
		box-shadow:1px 1px 5px rgba(0,0,0,.15);
		transition:all .3s ease;
		&:after{
			position:absolute;
			width:20px;
			height:20px;
			content:"";
			left:8px;
			top:10px;
		}
		&:hover{
			background-color:$color-ungu;
		}
	}

	.slick-prev{
		left:-5px;
		&:after{
			background-position:0 -34px;
		}

		&:hover{
			&:after{
				background-position:0 -70px;
			}
		}
	}

	.slick-next{
		right:-5px;
		&:after{
			background-position:0 -52px;
		}

		&:hover{
			&:after{
				background-position:0 -90px;
			}
		}
	}
}

.ol-home-catalog__list-item-wrapper{
	padding:0 $spacing15;
}

.ol-home-catalog__list-item-box{
	background-color:$color-grey-bg;
	box-shadow:1px 1px 5px rgba(0,0,0,0.15);
}

.ol-home-catalog__list-item-color{
	margin:$spacing15 0;
	span{
		cursor:pointer;
		width:20px !important;
		height:20px;
		box-sizing:border-box;
		border:1px solid $color-grey-bg;
	}
}

.ol-home-catalog__list-item-images{
	display:table;
	width:100%;
	a{
		display:table-cell;
		height:300px;
		vertical-align:middle;
		text-align:center;
		margin:0 auto;
		overflow:hidden;
		&:hover{
			img{
				transform: scale(1.1);
			}
		}
	}
	img{
		width:100%;
		margin:0 auto;
		transition:all .3s ease;
	}
}

.ol-home-catalog__list-item-title{
	font-size:$font16;
	font-weight:500;
}










.ol-home-award{
	padding:$spacing30 0 $spacing60;
	background-color:$color-white;
}

.ol-home-award__list{
	margin:0 -15px;
}

.ol-home-award__list-item-wrapper{
	padding:0 $spacing15;
}

.ol-home-award__list-item-images{
	display:table;
	width:100%;
	span{
		display:table-cell;
		height:80px;
		vertical-align:middle;
		text-align:center;
		margin:0 auto;
	}
	img{
		height:80px;
		margin:0 auto;
	}
}

.ol-home-award__list-item-title{
	font-size:$font16;
	font-weight:500;
	margin-top:$spacing30;
}









.ol-home-news{
	padding:$spacing30 0 $spacing60;
	background-color:$color-white;
}

.ol-home-news__list{
	margin:0 -15px;
	float:left;
	width:70%;


	/*.slick-arrow{
		position:absolute;
		bottom:0;
		z-index:3;
		width:40px;
		height:40px;
		background-color:$color-white;
		font-size:0;
		box-shadow:1px 1px 5px rgba(0,0,0,.15);
	}

	.slick-prev{
		left:-5px;
	}

	.slick-next{
		right:-5px;
	}*/
}

.ol-home-news__list-item-wrapper{
	padding:0 $spacing15;
}

.ol-home-news__list-item-images{
	overflow:hidden;
	a{
		display:block;
		height:260px;
		overflow:hidden;
		&:hover{
			img{
				transform: scale(1.1);
			}
		}
	}
	img{
		width:100%;
		min-height:260px;
		transition:all .3s ease;
	}
}

.ol-home-news__list-item-desc{
	padding:$spacing15;
	background-color:$color-grey-bg;
}

.ol-home-news__list-item-desc-meta{
	font-size:11px;
}

.ol-home-news__list-item-desc-title{
	margin:$spacing15 0;
	height:56px;
	overflow:hidden;
	font-weight:500;
}

.ol-home-news__list-item-desc-text{
	margin-bottom:$spacing30;
	height:75px;
	overflow:hidden;
}

.ol-home-news__content{
	padding:$spacing60 $spacing30 $spacing60*3;
	box-sizing:border-box;
	background-color:$color-grey-bg;
	text-align:center;
	float:right;
	width:30%;
	position:relative;


	h4{
		margin-bottom:$spacing60;
		padding-bottom:$spacing15;
		position:relative;
		&:after{
			position:absolute;
			bottom:0;
			left:0;
			right:0;
			margin:0 auto;
			height:1px;
			width:30%;
			content:"";
			background-color:$color-black;
		}
	}

	p{
		height:195px;
	}
}

.ol-home-news__nav{
	position:absolute;
	bottom:$spacing60;
	left:0;
	right:0;
	margin:0 auto;
}

.ol-home-news__nav-btn{
	width:40px;
	height:40px;
	background-color:$color-white;
	box-shadow:1px 1px 5px rgba(0,0,0,.15);
	position:relative;
	&:after{
		position:absolute;
		width:20px;
		height:20px;
		content:"";
		left:8px;
		top:10px;
		&:hover{
			-webkit-filter: brightness(0) invert(1);
				filter: brightness(0) invert(1);
		}
	}
	&:hover{
		background-color:$color-ungu;
	}
}


.ol-home-news__nav-btn--left{
	&:after{
		background-position:0 -34px;
	}

	&:hover{
		&:after{
			background-position:0 -70px;
		}
	}
}

.ol-home-news__nav-btn--right{
	margin-left:$spacing15;

	&:after{
		background-position:0 -52px;
	}

	&:hover{
		&:after{
			background-position:0 -90px;
		}
	}
}