@@include('./_components/start-html.html')


<!-- Code Here -->
<!-- ol-hero-slider -->
<section class="ol-hero-slider">

	<div class="ol-hero-slider__item" style="background-image:url(images/og-hero.jpg);">
		<div class="ol-hero-slider__item-caption">
			<h4>LOOK BEAUTIFUL</h4>
			<h3>THIS SEASON 1</h3>
		</div>
	</div>

	<div class="ol-hero-slider__item" style="background-image:url(images/og-hero2.jpg);">
		<div class="ol-hero-slider__item-caption">
			<h4>LOOK BEAUTIFUL</h4>
			<h3>THIS SEASON 2</h3>
		</div>
	</div>

	<div class="ol-hero-slider__item" style="background-image:url(images/og-hero3.jpg);">
		<div class="ol-hero-slider__item-caption">
			<h4>LOOK BEAUTIFUL</h4>
			<h3>THIS SEASON 3</h3>
		</div>
	</div>

</section>
<!-- /ol-hero-slider -->



<!-- ol-home-brand -->
<section class="ol-home-brand">

	
	<div class="ol-wrapper ol-wrapper--large">


		<div class="ol-section-title">
			<h2>BRAND</h2>
		</div>


		<div class="ol-home-brand__list add-fix">


			<div class="ol-home-brand__list-item ol-home-brand__list-item--procellabed">
				<div class="ol-home-brand__list-item-wrapper">
					<a href="#" class="ol-home-brand__list-item-link" style="background-image:url(images/og-img-procella-springbed.jpg);">
					</a>
					<span class="ol-home-brand__list-item-logo">
						<span>
							<img src="images/og-procella-springbed.png">
						</span>
						<a href="#" class="ol-link" target="_blank">LIHAT</a>
					</span>
				</div>
			</div>

			<div class="ol-home-brand__list-item ol-home-brand__list-item--olympicbed">
				<div class="ol-home-brand__list-item-wrapper">

					<a href="#" class="ol-home-brand__list-item-link" style="background-image:url(images/og-img-bearland.jpg);">
					</a>
					<span class="ol-home-brand__list-item-logo">
						<span>
							<img src="images/og-olumpic-springbed.png">
						</span>
						<a href="#" class="ol-link" target="_blank">LIHAT</a>
					</span>

				</div>
			</div>

			<div class="ol-home-brand__list-item ol-home-brand__list-item--bearland">
				<div class="ol-home-brand__list-item-wrapper">

					<a href="#" class="ol-home-brand__list-item-link" style="background-image:url(images/og-img-olympic-springbed.jpg);">
					</a>
					<span class="ol-home-brand__list-item-logo">
						<span>
							<img src="images/og-bearland.png">
						</span>
						<a href="#" class="ol-link" target="_blank">LIHAT</a>
					</span>

				</div>
			</div>

			<div class="ol-home-brand__list-item ol-home-brand__list-item--note1">
				<div class="ol-home-brand__list-item-wrapper">
					<div class="ol-home-brand__list-item-link ol-home-brand__list-item-link--nolink">
						<h4>TEMUKAN INSPIRASI</h4>
						<p>Lorem ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe</p>
					</div>
				</div>
			</div>

			<div class="ol-home-brand__list-item ol-home-brand__list-item--procellasofa">
				<div class="ol-home-brand__list-item-wrapper">

					<a href="#" class="ol-home-brand__list-item-link" style="background-image:url(images/og-img-procella-sofa.jpg);">
					</a>
					<span class="ol-home-brand__list-item-logo">
						<span>
							<img src="images/og-procella-sofa.png">
						</span>
						<a href="#" class="ol-link" target="_blank">LIHAT</a>
					</span>


				</div>
			</div>

			<div class="ol-home-brand__list-item ol-home-brand__list-item--frontline">
				<div class="ol-home-brand__list-item-wrapper">

					<a href="#" class="ol-home-brand__list-item-link" style="background-image:url(images/og-img-frontline.jpg);">
					</a>
					<span class="ol-home-brand__list-item-logo">
						<span>
							<img src="images/og-front-line.png">
						</span>
						<a href="#" class="ol-link" target="_blank">LIHAT</a>
					</span>

				</div>
			</div>

			<div class="ol-home-brand__list-item ol-home-brand__list-item--note2">
				<div class="ol-home-brand__list-item-wrapper">
					<div class="ol-home-brand__list-item-link ol-home-brand__list-item-link--nolink">
						<h4>LENGKAPI KOLEKSIMU</h4>
						<p>Lorem ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe</p>
					</div>
				</div>
			</div>

			<div class="ol-home-brand__list-item ol-home-brand__list-item--olymplast">
				<div class="ol-home-brand__list-item-wrapper">

					<a href="#" class="ol-home-brand__list-item-link" style="background-image:url(images/og-img-olymplast.jpg);">
					</a>
					<span class="ol-home-brand__list-item-logo">
						<span>
							<img src="images/og-olymplast.png">
						</span>
						<a href="#" class="ol-link" target="_blank">LIHAT</a>
					</span>


				</div>
			</div>

			<div class="ol-home-brand__list-item ol-home-brand__list-item--olympicfurniture">
				<div class="ol-home-brand__list-item-wrapper">

					<a href="#" class="ol-home-brand__list-item-link" style="background-image:url(images/og-img-olympic-furniture.jpg);">
					</a>
					<span class="ol-home-brand__list-item-logo">
						<span>
							<img src="images/og-olympic-furniture.png">
						</span>
						<a href="#" class="ol-link" target="_blank">LIHAT</a>
					</span>

				</div>
			</div>

		</div>


	</div>


</section>
<!-- /ol-home-brand -->


<!-- ol-home-catalog -->
<section class="ol-home-catalog">

	
	<div class="ol-wrapper ol-wrapper--large">


		<div class="ol-section-title">
			<h2>Katalog</h2>
		</div>


		<!-- ol-home-catalog__list -->
		<div class="ol-home-catalog__list">

			<div class="ol-home-catalog__list-item">
				<div class="ol-home-catalog__list-item-wrapper">

					<!-- ol-home-catalog__list-item-box -->
					<div class="ol-home-catalog__list-item-box">

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-1.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-2.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-3.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

					</div>
					<!-- /ol-home-catalog__list-item-box -->

					<!-- ol-home-catalog__list-item-color -->
					<nav class="ol-home-catalog__list-item-color">
						<span style="background-color:#1abc9c;"></span>
						<span style="background-color:#2ecc71;"></span>
						<span style="background-color:#3498db;"></span>
					</nav>
					<!-- /ol-home-catalog__list-item-color -->

					<h3 class="ol-home-catalog__list-item-title">
						<a href="#">Olympic Table</a>
					</h3>

				</div>
			</div>

			<div class="ol-home-catalog__list-item">
				<div class="ol-home-catalog__list-item-wrapper">

					<!-- ol-home-catalog__list-item-box -->
					<div class="ol-home-catalog__list-item-box">

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-2.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-3.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-4.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

					</div>
					<!-- /ol-home-catalog__list-item-box -->

					<!-- ol-home-catalog__list-item-color -->
					<nav class="ol-home-catalog__list-item-color">
						<span style="background-color:#1abc9c;"></span>
						<span style="background-color:#2ecc71;"></span>
						<span style="background-color:#3498db;"></span>
					</nav>
					<!-- /ol-home-catalog__list-item-color -->

					<h3 class="ol-home-catalog__list-item-title">
						<a href="#">Olymplast Cabinet</a>
					</h3>

				</div>
			</div>

			<div class="ol-home-catalog__list-item">
				<div class="ol-home-catalog__list-item-wrapper">

					<!-- ol-home-catalog__list-item-box -->
					<div class="ol-home-catalog__list-item-box">

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-3.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-4.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-1.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

					</div>
					<!-- /ol-home-catalog__list-item-box -->

					<!-- ol-home-catalog__list-item-color -->
					<nav class="ol-home-catalog__list-item-color">
						<span style="background-color:#1abc9c;"></span>
						<span style="background-color:#2ecc71;"></span>
						<span style="background-color:#3498db;"></span>
					</nav>
					<!-- /ol-home-catalog__list-item-color -->


					<h3 class="ol-home-catalog__list-item-title">
						<a href="#">Olympic Springbed</a>
					</h3>

				</div>
			</div>

			<div class="ol-home-catalog__list-item">
				<div class="ol-home-catalog__list-item-wrapper">

					<!-- ol-home-catalog__list-item-box -->
					<div class="ol-home-catalog__list-item-box">

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-4.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-1.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-2.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

					</div>
					<!-- /ol-home-catalog__list-item-box -->

					<!-- ol-home-catalog__list-item-color -->
					<nav class="ol-home-catalog__list-item-color">
						<span style="background-color:#1abc9c;"></span>
						<span style="background-color:#2ecc71;"></span>
						<span style="background-color:#3498db;"></span>
					</nav>
					<!-- /ol-home-catalog__list-item-color -->

					<h3 class="ol-home-catalog__list-item-title">
						<a href="#">Olympic Chair</a>
					</h3>

				</div>
			</div>

			<div class="ol-home-catalog__list-item">
				<div class="ol-home-catalog__list-item-wrapper">

					<!-- ol-home-catalog__list-item-box -->
					<div class="ol-home-catalog__list-item-box">

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-1.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-2.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-3.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

					</div>
					<!-- /ol-home-catalog__list-item-box -->

					<!-- ol-home-catalog__list-item-color -->
					<nav class="ol-home-catalog__list-item-color">
						<span style="background-color:#1abc9c;"></span>
						<span style="background-color:#2ecc71;"></span>
						<span style="background-color:#3498db;"></span>
					</nav>
					<!-- /ol-home-catalog__list-item-color -->

					<h3 class="ol-home-catalog__list-item-title">
						<a href="#">Olympic Table</a>
					</h3>

				</div>
			</div>

			<div class="ol-home-catalog__list-item">
				<div class="ol-home-catalog__list-item-wrapper">

					<!-- ol-home-catalog__list-item-box -->
					<div class="ol-home-catalog__list-item-box">

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-2.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-3.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-4.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

					</div>
					<!-- /ol-home-catalog__list-item-box -->

					<!-- ol-home-catalog__list-item-color -->
					<nav class="ol-home-catalog__list-item-color">
						<span style="background-color:#1abc9c;"></span>
						<span style="background-color:#2ecc71;"></span>
						<span style="background-color:#3498db;"></span>
					</nav>
					<!-- /ol-home-catalog__list-item-color -->

					<h3 class="ol-home-catalog__list-item-title">
						<a href="#">Olymplast Cabinet</a>
					</h3>

				</div>
			</div>

			<div class="ol-home-catalog__list-item">
				<div class="ol-home-catalog__list-item-wrapper">

					<!-- ol-home-catalog__list-item-box -->
					<div class="ol-home-catalog__list-item-box">

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-3.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-4.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-1.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

					</div>
					<!-- /ol-home-catalog__list-item-box -->

					<!-- ol-home-catalog__list-item-color -->
					<nav class="ol-home-catalog__list-item-color">
						<span style="background-color:#1abc9c;"></span>
						<span style="background-color:#2ecc71;"></span>
						<span style="background-color:#3498db;"></span>
					</nav>
					<!-- /ol-home-catalog__list-item-color -->

					<h3 class="ol-home-catalog__list-item-title">
						<a href="#">Olympic Springbed</a>
					</h3>

				</div>
			</div>

			<div class="ol-home-catalog__list-item">
				<div class="ol-home-catalog__list-item-wrapper">

					<!-- ol-home-catalog__list-item-box -->
					<div class="ol-home-catalog__list-item-box">

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-4.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-1.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

						<figure class="ol-home-catalog__list-item-images">
							<a href="#">
								<img src="images/og-product-2.png" alt="Nama Produk" title="Nama Produk">
							</a>
						</figure>

					</div>
					<!-- /ol-home-catalog__list-item-box -->

					<!-- ol-home-catalog__list-item-color -->
					<nav class="ol-home-catalog__list-item-color">
						<span style="background-color:#1abc9c;"></span>
						<span style="background-color:#2ecc71;"></span>
						<span style="background-color:#3498db;"></span>
					</nav>
					<!-- /ol-home-catalog__list-item-color -->


					<h3 class="ol-home-catalog__list-item-title">
						<a href="#">Olympic Chair</a>
					</h3>

				</div>
			</div>

		</div>
		<!-- /ol-home-catalog__list -->


	</div>


</section>
<!-- /ol-home-catalog -->


<!-- ol-home-award -->
<section class="ol-home-award">

	
	<div class="ol-wrapper ol-wrapper--large">


		<div class="ol-section-title">
			<h2>PENGHARGAAN</h2>
		</div>


		<!-- ol-home-award__list -->
		<div class="ol-home-award__list">

			<div class="ol-home-award__list-item">
				<div class="ol-home-award__list-item-wrapper">

					<figure class="ol-home-award__list-item-images">
						<span>
							<img src="images/og-award-1.png" alt="Nama Penghargaan" title="Nama Penghargaan">
						</span>
					</figure>

				</div>
			</div>

			<div class="ol-home-award__list-item">
				<div class="ol-home-award__list-item-wrapper">

					<figure class="ol-home-award__list-item-images">
						<span>
							<img src="images/og-award-2.png" alt="Nama Penghargaan" title="Nama Penghargaan">
						</span>
					</figure>

				</div>
			</div>

			<div class="ol-home-award__list-item">
				<div class="ol-home-award__list-item-wrapper">

					<figure class="ol-home-award__list-item-images">
						<span>
							<img src="images/og-award-3.png" alt="Nama Penghargaan" title="Nama Penghargaan">
						</span>
					</figure>

				</div>
			</div>

			<div class="ol-home-award__list-item">
				<div class="ol-home-award__list-item-wrapper">

					<figure class="ol-home-award__list-item-images">
						<span>
							<img src="images/og-award-4.png" alt="Nama Penghargaan" title="Nama Penghargaan">
						</span>
					</figure>

				</div>
			</div>

			<div class="ol-home-award__list-item">
				<div class="ol-home-award__list-item-wrapper">

					<figure class="ol-home-award__list-item-images">
						<span>
							<img src="images/og-award-5.png" alt="Nama Penghargaan" title="Nama Penghargaan">
						</span>
					</figure>

				</div>
			</div>

			<div class="ol-home-award__list-item">
				<div class="ol-home-award__list-item-wrapper">

					<figure class="ol-home-award__list-item-images">
						<span>
							<img src="images/og-award-6.png" alt="Nama Penghargaan" title="Nama Penghargaan">
						</span>
					</figure>

				</div>
			</div>

		</div>
		<!-- /ol-home-award__list -->


		<!-- ol-section-all -->
		<div class="ol-section-all">
			<a href="#" class="ol-btn">LIHAT SELENGKAPNYA</a>
		</div>
		<!-- /ol-section-all -->


	</div>


</section>
<!-- /ol-home-award -->



<!-- ol-home-news -->
<section class="ol-home-news">

	
	<div class="ol-wrapper ol-wrapper--large">


		<div class="ol-section-title">
			<h2>BERITA</h2>
		</div>


		<div class="ol-home-news__wrapper add-fix">

			<!-- ol-home-news__list -->
			<div class="ol-home-news__list">


				<div class="ol-home-news__list-item">
					<div class="ol-home-news__list-item-wrapper">

						<figure class="ol-home-news__list-item-images">
							<a href="#">
								<img src="images/og-news-1.jpg" alt="Title News" title="Title News">
							</a>
						</figure>

						<div class="ol-home-news__list-item-desc">
							<span class="ol-home-news__list-item-desc-meta">Admin | 7 November 2019</span>
							<h3 class="ol-home-news__list-item-desc-title">
								<a href="#">Indonesia Best Brand Award Platinum</a>
							</h3>
							<p class="ol-home-news__list-item-desc-text">
								Lorem ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe.
							</p>
							<a href="#" class="ol-link">SELENGKAPNYA</a>

						</div>

					</div>
				</div>


				<div class="ol-home-news__list-item">
					<div class="ol-home-news__list-item-wrapper">

						<figure class="ol-home-news__list-item-images">
							<a href="#">
								<img src="images/og-news-2.jpg" alt="Title News" title="Title News">
							</a>
						</figure>

						<div class="ol-home-news__list-item-desc">
							<span class="ol-home-news__list-item-desc-meta">Admin | 7 November 2019</span>
							<h3 class="ol-home-news__list-item-desc-title">
								<a href="#">Indonesia Best Brand Award Platinum</a>
							</h3>
							<p class="ol-home-news__list-item-desc-text">
								Lorem ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe.
							</p>
							<a href="#" class="ol-link">SELENGKAPNYA</a>

						</div>

					</div>
				</div>


				<div class="ol-home-news__list-item">
					<div class="ol-home-news__list-item-wrapper">

						<figure class="ol-home-news__list-item-images">
							<a href="#">
								<img src="images/og-news-1.jpg" alt="Title News" title="Title News">
							</a>
						</figure>

						<div class="ol-home-news__list-item-desc">
							<span class="ol-home-news__list-item-desc-meta">Admin | 7 November 2019</span>
							<h3 class="ol-home-news__list-item-desc-title">
								<a href="#">Indonesia Best Brand Award Platinum</a>
							</h3>
							<p class="ol-home-news__list-item-desc-text">
								Lorem ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe.
							</p>
							<a href="#" class="ol-link">SELENGKAPNYA</a>

						</div>

					</div>
				</div>

			</div>
			<!-- /ol-home-news__list -->


			<div class="ol-home-news__content">
				<div class="ol-home-news__content-wrapper">

					<h4>OLYMPIC TERKINI</h4>

					<p>Lorem ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe ipsum dolor dewe</p>


					<div class="ol-home-news__nav">
						<button class="ol-home-news__nav-btn ol-home-news__nav-btn--left"></button>
						<button class="ol-home-news__nav-btn ol-home-news__nav-btn--right"></button>
					</div>


				</div>
			</div>

		</div>


	</div>


</section>
<!-- /ol-home-news -->


@@include('./_components/end-html.html')
