<!-- ol-home-product -->
<section class="ol-home-product">

	<div class="ol-wrapper ol-wrapper--large test">

		<!-- ol-home-product__nav -->
		<nav class="ol-home-product__nav">
			<a class="ol-home-product__nav-link">TERLARIS</a>
			<a class="ol-home-product__nav-link">TERPOPULER</a>
			<a class="ol-home-product__nav-link">TERBARU</a>
		</nav>
		<!-- /ol-home-product__nav -->


		<!-- ol-home-product__content -->
		<div class="ol-home-product__content">

			<!-- ol-home-product__content-item -->
			<div class="ol-home-product__content-item add-fix">

					<!-- ol-home-product__content-item-desc -->
					<div class="ol-home-product__content-item-desc">
						<h2 class="ol-section-title">
							PRODUK<br><span>TERLARIS</span>
						</h2>
						<p class="ol-home-product__content-item-desc-text">
							Lorem ipsum dolor sit amet, ipsum dolor sit amet
						</p>
						<a href="product.html" class="ol-btn">Selengkapnya</a>
					</div>
					<!-- /ol-home-product__content-item-desc -->

					<!-- ol-home-product__content-item-list -->
					<div class="ol-home-product__content-item-list">

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat2.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
								</small>
							</div>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
								</small>
							</div>

						</div>

					</div>
					<!-- /ol-home-product__content-item-list -->
			</div>
			<!-- ol-home-product__content-item -->

			<!-- ol-home-product__content-item -->
			<div class="ol-home-product__content-item add-fix">

					<!-- ol-home-product__content-item-desc -->
					<div class="ol-home-product__content-item-desc">
						<h2 class="ol-section-title">
							PRODUK<br><span>TERPOPULER</span>
						</h2>
						<p class="ol-home-product__content-item-desc-text">
							Lorem ipsum dolor sit amet, ipsum dolor sit amet
						</p>
						<a href="product.html" class="ol-btn">Selengkapnya</a>
					</div>
					<!-- /ol-home-product__content-item-desc -->

					<!-- ol-home-product__content-item-list -->
					<div class="ol-home-product__content-item-list">

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat2.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
								</small>
							</div>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
								</small>
							</div>

						</div>

					</div>
					<!-- /ol-home-product__content-item-list -->
			</div>
			<!-- ol-home-product__content-item -->

			<!-- ol-home-product__content-item -->
			<div class="ol-home-product__content-item add-fix">

					<!-- ol-home-product__content-item-desc -->
					<div class="ol-home-product__content-item-desc">
						<h2 class="ol-section-title">
							PRODUK<br><span>TERBARU</span>
						</h2>
						<p class="ol-home-product__content-item-desc-text">
							Lorem ipsum dolor sit amet, ipsum dolor sit amet
						</p>
						<a href="product.html" class="ol-btn">Selengkapnya</a>
					</div>
					<!-- /ol-home-product__content-item-desc -->

					<!-- ol-home-product__content-item-list -->
					<div class="ol-home-product__content-item-list">

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat2.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
								</small>
							</div>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
								</small>
							</div>

						</div>

					</div>
					<!-- /ol-home-product__content-item-list -->
			</div>
			<!-- ol-home-product__content-item -->

		</div>
		<!-- /ol-home-product__content -->



	</div>

</section>
<!-- /ol-home-product -->@@include('./_components/start-html.html')


<!-- Code Here -->
<!-- ol-hero-slider -->
<section class="ol-hero-slider">

	<a href="#" target="_blank" class="ol-hero-slider__item" style="background-image:url(images/og-hero.jpg);">
	</a>

	<a href="#" target="_blank" class="ol-hero-slider__item" style="background-image:url(images/og-hero.jpg);">
	</a>

</section>
<!-- /ol-hero-slider -->


<!-- ol-home-flash -->
<section class="ol-home-flash">

	<div class="ol-wrapper ol-wrapper--large">

		<div class="ol-home-flash-content">

			<h2 class="ol-section-title">FLASH <span>SALE</span></h2>

			<!-- ol-home-flash-list -->
			<div class="ol-home-flash-list">

				<!-- ol-home-flash-list__item -->
				<div class="ol-home-flash-list__item add-fix">

					<div class="ol-home-flash-list__item-desc">

						<h3 class="ol-home-flash-list__item-desc-title">
							<a href="#">1 Dining Room Set</a>
						</h3>

						<div class="ol-home-flash-list__item-desc-price">
							<span class="ol-home-flash-list__item-desc-price--real">Rp 5.000.000</span>
							<h4 class="ol-home-flash-list__item-desc-price--discount">Rp 4.000.000</h4>
						</div>

						<p class="ol-home-flash-list__item-desc-text">Lorem ipsum dolor ipsum dolor ipsum dolor ipsum ipsum dolor ipsum</p>

						<a href="#" class="ol-btn">Beli Sekarang</a>

					</div>


					<figure class="ol-home-flash-list__item-images">
						<img src="images/og-flashsale.png" alt="" title="">
					</figure>

				</div>
				<!-- /ol-home-flash-list__item -->

				<!-- ol-home-flash-list__item -->
				<div class="ol-home-flash-list__item add-fix">

					<div class="ol-home-flash-list__item-desc">

						<h3 class="ol-home-flash-list__item-desc-title">
							<a href="#">2 Dining Room Set</a>
						</h3>

						<div class="ol-home-flash-list__item-desc-price">
							<span class="ol-home-flash-list__item-desc-price--real">Rp 5.000.000</span>
							<h4 class="ol-home-flash-list__item-desc-price--discount">Rp 4.000.000</h4>
						</div>

						<p class="ol-home-flash-list__item-desc-text">Lorem ipsum dolor ipsum dolor ipsum dolor ipsum ipsum dolor ipsum</p>

						<a href="#" class="ol-btn">Beli Sekarang</a>

					</div>


					<figure class="ol-home-flash-list__item-images">
						<img src="images/og-flashsale.png" alt="" title="">
					</figure>

				</div>
				<!-- /ol-home-flash-list__item -->

			</div>
			<!-- /ol-home-flash-list -->


			<!-- ol-home-flash__counting -->
			<div class="ol-home-flash__counting add-fix">
				<div class="ol-home-flash__counting-item">
					<div class="ol-home-flash__counting-item-wrapper">
						<span>10</span>
						<small>JAM</small>
					</div>
				</div>
				<div class="ol-home-flash__counting-item">
					<div class="ol-home-flash__counting-item-wrapper">
						<span>03</span>
						<small>MENIT</small>
					</div>
				</div>
				<div class="ol-home-flash__counting-item">
					<div class="ol-home-flash__counting-item-wrapper">
						<span>35</span>
						<small>DETIK</small>
					</div>
				</div>
			</div>
			<!-- /ol-home-flash__counting -->

		</div>

	</div>

</section>
<!-- /ol-home-flash -->


<!-- <section class="ol-home-interior">
	<div class="ol-wrapper--large ol-wrapper">

		<h2 class="ol-section-title">DESAIN <span>INTERIOR</span></h2>


		<div class="ol-home-interior__list add-fix">
			
			<div class="ol-home-interior__list-item">
				<div class="ol-home-interior__list-item-wrapper">
					<figure class="ol-home-interior__list-item-figure">
						<a href="#"><img src="images/og-suasana.jpg" alt="" title=""></a>
					</figure>
					<h3 class="ol-home-interior__list-item-title">
						<a href="#">Bed Room</a>
					</h3>
				</div>
			</div>

			<div class="ol-home-interior__list-item">
				<div class="ol-home-interior__list-item-wrapper">
					<figure class="ol-home-interior__list-item-figure">
						<a href="#"><img src="images/og-suasana.jpg" alt="" title=""></a>
					</figure>
					<h3 class="ol-home-interior__list-item-title">
						<a href="#">Bed Room</a>
					</h3>
				</div>
			</div>

			<div class="ol-home-interior__list-item">
				<div class="ol-home-interior__list-item-wrapper">
					<figure class="ol-home-interior__list-item-figure">
						<a href="#"><img src="images/og-suasana.jpg" alt="" title=""></a>
					</figure>
					<h3 class="ol-home-interior__list-item-title">
						<a href="#">Bed Room</a>
					</h3>
				</div>
			</div>

		</div>

	</div>
</section> -->


<!-- ol-home-category -->
<section class="ol-home-category">
	
	<div class="ol-wrapper ol-wrapper--large">

		<h2 class="ol-section-title">KATEGORI <span>PRODUK</span></h2>

		<div class="ol-home-category__list add-fix">

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat1.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Kasur</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat2.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Kabinet</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat3.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Sofa</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat4.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Kursi</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat5.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Meja</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat6.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Dapur</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat7.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Anak - anak</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat8.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Sale</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

		</div>

	</div>

</section>
<!-- /ol-home-category -->


<!-- ol-home-info -->
<section class="ol-home-info">
	
	<div class="ol-wrapper ol-wrapper--large">

		<!-- ol-home-info__list -->
		<div class="ol-home-info__list add-fix">

			<div class="ol-home-info__list-item">
				<div class="ol-home-info__list-item-wrapper">
					<i class="ol-home-info__list-item-ico" style="background-position:0 -97px;width:75px;"></i>
					<span>Gratis Ongkos Kirim</span>
				</div>
			</div>

			<div class="ol-home-info__list-item">
				<div class="ol-home-info__list-item-wrapper">
					<i class="ol-home-info__list-item-ico" style="background-position:-15px -149px;width:43px;"></i>
					<span>Garansi 2 Tahun</span>
				</div>
			</div>

			<div class="ol-home-info__list-item">
				<div class="ol-home-info__list-item-wrapper">
					<i class="ol-home-info__list-item-ico" style="background-position:-10px -203px;width:52px;"></i>
					<span>Harga Jujur Sepanjang Tahun</span>
				</div>
			</div>

		</div>
		<!-- /ol-home-info__list -->

	</div>

</section>
<!-- /ol-home-info -->


<!-- ol-home-inspiration -->
<section class="ol-home-inspiration">

	<!-- ol-home-inspiration__item -->
	<div class="ol-home-inspiration__item" style="background-image:url(images/og-suasana.jpg);">

		<div class="ol-wrapper ol-wrapper--large">

			<div class="ol-home-inspiration__item-caption">
				<h3>Ruang Tamu Minimalis</h3>
				<p>Hadirkan Kenyamanan yang Maksimal</p>
			</div>

		</div>

		<div class="ol-home-inspiration__item-overlay">

			<div class="ol-home-inspiration__item-overlay-content ol-wrapper ol-wrapper--large">

				<!-- ol-home-inspiration__item-overlay-content-item -->
				<div class="ol-home-inspiration__item-overlay-content-item" style="top:300px;left:200px;">
					<span class="ol-home-inspiration__item-overlay-content-nud"></span>
					<div class="ol-home-inspiration__item-overlay-content-item-wrapper">
						<figure>
							<img src="images/og-produk2.png" alt="" title="">
						</figure>
						<h3>
							<a href="#">Sofa</a>
						</h3>
						<p>Rp 6.000.000</p>
						<a href="#" class="ol-btn">Beli Sekarang</a>
					</div>
				</div>
				<!-- /ol-home-inspiration__item-overlay-content-item -->

				<!-- ol-home-inspiration__item-overlay-content-item -->
				<div class="ol-home-inspiration__item-overlay-content-item" style="top:100px;left:800px;">
					<span class="ol-home-inspiration__item-overlay-content-nud"></span>
					<div class="ol-home-inspiration__item-overlay-content-item-wrapper">
						<figure>
							<img src="images/og-produk2.png" alt="" title="">
						</figure>
						<h3>
							<a href="#">Sofa</a>
						</h3>
						<p>Rp 6.000.000</p>
						<a href="#" class="ol-btn">Beli Sekarang</a>
					</div>
				</div>
				<!-- /ol-home-inspiration__item-overlay-content-item -->

			</div>

		</div>

	</div>
	<!-- /ol-home-inspiration__item -->

	<!-- ol-home-inspiration__item -->
	<div class="ol-home-inspiration__item" style="background-image:url(images/og-suasana.jpg);">

		<div class="ol-wrapper ol-wrapper--large">

			<div class="ol-home-inspiration__item-caption">
				<h3>Ruang Tamu Minimalis</h3>
				<p>Hadirkan Kenyamanan yang Maksimal</p>
			</div>

		</div>

		<div class="ol-home-inspiration__item-overlay">

			<div class="ol-home-inspiration__item-overlay-content ol-wrapper ol-wrapper--large">


				<!-- ol-home-inspiration__item-overlay-content-item -->
				<div class="ol-home-inspiration__item-overlay-content-item" style="top:200px;left:300px;">
					<span class="ol-home-inspiration__item-overlay-content-nud"></span>
					<div class="ol-home-inspiration__item-overlay-content-item-wrapper">
						<figure>
							<img src="images/og-produk2.png" alt="" title="">
						</figure>
						<h3>
							<a href="#">Sofa</a>
						</h3>
						<p>Rp 6.000.000</p>
						<a href="#" class="ol-btn">Beli Sekarang</a>
					</div>
				</div>
				<!-- /ol-home-inspiration__item-overlay-content-item -->

				<!-- ol-home-inspiration__item-overlay-content-item -->
				<div class="ol-home-inspiration__item-overlay-content-item" style="top:200px;left:1000px;">
					<span class="ol-home-inspiration__item-overlay-content-nud"></span>
					<div class="ol-home-inspiration__item-overlay-content-item-wrapper">
						<figure>
							<img src="images/og-produk2.png" alt="" title="">
						</figure>
						<h3>
							<a href="#">Sofa</a>
						</h3>
						<p>Rp 6.000.000</p>
						<a href="#" class="ol-btn">Beli Sekarang</a>
					</div>
				</div>
				<!-- /ol-home-inspiration__item-overlay-content-item -->


			</div>

		</div>

	</div>
	<!-- /ol-home-inspiration__item -->

</section>
<!-- /ol-home-inspiration -->


<!-- ol-home-product -->
<section class="ol-home-product">

	<div class="ol-wrapper ol-wrapper--large test">

		<!-- ol-home-product__nav -->
		<nav class="ol-home-product__nav">
			<a class="ol-home-product__nav-link">TERLARIS</a>
			<a class="ol-home-product__nav-link">TERPOPULER</a>
			<a class="ol-home-product__nav-link">TERBARU</a>
		</nav>
		<!-- /ol-home-product__nav -->


		<!-- ol-home-product__content -->
		<div class="ol-home-product__content">

			<!-- ol-home-product__content-item -->
			<div class="ol-home-product__content-item add-fix">

					<!-- ol-home-product__content-item-desc -->
					<div class="ol-home-product__content-item-desc">
						<h2 class="ol-section-title">
							PRODUK<br><span>TERLARIS</span>
						</h2>
						<p class="ol-home-product__content-item-desc-text">
							Lorem ipsum dolor sit amet, ipsum dolor sit amet
						</p>
						<a href="product.html" class="ol-btn">Selengkapnya</a>
					</div>
					<!-- /ol-home-product__content-item-desc -->

					<!-- ol-home-product__content-item-list -->
					<div class="ol-home-product__content-item-list">

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat2.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
								</small>
							</div>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
								</small>
							</div>

						</div>

					</div>
					<!-- /ol-home-product__content-item-list -->
			</div>
			<!-- ol-home-product__content-item -->

			<!-- ol-home-product__content-item -->
			<div class="ol-home-product__content-item add-fix">

					<!-- ol-home-product__content-item-desc -->
					<div class="ol-home-product__content-item-desc">
						<h2 class="ol-section-title">
							PRODUK<br><span>TERPOPULER</span>
						</h2>
						<p class="ol-home-product__content-item-desc-text">
							Lorem ipsum dolor sit amet, ipsum dolor sit amet
						</p>
						<a href="product.html" class="ol-btn">Selengkapnya</a>
					</div>
					<!-- /ol-home-product__content-item-desc -->

					<!-- ol-home-product__content-item-list -->
					<div class="ol-home-product__content-item-list">

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat2.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
								</small>
							</div>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
								</small>
							</div>

						</div>

					</div>
					<!-- /ol-home-product__content-item-list -->
			</div>
			<!-- ol-home-product__content-item -->

			<!-- ol-home-product__content-item -->
			<div class="ol-home-product__content-item add-fix">

					<!-- ol-home-product__content-item-desc -->
					<div class="ol-home-product__content-item-desc">
						<h2 class="ol-section-title">
							PRODUK<br><span>TERBARU</span>
						</h2>
						<p class="ol-home-product__content-item-desc-text">
							Lorem ipsum dolor sit amet, ipsum dolor sit amet
						</p>
						<a href="product.html" class="ol-btn">Selengkapnya</a>
					</div>
					<!-- /ol-home-product__content-item-desc -->

					<!-- ol-home-product__content-item-list -->
					<div class="ol-home-product__content-item-list">

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat2.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
								</small>
							</div>

						</div>

						<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
								</small>
							</div>

						</div>

					</div>
					<!-- /ol-home-product__content-item-list -->
			</div>
			<!-- ol-home-product__content-item -->

		</div>
		<!-- /ol-home-product__content -->



	</div>

</section>
<!-- /ol-home-product -->


<section class="ol-home-type-product">
	<div class="ol-wrapper ol-wrapper--large">
	
		<div class="ol-home-type-product__list">
			<div class="ol-home-type-product__list-item">
				<div class="ol-home-type-product__list-item-wrapper">
					<div class="ol-home-type-product__list-item-title">
						<h4>TERLARIS</h4>
						<a href="#">Selengkapnya</a>
					</div>
					<div class="ol-home-type-product__list-item-box">

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="#">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="#">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="#">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="#">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="#">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="#">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="ol-home-type-product__list-item">
				<div class="ol-home-type-product__list-item-wrapper">
					<div class="ol-home-type-product__list-item-title">
						<h4>TERLARIS</h4>
						<a href="#">Selengkapnya</a>
					</div>
					<div class="ol-home-type-product__list-item-box">

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="#">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="#">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="#">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="#">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="#">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="#">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="ol-home-type-product__list-item">
				<div class="ol-home-type-product__list-item-wrapper">
					<div class="ol-home-type-product__list-item-title">
						<h4>TERLARIS</h4>
						<a href="#">Selengkapnya</a>
					</div>
					<div class="ol-home-type-product__list-item-box">

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="#">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="#">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="#">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="#">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="#">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="#">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>	
</section>

<!-- ol-home-review -->
<section class="ol-home-review">

	<div class="ol-wrapper ol-wrapper--large">

		<h2 class="ol-section-title">REVIEW <span>PELANGGAN</span></h2>

		<!-- ol-home-review__list -->
		<div class="ol-home-review__list">

			<div class="ol-home-review__list-item add-fix">

				<figure class="ol-home-review__list-item-figure">
					<img src="images/og-testi1.png" alt="" title="">
				</figure>

				<div class="ol-home-review__list-item-desc">
					<p class="ol-home-review__list-item-desc-text">
						Lorem ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor
					</p>
					<h4 class="ol-home-review__list-item-desc-name">
						Lusi
					</h4>
					<div class="ol-home-review__list-item-desc-star">
					</div>
				</div>

			</div>


			<div class="ol-home-review__list-item add-fix">

				<figure class="ol-home-review__list-item-figure">
					<img src="images/og-testi2.png" alt="" title="">
				</figure>

				<div class="ol-home-review__list-item-desc">
					<p class="ol-home-review__list-item-desc-text">
						Lorem ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor
					</p>
					<h4 class="ol-home-review__list-item-desc-name">
						Lusi
					</h4>
					<div class="ol-home-review__list-item-desc-star">
					</div>
				</div>

			</div>

			<div class="ol-home-review__list-item add-fix">

				<figure class="ol-home-review__list-item-figure">
					<img src="images/og-testi2.png" alt="" title="">
				</figure>

				<div class="ol-home-review__list-item-desc">
					<p class="ol-home-review__list-item-desc-text">
						Lorem ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor
					</p>
					<h4 class="ol-home-review__list-item-desc-name">
						Lusi
					</h4>
					<div class="ol-home-review__list-item-desc-star">
					</div>
				</div>

			</div>

		</div>
		<!-- /ol-home-review__list -->

	</div>

</section>
<!-- /ol-home-review -->


<!-- ol-additional -->
<section class="ol-additional">

	<div class="ol-wrapper ol-wrapper--large add-fix">

		<div class="ol-additional__item ol-additional__payment">
			<h2 class="ol-additional__title">PEMBAYARAN</h2>
			<div class="ol-additional__payment-ico">
				<img src="images/og-bank.png" alt="" title="">
			</div>
		</div>

		<div class="ol-additional__item ol-additional__app">
			<h2 class="ol-additional__title">DOWNLOAD APLIKASI</h2>
			<div class="ol-additional__app-list">
				<a href="#" target="_blank" class="ol-additional__app-list-download">
					<img src="images/og-google-play.png" alt="" title="">
				</a>
			</div>
		</div>

	</div>

</section>
<!-- /ol-additional -->


@@include('./_components/end-html.html')
