@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-branch-map">
	<iframe class="ol-branch-map__frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126629.17828534111!2d112.71350278006963!3d-7.335716693906229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fe8ed91f8ca1%3A0x6214dfafec937d74!2sOlympic%20Furniture!5e0!3m2!1sid!2sid!4v1577329707157!5m2!1sid!2sid" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section>


<section class="ol-section ol-branch">
	<div class="ol-wrapper ol-wrapper--large">

		<div class="ol-breadcrumb">
			<a href="#" class="ol-breadcrumb__link">Home</a> >
			<a href="#" class="ol-breadcrumb__link">Kategori</a> >
			<a href="#" class="ol-breadcrumb__link">Sofa</a>
		</div>

		<div class="ol-branch__search ol-wrapper ol-wrapper--small">
			<h4 class="ol-branch__search-label">Pencarian Toko</h4>
			<div class="ol-hero-page--inspiration-searchbar__form">
				<form>
					<input type="text" name="" class="ol-hero-page--inspiration-searchbar__form-input" placeholder="Pencarian Inspirasi"><button class="ol-hero-page--inspiration-searchbar__form-btn">
						<i class="ol-fa fas fa-search"></i>
					</button>
				</form>
			</div>
		</div>

		<div class="ol-branch__list">

			<div class="ol-branch__list-item">
				<div class="ol-branch__list-item-wrapper">
					<figure class="ol-branch__list-item-figure">
						<a href="#" target="_blank">
							<img src="images/1.jpg" alt="" title="">
						</a>
					</figure>

					<div class="ol-branch__list-item-desc">
						<h3 class="ol-branch__list-item-desc-title">
							<a href="#" target="_blank">Surabaya</a>
						</h3>
						<p class="ol-branch__list-item-desc-text">Jl. Sumatra 20, Gubeng, Surabaya, Jawa Timur, Indonesia</p>

						<a href="#" class="ol-btn" target="_blank"><i class="ol-fa fas fa-map-marker-alt"></i> Arahkan Saya</a>

					</div>

				</div>
			</div>

			<div class="ol-branch__list-item">
				<div class="ol-branch__list-item-wrapper">
					<figure class="ol-branch__list-item-figure">
						<a href="#" target="_blank">
							<img src="images/1.jpg" alt="" title="">
						</a>
					</figure>

					<div class="ol-branch__list-item-desc">
						<h3 class="ol-branch__list-item-desc-title">
							<a href="#" target="_blank">Surabaya</a>
						</h3>
						<p class="ol-branch__list-item-desc-text">Jl. Sumatra 20, Gubeng, Surabaya, Jawa Timur, Indonesia</p>

						<a href="#" class="ol-btn" target="_blank"><i class="ol-fa fas fa-map-marker-alt"></i> Arahkan Saya</a>

					</div>

				</div>
			</div>

			<div class="ol-branch__list-item">
				<div class="ol-branch__list-item-wrapper">
					<figure class="ol-branch__list-item-figure">
						<a href="#" target="_blank">
							<img src="images/1.jpg" alt="" title="">
						</a>
					</figure>

					<div class="ol-branch__list-item-desc">
						<h3 class="ol-branch__list-item-desc-title">
							<a href="#" target="_blank">Surabaya</a>
						</h3>
						<p class="ol-branch__list-item-desc-text">Jl. Sumatra 20, Gubeng, Surabaya, Jawa Timur, Indonesia</p>

						<a href="#" class="ol-btn" target="_blank"><i class="ol-fa fas fa-map-marker-alt"></i> Arahkan Saya</a>

					</div>

				</div>
			</div>

			<div class="ol-branch__list-item">
				<div class="ol-branch__list-item-wrapper">
					<figure class="ol-branch__list-item-figure">
						<a href="#" target="_blank">
							<img src="images/1.jpg" alt="" title="">
						</a>
					</figure>

					<div class="ol-branch__list-item-desc">
						<h3 class="ol-branch__list-item-desc-title">
							<a href="#" target="_blank">Surabaya</a>
						</h3>
						<p class="ol-branch__list-item-desc-text">Jl. Sumatra 20, Gubeng, Surabaya, Jawa Timur, Indonesia</p>

						<a href="#" class="ol-btn" target="_blank"><i class="ol-fa fas fa-map-marker-alt"></i> Arahkan Saya</a>

					</div>

				</div>
			</div>

			<div class="ol-branch__list-item">
				<div class="ol-branch__list-item-wrapper">
					<figure class="ol-branch__list-item-figure">
						<a href="#" target="_blank">
							<img src="images/1.jpg" alt="" title="">
						</a>
					</figure>

					<div class="ol-branch__list-item-desc">
						<h3 class="ol-branch__list-item-desc-title">
							<a href="#" target="_blank">Surabaya</a>
						</h3>
						<p class="ol-branch__list-item-desc-text">Jl. Sumatra 20, Gubeng, Surabaya, Jawa Timur, Indonesia</p>

						<a href="#" class="ol-btn" target="_blank"><i class="ol-fa fas fa-map-marker-alt"></i> Arahkan Saya</a>

					</div>

				</div>
			</div>

			<div class="ol-branch__list-item">
				<div class="ol-branch__list-item-wrapper">
					<figure class="ol-branch__list-item-figure">
						<a href="#" target="_blank">
							<img src="images/1.jpg" alt="" title="">
						</a>
					</figure>

					<div class="ol-branch__list-item-desc">
						<h3 class="ol-branch__list-item-desc-title">
							<a href="#" target="_blank">Surabaya</a>
						</h3>
						<p class="ol-branch__list-item-desc-text">Jl. Sumatra 20, Gubeng, Surabaya, Jawa Timur, Indonesia</p>

						<a href="#" class="ol-btn" target="_blank"><i class="ol-fa fas fa-map-marker-alt"></i> Arahkan Saya</a>

					</div>

				</div>
			</div>

			<div class="ol-branch__list-item">
				<div class="ol-branch__list-item-wrapper">
					<figure class="ol-branch__list-item-figure">
						<a href="#" target="_blank">
							<img src="images/1.jpg" alt="" title="">
						</a>
					</figure>

					<div class="ol-branch__list-item-desc">
						<h3 class="ol-branch__list-item-desc-title">
							<a href="#" target="_blank">Surabaya</a>
						</h3>
						<p class="ol-branch__list-item-desc-text">Jl. Sumatra 20, Gubeng, Surabaya, Jawa Timur, Indonesia</p>

						<a href="#" class="ol-btn" target="_blank"><i class="ol-fa fas fa-map-marker-alt"></i> Arahkan Saya</a>

					</div>

				</div>
			</div>

			<div class="ol-branch__list-item">
				<div class="ol-branch__list-item-wrapper">
					<figure class="ol-branch__list-item-figure">
						<a href="#" target="_blank">
							<img src="images/1.jpg" alt="" title="">
						</a>
					</figure>

					<div class="ol-branch__list-item-desc">
						<h3 class="ol-branch__list-item-desc-title">
							<a href="#" target="_blank">Surabaya</a>
						</h3>
						<p class="ol-branch__list-item-desc-text">Jl. Sumatra 20, Gubeng, Surabaya, Jawa Timur, Indonesia</p>

						<a href="#" class="ol-btn" target="_blank"><i class="ol-fa fas fa-map-marker-alt"></i> Arahkan Saya</a>

					</div>

				</div>
			</div>

			<div class="ol-branch__list-item">
				<div class="ol-branch__list-item-wrapper">
					<figure class="ol-branch__list-item-figure">
						<a href="#" target="_blank">
							<img src="images/1.jpg" alt="" title="">
						</a>
					</figure>

					<div class="ol-branch__list-item-desc">
						<h3 class="ol-branch__list-item-desc-title">
							<a href="#" target="_blank">Surabaya</a>
						</h3>
						<p class="ol-branch__list-item-desc-text">Jl. Sumatra 20, Gubeng, Surabaya, Jawa Timur, Indonesia</p>

						<a href="#" class="ol-btn" target="_blank"><i class="ol-fa fas fa-map-marker-alt"></i> Arahkan Saya</a>

					</div>

				</div>
			</div>


		</div>


		<div class="ol-paging">
			<a href="#" class="ol-paging__link">&laquo;</a>
			<a href="#" class="ol-paging__link">1</a>
			<a href="#" class="ol-paging__link">2</a>
			<a href="#" class="ol-paging__link active">3</a>
			<a href="#" class="ol-paging__link">&raquo;</a>
		</div>

	</div>
</section>



@@include('./_components/end-html.html')
