@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-product ol-product-detail">
	<div class="ol-wrapper ol-wrapper--large">

		<div class="ol-breadcrumb">
			<a href="#" class="ol-breadcrumb__link">Home</a> >
			<a href="#" class="ol-breadcrumb__link">Kategori</a> >
			<a href="#" class="ol-breadcrumb__link">Sofa</a>
		</div>

		<h2 class="ol-section-title">Keranjang <span>Belanja</span></h2>

		<div class="ol-cart">
			
			<div class="ol-cart-list">
				<div class="ol-cart-list__head">
					<div class="ol-cart-list__head-item">Produk</div>
					<div class="ol-cart-list__head-item">Warna</div>
					<div class="ol-cart-list__head-item">Harga</div>
					<div class="ol-cart-list__head-item">Jumlah</div>
					<div class="ol-cart-list__head-item">Subtotal</div>
				</div>
				<div class="ol-cart-list__body">

					<div class="ol-cart-list__body-wrapper">
						<div class="ol-cart-list__body-item">
							<figure class="ol-cart-list__body-item-figure">
								<a href="product-detail.html" target="_blank">
									<img src="images/og-produk1.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-cart-list__body-item-desc">
								<h3 class="ol-cart-list__body-item-desc-name">
									<a href="product-detail.html" target="_blank">Sofa Kuning Lucu Sekali</a>
								</h3>
								<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
							</div>
						</div>
						<div class="ol-cart-list__body-item">
							Coklat
						</div>
						<div class="ol-cart-list__body-item">
							<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
							<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
							</small>
						</div>
						<div class="ol-cart-list__body-item">
							<div class="ol-input-qty">
								<span class="ol-input-qty__btn">-</span>
								<input type="text" name="" class="ol-input" value="1">
								<span class="ol-input-qty__btn">+</span>
							</div>
						</div>
						<div class="ol-cart-list__body-item">
							Rp 798.000
						</div>
						<a class="ol-cart-list__body-item-close" href="#" title="Hapus">
							<i class="ol-fa fas fa-times"></i>
						</a>
					</div>

					<div class="ol-cart-list__body-wrapper">
						<div class="ol-cart-list__body-item">
							<figure class="ol-cart-list__body-item-figure">
								<a href="product-detail.html" target="_blank">
									<img src="images/og-produk1.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-cart-list__body-item-desc">
								<h3 class="ol-cart-list__body-item-desc-name">
									<a href="product-detail.html" target="_blank">Sofa Kuning Lucu Sekali</a>
								</h3>
								<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
							</div>
						</div>
						<div class="ol-cart-list__body-item">
							Coklat
						</div>
						<div class="ol-cart-list__body-item">
							<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
							<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
							</small>
						</div>
						<div class="ol-cart-list__body-item">
							<div class="ol-input-qty">
								<span class="ol-input-qty__btn">-</span>
								<input type="text" name="" class="ol-input" value="1">
								<span class="ol-input-qty__btn">+</span>
							</div>
						</div>
						<div class="ol-cart-list__body-item">
							Rp 798.000
						</div>
						<a class="ol-cart-list__body-item-close" href="#" title="Hapus">
							<i class="ol-fa fas fa-times"></i>
						</a>
					</div>

					<div class="ol-cart-list__body-wrapper">
						<div class="ol-cart-list__body-item">
							<figure class="ol-cart-list__body-item-figure">
								<a href="product-detail.html" target="_blank">
									<img src="images/og-produk1.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-cart-list__body-item-desc">
								<h3 class="ol-cart-list__body-item-desc-name">
									<a href="product-detail.html" target="_blank">Sofa Kuning Lucu Sekali</a>
								</h3>
								<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
							</div>
						</div>
						<div class="ol-cart-list__body-item">
							Coklat
						</div>
						<div class="ol-cart-list__body-item">
							<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
							<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
							</small>
						</div>
						<div class="ol-cart-list__body-item">
							<div class="ol-input-qty">
								<span class="ol-input-qty__btn">-</span>
								<input type="text" name="" class="ol-input" value="1">
								<span class="ol-input-qty__btn">+</span>
							</div>
						</div>
						<div class="ol-cart-list__body-item">
							Rp 798.000
						</div>
						<a class="ol-cart-list__body-item-close" href="#" title="Hapus">
							<i class="ol-fa fas fa-times"></i>
						</a>
					</div>

				</div>

				<div class="ol-cart-list__footer">
					<div class="ol-cart-list__footer-item">
						<div>
							<a onclick="showVoucher()" class="ol-btn">
								<img src="images/og-voucher.png" alt="" title=""> Pilih Voucher
							</a>
							<span>Catatan</span>
							<input type="text" name="" class="ol-input" placeholder="Tulis Pesan (Opsional)">
						</div>
						<p>Dapatkan <strong>diskon 25%</strong> dengan melengkapi profil Anda. <a onclick="showPopup()">Lengkapi Sekarang</a></p>
					</div>
					<div class="ol-cart-list__footer-item">
						<dl class="ol-cart-list__footer-item-total">
							<dt>Subtotal</dt>
							<dd>Rp 2.534.000</dd>
							<dt>Biaya Pengiriman</dt>
							<dd>Gratis</dd>
							<dt><strong>Total</strong></dt>
							<dd><strong>Rp 2.534.000</strong></dd>
						</dl>
						<a href="profile-cart.html" class="ol-btn">Checkout</a>
					</div>
				</div>
			</div>


			<div class="ol-product-content ol-product-related add-fix">

				<h2 class="ol-section-title">
					PRODUK <span>LAINNYA</span>
				</h2>

				<div class="ol-product-content__center-list">

				<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="product-detail.html">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="product-detail.html">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat2.png" alt="" title="">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">White Table</a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
							<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
							</small>
						</div>

						<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat1.png" alt="" title="">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">White Table</a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
							<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
							</small>
						</div>

						<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat1.png" alt="" title="">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">White Table</a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
							</small>
						</div>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat1.png" alt="" title="">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">White Table</a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
							</small>
						</div>

					</div>

			</div>

			</div>
		
		</div>

	</div>



	<div class="ol-popup ol-popup--voucher">
		<div class="ol-popup-wrapper ol-popup-wrapper--average">

			<div class="ol-popup-box ol-popup-box--address">
				<a class="ol-popup-box__close" onclick="showVoucher()">
					<i class="ol-fa fas fa-times"></i>
				</a>

				<div class="ol-popup-box__voucher">
					<div class="ol-popup-box__voucher-input">
						<h4>Pakai Promo</h4>
						<div class="add-fix">
							<form>
								<input type="text" name="" class="ol-input" placeholder="Masukkan Kode Promo">
								<input type="submit" value="Terapkan" name="" class="ol-btn">
							</form>
						</div>
					</div>


					<div class="ol-popup-box__voucher-list">
						<h4>Promo yang bisa dipakai</h4>

						<div class="ol-popup-box__voucher-list-item ol-popup-box__voucher-list-item--use">
							<div class="ol-popup-box__voucher-list-item-info">
								<p>Diskon 25% Min. Blj Rp 0</p>
								<span>Hingga : 30 Juni 2021</span>
								<a class="ol-popup-box__voucher-list-item-snk-link" onclick="showSnkVoucher(this, 1)">S&K</a>
							</div>
							<a href="#" class="ol-btn">Pakai</a>
							<div class="ol-popup-box__voucher-list-item-snk-content" id="snkv1">
								<a onclick="hideSnkVoucher()"><i class="ol-fa fas fa-arrow-left"></i> Kembali</a>
								<div>
									
									<h4>Potongan Langsung 5% Min. Blj Rp800rb s/d 100rb</h4>
									<p>Syarat dan Ketentuan</p>
									<ul>
										<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</li>
										<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</li>
										<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</li>
										<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</li>
										<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</li>
										<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</li>
										<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</li>
										
									</ul>
								</div>
							</div>
						</div>

						<div class="ol-popup-box__voucher-list-item ol-popup-box__voucher-list-item--use">
							<div class="ol-popup-box__voucher-list-item-info">
								<p>Diskon 25% Min. Blj Rp 0</p>
								<span>Hingga : 30 Juni 2021</span>
								<a class="ol-popup-box__voucher-list-item-snk-link" onclick="showSnkVoucher(this, 2)">S&K</a>
							</div>
							<a href="#" class="ol-btn">Pakai</a>
							<div class="ol-popup-box__voucher-list-item-snk-content" id="snkv2">
								<a onclick="hideSnkVoucher()"><i class="ol-fa fas fa-arrow-left"></i> Kembali</a>
								<div>
									
									<h4>Potongan Langsung 5% Min. Blj Rp800rb s/d 100rb</h4>
									<p>Syarat dan Ketentuan</p>
									<ul>
										<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</li>
										<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="ol-popup-box__voucher-list-item ol-popup-box__voucher-list-item--claim">
							<div class="ol-popup-box__voucher-list-item-info">
								<p>Diskon 25% Min. Blj Rp 0</p>
								<span>Hingga : 30 Juni 2021</span>
								<a class="ol-popup-box__voucher-list-item-snk-link" onclick="showSnkVoucher(this, 3)">S&K</a>
							</div>
							<a href="#" class="ol-btn">Klaim</a>
							<div class="ol-popup-box__voucher-list-item-snk-content" id="snkv3">
								<a onclick="hideSnkVoucher()"><i class="ol-fa fas fa-arrow-left"></i> Kembali</a>
								<div>
									
									<h4>Potongan Langsung 5% Min. Blj Rp800rb s/d 100rb</h4>
									<p>Syarat dan Ketentuan</p>
									<ul>
										<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</li>
										<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo</li>
									</ul>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>

	<div class="ol-popup ol-popup--general">
		<div class="ol-popup-wrapper">

			<div class="ol-popup-box ol-popup-box--address">
				<h4 class="ol-popup-box__title">Informasi Akun</h4>
				<a class="ol-popup-box__close" onclick="showPopup()">
					<i class="ol-fa fas fa-times"></i>
				</a>
				<div class="ol-popup-box__form add-fix">
					<form action="cart-notif.html">
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Jenis Kelamin</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input-select">
									<option value="0">Laki -Laki</option>
									<option value="1">Wanita</option>
								</select>
							</div>
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Tanggal Lahir</label>
							<input type="text" name="" class="ol-input">
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Facebook</label>
							<input type="text" name="" class="ol-input">
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Instagram</label>
							<input type="text" name="" class="ol-input">
						</div>
						
						<div class="ol-input-box ol-input-box--full">
							<input type="submit" name="" class="ol-btn" value="Simpan">
						</div>
					</form>
				</div>

			</div>

		</div>
	</div>



</section>



@@include('./_components/end-html.html')
