@@include('./_components/start-checkout.html')


<!-- Code Here -->

<section class="ol-section ol-checkout">
	<div class="ol-wrapper ol-wrapper--large">
		

		<h2 class="ol-section-title">Checkout</h2>

		<div class="ol-checkout-step">
			<div class="ol-checkout-step__item ol-checkout-step__item--progress">
				<div><i class="ol-fa fas fa-check"></i></div>
				<span>Profil</span>
			</div>
			<div class="ol-checkout-step__item ol-checkout-step__item--progress">
				<div><i class="ol-fa fas fa-truck"></i></div>
				<span>Pengiriman Pesanan</span>
			</div>
			<div class="ol-checkout-step__item ol-checkout-step__item--progress">
				<div><i class="ol-fa fas fa-clipboard-list"></i></div>
				<span>Ulasan Pesanan</span>
			</div>
			<div class="ol-checkout-step__item">
				<div><i class="ol-fa far fa-credit-card"></i></div>
				<span>Metode Pengiriman</span>
			</div>
		</div>

		<div class="ol-checkout-content">
			

			<div class="ol-cart">
			
				<div class="ol-cart-list">

					<p class="ol-cart-list--stock-notif">Cek kembali harga barang yang akan di pesan</p>

					<div class="ol-cart-list__head">
						<div class="ol-cart-list__head-item">Produk</div>
						<div class="ol-cart-list__head-item">Warna</div>
						<div class="ol-cart-list__head-item">Harga</div>
						<div class="ol-cart-list__head-item">Jumlah</div>
						<div class="ol-cart-list__head-item">Subtotal</div>
					</div>
					<div class="ol-cart-list__body">

						<div class="ol-cart-list__body-wrapper">
							<div class="ol-cart-list__body-item">
								<figure class="ol-cart-list__body-item-figure">
									<a href="product-detail.html" target="_blank">
										<img src="images/og-produk1.png" alt="" title="">
									</a>
								</figure>
								<div class="ol-cart-list__body-item-desc">
									<h3 class="ol-cart-list__body-item-desc-name">
										<a href="product-detail.html" target="_blank">Sofa Kuning Lucu Sekali</a>
									</h3>
									<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
								</div>
							</div>
							<div class="ol-cart-list__body-item">
								Coklat
							</div>
							<div class="ol-cart-list__body-item">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>
							<div class="ol-cart-list__body-item">
								1
							</div>
							<div class="ol-cart-list__body-item">
								Rp 798.000
							</div>
						</div>

						<div class="ol-cart-list__body-wrapper">
							<div class="ol-cart-list__body-item">
								<figure class="ol-cart-list__body-item-figure">
									<a href="product-detail.html" target="_blank">
										<img src="images/og-produk1.png" alt="" title="">
									</a>
								</figure>
								<div class="ol-cart-list__body-item-desc">
									<h3 class="ol-cart-list__body-item-desc-name">
										<a href="product-detail.html" target="_blank">Sofa Kuning Lucu Sekali</a>
									</h3>
									<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
								</div>
							</div>
							<div class="ol-cart-list__body-item">
								Coklat
							</div>
							<div class="ol-cart-list__body-item">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>
							<div class="ol-cart-list__body-item">
								1
							</div>
							<div class="ol-cart-list__body-item">
								Rp 798.000
							</div>
						</div>

						<div class="ol-cart-list__body-wrapper">
							<div class="ol-cart-list__body-item">
								<figure class="ol-cart-list__body-item-figure">
									<a href="product-detail.html" target="_blank">
										<img src="images/og-produk1.png" alt="" title="">
									</a>
								</figure>
								<div class="ol-cart-list__body-item-desc">
									<h3 class="ol-cart-list__body-item-desc-name">
										<a href="product-detail.html" target="_blank">Sofa Kuning Lucu Sekali</a>
									</h3>
									<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
								</div>
							</div>
							<div class="ol-cart-list__body-item">
								Coklat
							</div>
							<div class="ol-cart-list__body-item">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>
							<div class="ol-cart-list__body-item">
								1
							</div>
							<div class="ol-cart-list__body-item">
								Rp 798.000
							</div>
						</div>

					</div>

					<div class="ol-cart-list__footer">
						<div class="ol-cart-list__footer-item">
							<p>Kode Voucher : <strong>OLYMPIC123</strong></p>
							<p>Catatan : <strong>Lorem Ipsum</strong></p>
						</div>
						<div class="ol-cart-list__footer-item">
							<dl class="ol-cart-list__footer-item-total">
								<dt>Subtotal</dt>
								<dd>Rp 2.534.000</dd>
								<dt>Voucher</dt>
								<dd>- Rp 534.000</dd>
								<dt>Biaya Pengiriman</dt>
								<dd>Gratis</dd>
								<dt><strong>Total</strong></dt>
								<dd><strong>Rp 2.000.000</strong></dd>
							</dl>
						</div>
					</div>
				</div>

			
			</div>


		</div>

		<div class="ol-checkout-nav">
			<a href="checkout.html" class="ol-btn ol-btn--secondary"><i class="ol-fa fas fa-arrow-left"></i> Kembali</a>
			<a href="checkout-payment.html" class="ol-btn">Selanjutnya <i class="ol-fa fas fa-arrow-right"></i></a>
		</div>

	</div>
</section>



@@include('./_components/end-checkout.html')
