@@include('./_components/start-checkout.html')


<!-- Code Here -->

<section class="ol-section ol-checkout">
	<div class="ol-wrapper ol-wrapper--small">
		

		<div class="ol-checkout-content">
			

			<div class="ol-checkout-content__success">

				<h3 class="ol-checkout-content__success-ico">
					<i class="ol-fa far fa-check-circle"></i>
				</h3>

				<h2 class="ol-checkout-content__success-title">
					Selamat, Pesanan Anda<br>berhasil diproses.
				</h2>

				<p class="ol-checkout-content__success-text">Lorem ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor</p>


				<div class="ol-checkout-content__success-total">
					<h3>Informasi Pembayaran</h3>
					<h4>Rp 2.123.456</h4>
				</div>


				<ol class="ol-checkout-content__success-detail">
					<li class="ol-checkout-content__success-detail-item">
						Gunakan ATM / IBanking / mBanking / Setor tunai untuk transfer ke rekening berikut :


						<div class="ol-product-content-detail__desc-spec">

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">BCA <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<div>
										<p>No Rekening : <strong>25678900</strong></p>
										<p>Cabang : Wisma Asia</p>
										<p>Nama Rekening : PT. Graha Multi Bintang</p>

									</div>
								</div>
							</div>

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">BNI <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<div>
										<p>No Rekening : <strong>25678900</strong></p>
										<p>Cabang : Wisma Asia</p>
										<p>Nama Rekening : PT. Graha Multi Bintang</p>

									</div>
								</div>
							</div>

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">MANDIRI <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<div>
										<p>No Rekening : <strong>25678900</strong></p>
										<p>Cabang : Wisma Asia</p>
										<p>Nama Rekening : PT. Graha Multi Bintang</p>

									</div>
								</div>
							</div>

						</div>

					</li>

					<li class="ol-checkout-content__success-detail-item">
						Silahkan upload bukti transfer sebelum pukul 14.00 WIB.
					</li>

					<li class="ol-checkout-content__success-detail-item">
						Demi keamanan transaksi, mohon untuk tidak membagikan bukti atau konfirmasi pembayaran pesanan kepada siapapun. 
					</li>

					<li class="ol-checkout-content__success-detail-item">
						Bukti transfer akan dicek dalam 24 jam setelah diupload.
					</li>
				</ol>


			</div>
			

		</div>


		<div class="ol-checkout-nav">
			<a href="checkout-review.html" class="ol-btn">Upload Bukti Transfer Sekarang</a>
			<a href="checkout-success.html" class="ol-btn ol-btn--secondary">Upload Bukti Transfer Nanti</a>
		</div>

	</div>
</section>



@@include('./_components/end-checkout.html')
