@@include('./_components/start-checkout.html')


<!-- Code Here -->

<section class="ol-section ol-checkout">
	<div class="ol-wrapper ol-wrapper--small">
		

		<h2 class="ol-section-title">Checkout</h2>

		<div class="ol-checkout-step">
			<div class="ol-checkout-step__item ol-checkout-step__item--progress">
				<div><i class="ol-fa fas fa-check"></i></div>
				<span>Profil</span>
			</div>
			<div class="ol-checkout-step__item ol-checkout-step__item--progress">
				<div><i class="ol-fa fas fa-truck"></i></div>
				<span>Pengiriman Pesanan</span>
			</div>
			<div class="ol-checkout-step__item ol-checkout-step__item--progress">
				<div><i class="ol-fa fas fa-clipboard-list"></i></div>
				<span>Ulasan Pesanan</span>
			</div>
			<div class="ol-checkout-step__item ol-checkout-step__item--progress">
				<div><i class="ol-fa far fa-credit-card"></i></div>
				<span>Metode Pengiriman</span>
			</div>
		</div>

		<div class="ol-checkout-content">
			

			<div class="ol-checkout-content__payment">
				<div class="ol-checkout-content__payment-list">

					<div class="ol-checkout-content__payment-list-item">
						<div class="ol-checkout-content__payment-list-item-wrapper">
							<a href="#">
							<i class="ol-fa fas fa-credit-card"></i>
							<p>Cicilan Tanpa kartu Kredit</p>
							</a>
						</div>
					</div>

					<div class="ol-checkout-content__payment-list-item">
						<div class="ol-checkout-content__payment-list-item-wrapper">
							<a href="#">
							<i class="ol-fa fas fa-credit-card"></i>
							<p>Kartu Kredit / Debit</p>
							</a>
						</div>
					</div>

					<div class="ol-checkout-content__payment-list-item">
						<div class="ol-checkout-content__payment-list-item-wrapper">
							<a href="#">
							<i class="ol-fa fas fa-credit-card"></i>
							<p>Bank Transfer</p>
							</a>
						</div>
					</div>

					<div class="ol-checkout-content__payment-list-item">
						<div class="ol-checkout-content__payment-list-item-wrapper">
							<a href="#">
							<i class="ol-fa fas fa-credit-card"></i>
							<p>Bank Transfer (Cek Otomatis)</p>
							</a>
						</div>
					</div>

					<div class="ol-checkout-content__payment-list-item">
						<div class="ol-checkout-content__payment-list-item-wrapper">
							<a href="#">
							<i class="ol-fa fas fa-credit-card"></i>
							<p>E - Wallet</p>
							</a>
						</div>
					</div>

				</div>
			</div>
			

		</div>

		<div class="ol-checkout-nav">
			<a href="checkout-review.html" class="ol-btn ol-btn--secondary"><i class="ol-fa fas fa-arrow-left"></i> Kembali</a>
			<a href="checkout-success.html" class="ol-btn">Selanjutnya <i class="ol-fa fas fa-arrow-right"></i></a>
		</div>

	</div>
</section>



@@include('./_components/end-checkout.html')
