@@include('./_components/start-checkout.html')


<!-- Code Here -->

<section class="ol-section ol-checkout">
	<div class="ol-wrapper ol-wrapper--small">
		

		<h2 class="ol-section-title">Checkout</h2>

		<div class="ol-checkout-step">
			<div class="ol-checkout-step__item ol-checkout-step__item--progress">
				<div><i class="ol-fa fas fa-check"></i></div>
				<span>Profil</span>
			</div>
			<div class="ol-checkout-step__item ol-checkout-step__item--progress">
				<div><i class="ol-fa fas fa-truck"></i></div>
				<span>Pengiriman Pesanan</span>
			</div>
			<div class="ol-checkout-step__item">
				<div><i class="ol-fa fas fa-clipboard-list"></i></div>
				<span>Ulasan Pesanan</span>
			</div>
			<div class="ol-checkout-step__item">
				<div><i class="ol-fa far fa-credit-card"></i></div>
				<span>Metode Pembayaran</span>
			</div>
		</div>

		<div class="ol-checkout-content">
			<div class="ol-checkout-content__shipping">

				<div class="ol-checkout-content__shipping-list">
					<div class="ol-checkout-content__shipping-list-head">
						<div class="ol-checkout-content__shipping-list-head-item">
							Nama
						</div>
						<div class="ol-checkout-content__shipping-list-head-item">
							Telepon
						</div>
						<div class="ol-checkout-content__shipping-list-head-item">
							Alamat
						</div>
					</div>
					<div class="ol-checkout-content__shipping-list-body">
						<div class="ol-checkout-content__shipping-list-body-wrapper active">
							<div class="ol-checkout-content__shipping-list-body-item">
								Pras Perkasa
							</div>
							<div class="ol-checkout-content__shipping-list-body-item">
								083 831 969 653
							</div>
							<div class="ol-checkout-content__shipping-list-body-item">
								Jl. Keputran Panjunan 3 / 74, Kec. Genteng, 60271, Surabaya, Jawa Timur, Indonesia 
							</div>
							<i class="ol-fa far fa-check-circle"></i>
						</div>
						<div class="ol-checkout-content__shipping-list-body-wrapper">
							<div class="ol-checkout-content__shipping-list-body-item">
								Pras Perkasa
							</div>
							<div class="ol-checkout-content__shipping-list-body-item">
								083 831 969 653
							</div>
							<div class="ol-checkout-content__shipping-list-body-item">
								Jl. Keputran Panjunan 3 / 74, Kec. Genteng, 60271, Surabaya, Jawa Timur, Indonesia 
							</div>
						</div>
					</div>
				</div>

				<div class="ol-checkout-content__shipping-add">
					<a onclick="showPopup()" class="ol-btn">Tambah Alamat</a>
				</div>

			</div>

		</div>

		<div class="ol-checkout-nav">
			<a href="profile-cart.html" class="ol-btn ol-btn--secondary"><i class="ol-fa fas fa-arrow-left"></i> Kembali</a>
			<a href="checkout-review.html" class="ol-btn">Selanjutnya <i class="ol-fa fas fa-arrow-right"></i></a>
		</div>

	</div>



	<div class="ol-popup ol-popup--general">
		<div class="ol-popup-wrapper">

			<div class="ol-popup-box ol-popup-box--address">
				<h4 class="ol-popup-box__title">Tambah Alamat Pengiriman</h4>
				<a class="ol-popup-box__close" onclick="showPopup()">
					<i class="ol-fa fas fa-times"></i>
				</a>
				<div class="ol-popup-box__form add-fix">
					<form>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Nama Depan</label>
							<input type="text" name="" class="ol-input">
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Nama Belakang</label>
							<input type="text" name="" class="ol-input">
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Telepon</label>
							<input type="text" name="" class="ol-input">
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Provinsi</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input-select">
									<option value="0">Jawa Timur</option>
									<option value="1">Jawa Barat</option>
								</select>
							</div>
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Kota</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input-select">
									<option value="0">Surabaya</option>
									<option value="1">Jakarta</option>
								</select>
							</div>
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Kecamatan</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input-select">
									<option value="0">Rungkut</option>
									<option value="1">Genteng</option>
								</select>
							</div>
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Kelurahan</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input-select">
									<option value="0">Tegalsari</option>
									<option value="1">Embong Kaliasin</option>
								</select>
							</div>
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Kode Pos</label>
							<input type="text" name="" class="ol-input">
						</div>
						<div class="ol-input-box ol-input-box--full">
							<label class="ol-input-label">Alamat</label>
							<textarea name="" class="ol-input"></textarea>
							<label class="ol-product-content__sidebar-item-list-item-link">

								<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									Simpan sebagai alamat utama

								<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

							</label>
						</div>
						<div class="ol-input-box ol-input-box--full">
							<input type="submit" name="" class="ol-btn" value="Simpan">
						</div>
					</form>
				</div>

			</div>

		</div>
	</div>

</section>



@@include('./_components/end-checkout.html')
