@@include('./_components/start-login.html')


<!-- Code Here -->
<section class="ol-dashboard ol-product-detail">
	
	<div class="ol-wrapper ol-wrapper--large">


		<div class="ol-dashboard--wrapper">


			<aside class="ol-dashboard__sidebar">
				<h4 class="ol-dashboard__sidebar-title">Profil Pengguna</h4>
				
				<nav class="ol-dashboard__sidebar-nav">
					<a href="dashboard-account.html" class="ol-dashboard__sidebar-nav-link active">
						<i class="ol-fa fas fa-user"></i> Informasi Akun
					</a>
					<a href="dashboard-order.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-shopping-bag"></i> Pesanan
					</a>
					<a href="dashboard-address.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-map-marker-alt"></i> Alamat
					</a>
					<a href="dashboard-notif.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-bell"></i> Notifikasi
					</a>
					<a href="dashboard-project.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-warehouse"></i> Proyek Saya
					</a>
					<a href="dashboard-inspiration.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa far fa-images"></i> Inspirasi Saya
					</a>	
				</nav>

			</aside>


			<div class="ol-dashboard__container">
				
				<div class="ol-dashboard__account">
					<form>

						<div class="ol-dashboard__account-item">

							<h4 class="ol-dashboard__container-title">Informasi Akun</h4>
							<p class="ol-dashboard__account">Kelola informasi profil Anda untuk mengontrol, melindungi dan mengamankan akun.</p>

							<div class="add-fix">
								<div class="ol-input-box ol-input-box--full">
									<label class="ol-input-label">Foto</label>
									<div class="ol-dashboard__account-upload">
										<input type="file" name="" class="ol-input" onchange="readURL(this);">
										<span>
											<small>+</small>
											<i class="ol-fa fas fa-camera"></i>
										</span>
										<div>
											<img id="blah" src="images/og-profile.png" alt="your image" />
										</div>
									</div>
								</div>
								<div class="ol-input-box ol-input-box--half">
									<label class="ol-input-label">Nama Depan</label>
									<input type="text" name="" class="ol-input">
								</div>
								<div class="ol-input-box ol-input-box--half">
									<label class="ol-input-label">Nama Belakang</label>
									<input type="text" name="" class="ol-input">
								</div>
								<div class="ol-input-box ol-input-box--half">
									<label class="ol-input-label">Telepon</label>
									<input type="text" name="" class="ol-input">
								</div>
								<div class="ol-input-box ol-input-box--half">
									<label class="ol-input-label">Email</label>
									<input type="text" name="" class="ol-input">
								</div>
							</div>

						</div>

						<div class="ol-dashboard__account-item">

							<h4 class="ol-dashboard__container-title">Informasi Tambahan</h4>

							<div class="add-fix">
								<div class="ol-input-box ol-input-box--half">
									<label class="ol-input-label">Jenis Kelamin</label>
									<input type="text" name="" class="ol-input">
								</div>
								<div class="ol-input-box ol-input-box--half">
									<label class="ol-input-label">Tanggal Lahir</label>
									<input type="text" name="" class="ol-input">
								</div>
								<div class="ol-input-box ol-input-box--half">
									<label class="ol-input-label">Facebook</label>
									<input type="text" name="" class="ol-input">
								</div>
								<div class="ol-input-box ol-input-box--half">
									<label class="ol-input-label">Instagram</label>
									<input type="text" name="" class="ol-input">
								</div>
								<div class="ol-input-box ol-input-box--full">
									<input type="submit" name="" class="ol-btn" value="Simpan">
								</div>
							</div>

						</div>

					</form>
				</div>

			</div>


		</div>


	</div>

</section>



@@include('./_components/end-html.html')
