@@include('./_components/start-login.html')


<!-- Code Here -->
<section class="ol-dashboard ol-product-detail">
	
	<div class="ol-wrapper ol-wrapper--large">


		<div class="ol-dashboard--wrapper">


			<aside class="ol-dashboard__sidebar">
				<h4 class="ol-dashboard__sidebar-title">Profil Pengguna</h4>
				
				<nav class="ol-dashboard__sidebar-nav">
					<a href="dashboard-account.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-user"></i> Informasi Akun
					</a>
					<a href="dashboard-order.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-shopping-bag"></i> Pesanan
					</a>
					<a href="dashboard-address.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-map-marker-alt"></i> Alamat
					</a>
					<a href="dashboard-notif.html" class="ol-dashboard__sidebar-nav-link active">
						<i class="ol-fa fas fa-bell"></i> Notifikasi
					</a>
					<a href="dashboard-project.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-warehouse"></i> Proyek Saya
					</a>
					<a href="dashboard-inspiration.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa far fa-images"></i> Inspirasi Saya
					</a>	
				</nav>

			</aside>


			<div class="ol-dashboard__container">
				
				<div class="ol-dashboard__notif">
					
					<h4 class="ol-dashboard__container-title">Notifikasi</h4>
					<!-- <a onclick="showPopup()" class="ol-dashboard__address-add">+ Tambah Alamat</a> -->

					<div class="ol-dashboard__notif-list">
						<div class="ol-dashboard__notif-list-item ol-cart-floating__list-item--new">
							<div class="ol-cart-floating__list-item-prd">
								<a href="dashboard-order-detail.html" class="ol-notif-floating__link">
								<figure class="ol-cart-floating__list-item-prd-figure">
									<img src="images/og-produk3.png" alt="" title="">
								</figure>
								<div class="ol-cart-floating__list-item-prd-desc">
									<h3>
										Pesanan Telah Sampai
									</h3>
									<small>Pesanan kamu telah sampai. Mohon periksa semua produk pada pesanan RK123456789, jika kamu puas dengan pesananmu, klik Terima Produk untuk menyelesaikan transaksi.</small>
									<span>07-07-2020 14:09 WIB</span>
								</div>
								</a>
							</div>
						</div>
						<div class="ol-dashboard__notif-list-item">
							<div class="ol-cart-floating__list-item-prd">
								<a href="dashboard-order-detail.html" class="ol-notif-floating__link">
								<figure class="ol-cart-floating__list-item-prd-figure">
									<img src="images/og-produk3.png" alt="" title="">
								</figure>
								<div class="ol-cart-floating__list-item-prd-desc">
									<h3>
										Pesanan Dikirim
									</h3>
									<small>Pesanan RK123456789 dalam proses pengiriman ke rumah kamu. Pesanan diperkirakan akan sampai pada tanggal 07-07-2020</small>
									<span>07-07-2020 14:09 WIB</span>
								</div>
								</a>
							</div>
						</div>
						<div class="ol-dashboard__notif-list-item">
							<div class="ol-cart-floating__list-item-prd">
								<a href="dashboard-order-detail.html" class="ol-notif-floating__link">
								<figure class="ol-cart-floating__list-item-prd-figure">
									<img src="images/og-produk3.png" alt="" title="">
								</figure>
								<div class="ol-cart-floating__list-item-prd-desc">
									<h3>
										Pembayaran Berhasil Dikonfirmasi
									</h3>
									<small>Pembayaran pesanan RK123456789 berhasil dikonfirmasi. Produk akan segera dikirimkan ke rumah kamu.</small>
									<span>07-07-2020 14:09 WIB</span>
								</div>
								</a>
							</div>
						</div>
						<div class="ol-dashboard__notif-list-item ol-cart-floating__list-item--new">
							<div class="ol-cart-floating__list-item-prd">
								<a href="dashboard-order-detail.html" class="ol-notif-floating__link">
								<figure class="ol-cart-floating__list-item-prd-figure">
									<img src="images/og-produk2.png" alt="" title="">
								</figure>
								<div class="ol-cart-floating__list-item-prd-desc">
									<h3>
										Pesanan Dibatalkan
									</h3>
									<small>Pesanan RK123456789 telah dibatalkan karena pembayaran kamu tidak dapat diverifikasi.</small>
									<span>07-07-2020 14:09 WIB</span>
								</div>
								</a>
							</div>
						</div>
						<div class="ol-dashboard__notif-list-item ol-cart-floating__list-item--new">
							<div class="ol-cart-floating__list-item-prd">
								<a href="dashboard-order-detail.html" class="ol-notif-floating__link">
								<figure class="ol-cart-floating__list-item-prd-figure">
									<img src="images/og-produk1.png" alt="" title="">
								</figure>
								<div class="ol-cart-floating__list-item-prd-desc">
									<h3>
										Produk Telah Sampai
									</h3>
									<small>Pesanan kamu telah sampai. Mohon periksa semua produk pada pesanan RK1234444489, jika kamu puas dengan pesananmu, klik Terima Produk untuk menyelesaikan transaksi.</small>
									<span>07-07-2020 14:09 WIB</span>
								</div>
								</a>
							</div>
						</div>
					</div>

				</div>

			</div>


		</div>


	</div>


	<div class="ol-popup ol-popup--general">
		<div class="ol-popup-wrapper">

			<div class="ol-popup-box ol-popup-box--address">
				<h4 class="ol-popup-box__title">Tambah Alamat Pengiriman</h4>
				<a class="ol-popup-box__close" onclick="showPopup()">
					<i class="ol-fa fas fa-times"></i>
				</a>
				<div class="ol-popup-box__form add-fix">
					<form>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Nama Depan</label>
							<input type="text" name="" class="ol-input">
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Nama Belakang</label>
							<input type="text" name="" class="ol-input">
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Telepon</label>
							<input type="text" name="" class="ol-input">
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Provinsi</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input-select">
									<option value="0">Jawa Timur</option>
									<option value="1">Jawa Barat</option>
								</select>
							</div>
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Kota</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input-select">
									<option value="0">Surabaya</option>
									<option value="1">Jakarta</option>
								</select>
							</div>
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Kecamatan</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input-select">
									<option value="0">Rungkut</option>
									<option value="1">Genteng</option>
								</select>
							</div>
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Kelurahan</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input-select">
									<option value="0">Tegalsari</option>
									<option value="1">Embong Kaliasin</option>
								</select>
							</div>
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Kode Pos</label>
							<input type="text" name="" class="ol-input">
						</div>
						<div class="ol-input-box ol-input-box--full">
							<label class="ol-input-label">Alamat</label>
							<textarea name="" class="ol-input"></textarea>
							<label class="ol-product-content__sidebar-item-list-item-link">

								<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									Simpan sebagai alamat utama

								<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

							</label>
						</div>
						<div class="ol-input-box ol-input-box--full">
							<input type="submit" name="" class="ol-btn" value="Simpan">
						</div>
					</form>
				</div>

			</div>

		</div>
	</div>

</section>



@@include('./_components/end-html.html')
