@@include('./_components/start-login.html')


<!-- Code Here -->
<section class="ol-dashboard ol-product-detail">
	
	<div class="ol-wrapper ol-wrapper--large">


		<div class="ol-dashboard--wrapper">


			<aside class="ol-dashboard__sidebar">
				<h4 class="ol-dashboard__sidebar-title">Profil Pengguna</h4>
				
				<nav class="ol-dashboard__sidebar-nav">
					<a href="dashboard-account.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-user"></i> Informasi Akun
					</a>
					<a href="dashboard-order.html" class="ol-dashboard__sidebar-nav-link active">
						<i class="ol-fa fas fa-shopping-bag"></i> Pesanan
					</a>
					<a href="dashboard-address.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-map-marker-alt"></i> Alamat
					</a>
					<a href="dashboard-notif.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-bell"></i> Notifikasi
					</a>
					<a href="dashboard-project.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-warehouse"></i> Proyek Saya
					</a>
					<a href="dashboard-inspiration.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa far fa-images"></i> Inspirasi Saya
					</a>	
				</nav>

			</aside>


			<div class="ol-dashboard__container">
				
				<div class="ol-dashboard__order">
					
					<h4 class="ol-dashboard__container-title">Pesanan</h4>

					<div class="ol-dashboard__order-loop">
						<div class="ol-dashboard__order-list">
							<div class="ol-dashboard__order-list-item ol-dashboard__order-list-item--head">
								<h4 class="ol-dashboard__order-list-item-id">RK123456789</h4>
								<p class="ol-dashboard__order-list-item-status">Pesanan Diproses</p>
							</div>
							<div class="ol-dashboard__order-list-item ol-dashboard__order-list-item--body">
								<div class="ol-dashboard__order-list-item-prd">
									<figure class="ol-cart-list__body-item-figure">
										<a href="product-detail.html">
											<img src="images/og-produk1.png" alt="" title="">
										</a>
									</figure>
									<div class="ol-cart-list__body-item-desc">
										<h3 class="ol-cart-list__body-item-desc-name">
											<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
										</h3>
										<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
									</div>
								</div>

								<h4 class="ol-dashboard__order-list-item-price">
									Rp. 899.000
								</h4>

							</div>
							<div class="ol-dashboard__order-list-item ol-dashboard__order-list-item--body">
								<div class="ol-dashboard__order-list-item-prd">
									<figure class="ol-cart-list__body-item-figure">
										<a href="product-detail.html">
											<img src="images/og-produk1.png" alt="" title="">
										</a>
									</figure>
									<div class="ol-cart-list__body-item-desc">
										<h3 class="ol-cart-list__body-item-desc-name">
											<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
										</h3>
										<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
									</div>
								</div>

								<h4 class="ol-dashboard__order-list-item-price">
									Rp. 899.000
								</h4>
							</div>
							<div class="ol-dashboard__order-list-item ol-dashboard__order-list-item--footer">
								Total Pesanan <h4 class="ol-dashboard__order-list-item-total">Rp 2.009.009</h4>
							</div>
						</div>
						<div class="ol-dashboard__order-status">
							<p class="ol-dashboard__order-status-info">
								Pesanan diproses sejak tanggal 10-06-2020
							</p>
							<div class="ol-dashboard__order-status-action">
								<a href="#" class="ol-btn">Hubungi Kami</a>
								<a href="dashboard-order-detail.html" class="ol-btn ol-btn--secondary">Rincian Pesanan</a>
							</div>
						</div>
					</div>

					<div class="ol-dashboard__order-loop">
						<div class="ol-dashboard__order-list">
							<div class="ol-dashboard__order-list-item ol-dashboard__order-list-item--head">
								<h4 class="ol-dashboard__order-list-item-id">RK123456789</h4>
								<p class="ol-dashboard__order-list-item-status">Pesanan Selesai</p>
							</div>
							<div class="ol-dashboard__order-list-item ol-dashboard__order-list-item--body">
								<div class="ol-dashboard__order-list-item-prd">
									<figure class="ol-cart-list__body-item-figure">
										<a href="product-detail.html">
											<img src="images/og-produk1.png" alt="" title="">
										</a>
									</figure>
									<div class="ol-cart-list__body-item-desc">
										<h3 class="ol-cart-list__body-item-desc-name">
											<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
										</h3>
										<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
									</div>
								</div>

								<h4 class="ol-dashboard__order-list-item-price">
									Rp. 899.000
								</h4>

							</div>
							<div class="ol-dashboard__order-list-item ol-dashboard__order-list-item--body">
								<div class="ol-dashboard__order-list-item-prd">
									<figure class="ol-cart-list__body-item-figure">
										<a href="product-detail.html">
											<img src="images/og-produk1.png" alt="" title="">
										</a>
									</figure>
									<div class="ol-cart-list__body-item-desc">
										<h3 class="ol-cart-list__body-item-desc-name">
											<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
										</h3>
										<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
									</div>
								</div>

								<h4 class="ol-dashboard__order-list-item-price">
									Rp. 899.000
								</h4>
							</div>
							<div class="ol-dashboard__order-list-item ol-dashboard__order-list-item--footer">
								Total Pesanan <h4 class="ol-dashboard__order-list-item-total">Rp 2.009.009</h4>
							</div>
						</div>
						<div class="ol-dashboard__order-status">
							<p class="ol-dashboard__order-status-info">
								Pesanan selesai pada tanggal 10-06-2020
							</p>
							<div class="ol-dashboard__order-status-action">
								<a href="#" class="ol-btn">Hubungi Kami</a>
								<a href="dashboard-order-detail.html" class="ol-btn ol-btn--secondary">Rincian Pesanan</a>
							</div>
						</div>
					</div>

					<div class="ol-dashboard__order-loop">
						<div class="ol-dashboard__order-list">
							<div class="ol-dashboard__order-list-item ol-dashboard__order-list-item--head">
								<h4 class="ol-dashboard__order-list-item-id">RK123456789</h4>
								<p class="ol-dashboard__order-list-item-status">Pesanan Dibatalkan</p>
							</div>
							<div class="ol-dashboard__order-list-item ol-dashboard__order-list-item--body">
								<div class="ol-dashboard__order-list-item-prd">
									<figure class="ol-cart-list__body-item-figure">
										<a href="product-detail.html">
											<img src="images/og-produk1.png" alt="" title="">
										</a>
									</figure>
									<div class="ol-cart-list__body-item-desc">
										<h3 class="ol-cart-list__body-item-desc-name">
											<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
										</h3>
										<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
									</div>
								</div>

								<h4 class="ol-dashboard__order-list-item-price">
									Rp. 899.000
								</h4>

							</div>
							<div class="ol-dashboard__order-list-item ol-dashboard__order-list-item--body">
								<div class="ol-dashboard__order-list-item-prd">
									<figure class="ol-cart-list__body-item-figure">
										<a href="product-detail.html">
											<img src="images/og-produk1.png" alt="" title="">
										</a>
									</figure>
									<div class="ol-cart-list__body-item-desc">
										<h3 class="ol-cart-list__body-item-desc-name">
											<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
										</h3>
										<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
									</div>
								</div>

								<h4 class="ol-dashboard__order-list-item-price">
									Rp. 899.000
								</h4>
							</div>
							<div class="ol-dashboard__order-list-item ol-dashboard__order-list-item--footer">
								Total Pesanan <h4 class="ol-dashboard__order-list-item-total">Rp 2.009.009</h4>
							</div>
						</div>
						<div class="ol-dashboard__order-status">
							<p class="ol-dashboard__order-status-info">
								Pesanan selesai pada tanggal 10-06-2020
							</p>
							<div class="ol-dashboard__order-status-action">
								<a href="#" class="ol-btn">Beli Lagi</a>
								<a href="#" class="ol-btn ol-btn--secondary">Rincian Pembatalan</a>
							</div>
						</div>
					</div>

				</div>

			</div>


		</div>


	</div>

</section>



@@include('./_components/end-html.html')
