@@include('./_components/start-login.html')


<!-- Code Here -->
<section class="ol-dashboard ol-product-detail">
	
	<div class="ol-wrapper ol-wrapper--large">


		<div class="ol-dashboard--wrapper">


			<aside class="ol-dashboard__sidebar">
				<h4 class="ol-dashboard__sidebar-title">Profil Pengguna</h4>
				
				<nav class="ol-dashboard__sidebar-nav">
					<a href="dashboard-account.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-user"></i> Informasi Akun
					</a>
					<a href="dashboard-order.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-shopping-bag"></i> Pesanan
					</a>
					<a href="dashboard-address.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-map-marker-alt"></i> Alamat
					</a>
					<a href="dashboard-notif.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-bell"></i> Notifikasi
					</a>
					<a href="dashboard-project.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-warehouse"></i> Proyek Saya
					</a>
					<a href="dashboard-inspiration.html" class="ol-dashboard__sidebar-nav-link active">
						<i class="ol-fa far fa-images"></i> Inspirasi Saya
					</a>	
				</nav>

			</aside>


			<div class="ol-dashboard__container">
				
				<div class="ol-dashboard__inspiration">
					
					<h4 class="ol-dashboard__container-title">Inspirasi Saya</h4>

					<div class="ol-dashboard__inspiration-list">

						<div class="ol-inspiration__content-list-item-wrapper">
					

							<div class="ol-inspiration__content-list-item-figure">
								<div class="ol-inspiration__content-list-item-figure-wrapper">
									<figure>
										<a href="inspiration-detail.html">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/1.jpg" alt="" title="">
										</a>
									</figure>
									<h4>
										<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
									</h4>
									<a href="#" class="ol-btn"><i class="ol-fa fas fa-trash"></i> Hapus</a>
								</div>
							</div>

							<div class="ol-inspiration__content-list-item-figure">
								<div class="ol-inspiration__content-list-item-figure-wrapper">
									<figure>
										<a href="inspiration-detail.html">
											<img src="images/og-suasana.jpg" alt="" title="">
										</a>
									</figure>
									<h4>
										<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
									</h4>
									<a href="#" class="ol-btn"><i class="ol-fa fas fa-trash"></i> Hapus</a>
								</div>
							</div>

							<div class="ol-inspiration__content-list-item-figure">
								<div class="ol-inspiration__content-list-item-figure-wrapper">
									<figure>
										<a href="inspiration-detail.html">
											<img src="images/1.jpg" alt="" title="">
										</a>
									</figure>
									<h4>
										<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
									</h4>
									<a href="#" class="ol-btn"><i class="ol-fa fas fa-trash"></i> Hapus</a>
								</div>
							</div>

							<div class="ol-inspiration__content-list-item-figure">
								<div class="ol-inspiration__content-list-item-figure-wrapper">
									<figure>
										<a href="inspiration-detail.html">
											<img src="images/og-hero.jpg" alt="" title="">
										</a>
									</figure>
									<h4>
										<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
									</h4>
									<a href="#" class="ol-btn"><i class="ol-fa fas fa-trash"></i> Hapus</a>
								</div>
							</div>

							<div class="ol-inspiration__content-list-item-figure">
								<div class="ol-inspiration__content-list-item-figure-wrapper">
									<figure>
										<a href="inspiration-detail.html">
											<img src="images/og-suasana.jpg" alt="" title="">
										</a>
									</figure>
									<h4>
										<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
									</h4>
									<a href="#" class="ol-btn"><i class="ol-fa fas fa-trash"></i> Hapus</a>
								</div>
							</div>

							<div class="ol-inspiration__content-list-item-figure">
								<div class="ol-inspiration__content-list-item-figure-wrapper">
									<figure>
										<a href="inspiration-detail.html">
											<img src="images/1.jpg" alt="" title="">
										</a>
									</figure>
									<h4>
										<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
									</h4>
									<a href="#" class="ol-btn"><i class="ol-fa fas fa-trash"></i> Hapus</a>
								</div>
							</div>

							<div class="ol-inspiration__content-list-item-figure">
								<div class="ol-inspiration__content-list-item-figure-wrapper">
									<figure>
										<a href="inspiration-detail.html">
											<img src="images/2.jpg" alt="" title="">
										</a>
									</figure>
									<h4>
										<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
									</h4>
									<a href="#" class="ol-btn"><i class="ol-fa fas fa-trash"></i> Hapus</a>
								</div>
							</div>

							<div class="ol-inspiration__content-list-item-figure">
								<div class="ol-inspiration__content-list-item-figure-wrapper">
									<figure>
										<a href="inspiration-detail.html">
											<img src="images/3.jpg" alt="" title="">
										</a>
									</figure>
									<h4>
										<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
									</h4>
									<a href="#" class="ol-btn"><i class="ol-fa fas fa-trash"></i> Hapus</a>
								</div>
							</div>

							<div class="ol-inspiration__content-list-item-figure">
								<div class="ol-inspiration__content-list-item-figure-wrapper">
									<figure>
										<a href="inspiration-detail.html">
											<img src="images/4.jpg" alt="" title="">
										</a>
									</figure>
									<h4>
										<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
									</h4>
									<a href="#" class="ol-btn"><i class="ol-fa fas fa-trash"></i> Hapus</a>
								</div>
							</div>


							<div class="ol-inspiration__content-list-item-figure">
								<div class="ol-inspiration__content-list-item-figure-wrapper">
									<figure>
										<a href="inspiration-detail.html">
											<img src="images/2.jpg" alt="" title="">
										</a>
									</figure>
									<h4>
										<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
									</h4>
									<a href="#" class="ol-btn"><i class="ol-fa fas fa-trash"></i> Hapus</a>
								</div>
							</div>

							<div class="ol-inspiration__content-list-item-figure">
								<div class="ol-inspiration__content-list-item-figure-wrapper">
									<figure>
										<a href="inspiration-detail.html">
											<img src="images/3.jpg" alt="" title="">
										</a>
									</figure>
									<h4>
										<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
									</h4>
									<a href="#" class="ol-btn"><i class="ol-fa fas fa-trash"></i> Hapus</a>
								</div>
							</div>

							<div class="ol-inspiration__content-list-item-figure">
								<div class="ol-inspiration__content-list-item-figure-wrapper">
									<figure>
										<a href="inspiration-detail.html">
											<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/1.jpg" alt="" title="">
										</a>
									</figure>
									<h4>
										<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
									</h4>
									<a href="#" class="ol-btn"><i class="ol-fa fas fa-trash"></i> Hapus</a>
								</div>
							</div>


						</div>


					</div>

				</div>

			</div>


		</div>


	</div>


</section>

@@include('./_components/end-html.html')
