@@include('./_components/start-login.html')


<!-- Code Here -->
<section class="ol-dashboard ol-product-detail">
	
	<div class="ol-wrapper ol-wrapper--large">


		<div class="ol-dashboard--wrapper">


			<aside class="ol-dashboard__sidebar">
				<h4 class="ol-dashboard__sidebar-title">Profil Pengguna</h4>
				
				<nav class="ol-dashboard__sidebar-nav">
					<a href="dashboard-account.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-user"></i> Informasi Akun
					</a>
					<a href="dashboard-order.html" class="ol-dashboard__sidebar-nav-link active">
						<i class="ol-fa fas fa-shopping-bag"></i> Pesanan
					</a>
					<a href="dashboard-address.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-map-marker-alt"></i> Alamat
					</a>
					<a href="dashboard-notif.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-bell"></i> Notifikasi
					</a>
					<a href="dashboard-project.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-warehouse"></i> Proyek Saya
					</a>
					<a href="dashboard-inspiration.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa far fa-images"></i> Inspirasi Saya
					</a>	
				</nav>

			</aside>


			<div class="ol-dashboard__container">
				
				<div class="ol-dashboard__order">
					
					<h4 class="ol-dashboard__container-title">Detail Pesanan - RK123456789</h4>

					<h4 class="ol-dashboard__order-label">Status Pesanan</h4>
					<div class="ol-checkout-step ol-dashboard__order-step">
						<div class="ol-checkout-step__item ol-checkout-step__item--progress">
							<div><i class="ol-fa fas fa-clipboard-list"></i></div>
							<span>Pesanan Dibuat</span>
							<small>09-05-2020 08:23 WIB</small>
						</div>
						<div class="ol-checkout-step__item ol-checkout-step__item--progress">
							<div><i class="ol-fa far fa-credit-card"></i></div>
							<span>Pesanan Dibayarkan</span>
							<small>09-05-2020 08:23 WIB</small>
						</div>
						<div class="ol-checkout-step__item">
							<div><i class="ol-fa fas fa-hourglass-half"></i></div>
							<span>Pesanan Diproses</span>
							<small>09-05-2020 08:23 WIB</small>
						</div>
						<div class="ol-checkout-step__item">
							<div><i class="ol-fa fas fa-check"></i></div>
							<span>Pesanan Selesai</span>
							<small>09-05-2020 08:23 WIB</small>
						</div>
					</div>

					<div class="ol-dashboard__order-status ol-dashboard__order-status--detail">
						<p class="ol-dashboard__order-status-info">
							Pesanan masih dalam proses pengemasan atau pengiriman.<br>
							Hubungi Kami untuk konfirmasi lebih lanjut.
						</p>
						<div class="ol-dashboard__order-status-action">
							<a href="#" class="ol-btn">Hubungi Kami</a>
						</div>
					</div>

					<div class="ol-dashboard__order-address">
						<div class="ol-dashboard__order-address-item">
							<h3 class="ol-dashboard__order-address-item-title">Alamat Pengiriman</h3>
							<h4 class="ol-dashboard__order-address-item-name">
								Pras Perkasa
							</h4>
							<p class="ol-dashboard__order-address-item-desc">
								0813 0980 0929 0290<br>
								Jl. Sumatra 20 Gubeng, Gubeng, Surabaya, Jawa Timur, Indonesia
							</p>
						</div>
						<div class="ol-dashboard__order-address-item">
							<h3 class="ol-dashboard__order-address-item-title">Metode Pembayaran</h3>
							<h4 class="ol-dashboard__order-address-item-name">
								Bank BCA <span>(Dicek Otomatis)</span<
							</h4>
						</div>
					</div>

					<div class="ol-cart-list ol-dashboard__order-list">

						<div class="ol-cart-list__head">
							<div class="ol-cart-list__head-item">Aktifitas Produk</div>
						</div>
						<div class="ol-cart-list__body">

							<div class="ol-cart-list__body--seller">


								<div class="ol-cart-list__body--seller-wrapper">
									<div class="ol-cart-list__body-item">
										<i class="ol-fa fas fa-boxes"></i> Perkasa Mebel
									</div>
									<div class="ol-cart-list__body-item">
										<span class="ol-cart-list__body-item-ico active" title="Dikemas">
											<i class="ol-fa fas fa-box"></i>
										</span>
										<span class="ol-cart-list__body-item-ico active" title="Dikirim">
											<i class="ol-fa fas fa-truck"></i>
										</span>
										<span class="ol-cart-list__body-item-ico" title="Beri Penilaian">
											<i class="ol-fa fas fa-star"></i>
										</span>
									</div>
									<div class="ol-cart-list__body-item">
										<a onclick="showPopupResi()" class="ol-btn ol-btn--third">Lacak Produk</a>
									</div>
								</div>



								<div class="ol-cart-list__body-wrapper">
									<div class="ol-cart-list__body-item">
										<figure class="ol-cart-list__body-item-figure">
											<a href="product-detail.html">
												<img src="images/og-produk1.png" alt="" title="">
											</a>
										</figure>
										<div class="ol-cart-list__body-item-desc">
											<h3 class="ol-cart-list__body-item-desc-name">
												<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
											</h3>
											<p class="ol-cart-list__body-item-desc-type">Varian : Sofa Dua Seater<br>Warna : Kuning<br>Kuantitas : 1</p>
										</div>
									</div>
									<div class="ol-cart-list__body-item">
										Rp 1.999.999
									</div>
								</div>

								<div class="ol-cart-list__body-wrapper">
									<div class="ol-cart-list__body-item">
										<figure class="ol-cart-list__body-item-figure">
											<a href="product-detail.html">
												<img src="images/og-produk1.png" alt="" title="">
											</a>
										</figure>
										<div class="ol-cart-list__body-item-desc">
											<h3 class="ol-cart-list__body-item-desc-name">
												<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
											</h3>
											<p class="ol-cart-list__body-item-desc-type">Varian : Sofa Dua Seater<br>Warna : Kuning<br>Kuantitas : 1</p>
										</div>
									</div>
									<div class="ol-cart-list__body-item">
										Rp 1.999.999
									</div>
								</div>

							</div>


							<div class="ol-cart-list__body--seller">


								<div class="ol-cart-list__body--seller-wrapper">
									<div class="ol-cart-list__body-item">
										<i class="ol-fa fas fa-boxes"></i> Perkasa Mebel
									</div>
									<div class="ol-cart-list__body-item">
										<span class="ol-cart-list__body-item-ico active" title="Dikemas">
											<i class="ol-fa fas fa-box"></i>
										</span>
										<span class="ol-cart-list__body-item-ico active" title="Dikirim">
											<i class="ol-fa fas fa-truck"></i>
										</span>
										<span class="ol-cart-list__body-item-ico" title="Beri Penilaian">
											<i class="ol-fa fas fa-star"></i>
										</span>
									</div>
									<div class="ol-cart-list__body-item">
										<a href="#" class="ol-btn">Terima Produk</a>
									</div>
								</div>



								<div class="ol-cart-list__body-wrapper">
									<div class="ol-cart-list__body-item">
										<figure class="ol-cart-list__body-item-figure">
											<a href="product-detail.html">
												<img src="images/og-produk1.png" alt="" title="">
											</a>
										</figure>
										<div class="ol-cart-list__body-item-desc">
											<h3 class="ol-cart-list__body-item-desc-name">
												<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
											</h3>
											<p class="ol-cart-list__body-item-desc-type">Varian : Sofa Dua Seater<br>Warna : Kuning<br>Kuantitas : 1</p>
										</div>
									</div>
									<div class="ol-cart-list__body-item">
										Rp 1.999.999
									</div>
								</div>

								<div class="ol-cart-list__body-wrapper">
									<div class="ol-cart-list__body-item">
										<figure class="ol-cart-list__body-item-figure">
											<a href="product-detail.html">
												<img src="images/og-produk1.png" alt="" title="">
											</a>
										</figure>
										<div class="ol-cart-list__body-item-desc">
											<h3 class="ol-cart-list__body-item-desc-name">
												<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
											</h3>
											<p class="ol-cart-list__body-item-desc-type">Varian : Sofa Dua Seater<br>Warna : Kuning<br>Kuantitas : 1</p>
										</div>
									</div>
									<div class="ol-cart-list__body-item">
										Rp 1.999.999
									</div>
								</div>

							</div>


							<div class="ol-cart-list__body--seller">


								<div class="ol-cart-list__body--seller-wrapper">
									<div class="ol-cart-list__body-item">
										<i class="ol-fa fas fa-boxes"></i> Lusi Mebel
									</div>
									<div class="ol-cart-list__body-item">
										<span class="ol-cart-list__body-item-ico active" title="Dikemas">
											<i class="ol-fa fas fa-box"></i>
										</span>
										<span class="ol-cart-list__body-item-ico active" title="Dikirim">
											<i class="ol-fa fas fa-truck"></i>
										</span>
										<span class="ol-cart-list__body-item-ico active" title="Beri Penilaian">
											<i class="ol-fa fas fa-star"></i>
										</span>
									</div>
									<div class="ol-cart-list__body-item">
										<a onclick="showPopupReview()" class="ol-btn">Beri Penilaian</a>
									</div>
								</div>



								<div class="ol-cart-list__body-wrapper">
									<div class="ol-cart-list__body-item">
										<figure class="ol-cart-list__body-item-figure">
											<a href="product-detail.html">
												<img src="images/og-produk1.png" alt="" title="">
											</a>
										</figure>
										<div class="ol-cart-list__body-item-desc">
											<h3 class="ol-cart-list__body-item-desc-name">
												<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
											</h3>
											<p class="ol-cart-list__body-item-desc-type">Varian : Sofa Dua Seater<br>Warna : Kuning<br>Kuantitas : 1</p>
										</div>
									</div>
									<div class="ol-cart-list__body-item">
										Rp 1.999.999
									</div>
								</div>

								<div class="ol-cart-list__body-wrapper">
									<div class="ol-cart-list__body-item">
										<figure class="ol-cart-list__body-item-figure">
											<a href="product-detail.html">
												<img src="images/og-produk1.png" alt="" title="">
											</a>
										</figure>
										<div class="ol-cart-list__body-item-desc">
											<h3 class="ol-cart-list__body-item-desc-name">
												<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
											</h3>
											<p class="ol-cart-list__body-item-desc-type">Varian : Sofa Dua Seater<br>Warna : Kuning<br>Kuantitas : 1</p>
										</div>
									</div>
									<div class="ol-cart-list__body-item">
										Rp 1.999.999
									</div>
								</div>

							</div>


							<div class="ol-cart-list__body--seller">


								<div class="ol-cart-list__body--seller-wrapper">
									<div class="ol-cart-list__body-item">
										<i class="ol-fa fas fa-boxes"></i> Lusi Mebel
									</div>
									<div class="ol-cart-list__body-item">
										<span class="ol-cart-list__body-item-ico active" title="Dikemas">
											<i class="ol-fa fas fa-box"></i>
										</span>
										<span class="ol-cart-list__body-item-ico" title="Dikirim">
											<i class="ol-fa fas fa-truck"></i>
										</span>
										<span class="ol-cart-list__body-item-ico" title="Beri Penilaian">
											<i class="ol-fa fas fa-star"></i>
										</span>
									</div>
									<div class="ol-cart-list__body-item">
										<a onclick="" class="ol-btn ol-btn--third">Batalkan</a>
									</div>
								</div>



								<div class="ol-cart-list__body-wrapper">
									<div class="ol-cart-list__body-item">
										<figure class="ol-cart-list__body-item-figure">
											<a href="product-detail.html">
												<img src="images/og-produk1.png" alt="" title="">
											</a>
										</figure>
										<div class="ol-cart-list__body-item-desc">
											<h3 class="ol-cart-list__body-item-desc-name">
												<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
											</h3>
											<p class="ol-cart-list__body-item-desc-type">Varian : Sofa Dua Seater<br>Warna : Kuning<br>Kuantitas : 1</p>
										</div>
									</div>
									<div class="ol-cart-list__body-item">
										Rp 1.999.999
									</div>
								</div>

								<div class="ol-cart-list__body-wrapper">
									<div class="ol-cart-list__body-item">
										<figure class="ol-cart-list__body-item-figure">
											<a href="product-detail.html">
												<img src="images/og-produk1.png" alt="" title="">
											</a>
										</figure>
										<div class="ol-cart-list__body-item-desc">
											<h3 class="ol-cart-list__body-item-desc-name">
												<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
											</h3>
											<p class="ol-cart-list__body-item-desc-type">Varian : Sofa Dua Seater<br>Warna : Kuning<br>Kuantitas : 1</p>
										</div>
									</div>
									<div class="ol-cart-list__body-item">
										Rp 1.999.999
									</div>
								</div>

							</div>


						</div>

						<div class="ol-cart-list__footer">
							<div class="ol-cart-list__footer-item">
								<p>Kode Voucher : <strong>OLYMPIC123</strong></p>
								<p>Catatan : <strong>Lorem Ipsum</strong></p>
							</div>
							<div class="ol-cart-list__footer-item">
								<dl class="ol-cart-list__footer-item-total">
									<dt>Subtotal</dt>
									<dd>Rp 2.534.000</dd>
									<dt>Voucher</dt>
									<dd>- Rp 534.000</dd>
									<dt>Shipping Cost</dt>
									<dd>Free</dd>
									<dt><strong>Total</strong></dt>
									<dd><strong>Rp 2.000.000</strong></dd>
								</dl>
							</div>
						</div>
					</div>

				</div>

			</div>


		</div>


	</div>


	<div class="ol-popup ol-popup--general">
		<div class="ol-popup-wrapper ol-popup-wrapper--large">

			<div class="ol-popup-box ol-popup-box--address">
				<h4 class="ol-popup-box__title">Nilai Produk</h4>
				<a class="ol-popup-box__close" onclick="showPopupReview()">
					<i class="ol-fa fas fa-times"></i>
				</a>

				<div class="ol-popup-box__review">
					<form>
						<div class="ol-popup-box__review-item">
							<div class="ol-popup-box__review-prd">
								<div class="ol-dashboard__order-list-item-prd">
									<figure class="ol-cart-list__body-item-figure">
										<a href="#" target="_blank">
											<img src="images/og-produk1.png" alt="" title="">
										</a>
									</figure>
									<div class="ol-cart-list__body-item-desc">
										<h3 class="ol-cart-list__body-item-desc-name">
											<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
										</h3>
										<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
									</div>
								</div>
								<div class="ol-popup-box__review-prd-star rating-stars">
									<ul id='stars'>
								      <li class='star' title='Poor' data-value='1'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								      <li class='star' title='Fair' data-value='2'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								      <li class='star' title='Good' data-value='3'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								      <li class='star' title='Excellent' data-value='4'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								      <li class='star' title='WOW!!!' data-value='5'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								    </ul>
								</div>
							</div>
							<div class="ol-popup-box__review-note">
								<textarea class="ol-input ol-input-textarea" placeholder="Tulis Penilaian"></textarea>

								<div class="ol-popup-box__review-note-upload">
									<div class="ol-upload-box__review-note-upload-file">
										<input type="file" name="" class="ol-input">
										<span>
											<i class="ol-fa fas fa-plus"></i>
										</span>
									</div>
								</div>

							</div>
						</div>

						<div class="ol-popup-box__review-item">
							<div class="ol-popup-box__review-prd">
								<div class="ol-dashboard__order-list-item-prd">
									<figure class="ol-cart-list__body-item-figure">
										<a href="#" target="_blank">
											<img src="images/og-produk1.png" alt="" title="">
										</a>
									</figure>
									<div class="ol-cart-list__body-item-desc">
										<h3 class="ol-cart-list__body-item-desc-name">
											<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
										</h3>
										<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
									</div>
								</div>
								<div class="ol-popup-box__review-prd-star rating-stars">
									<ul id='stars'>
								      <li class='star' title='Poor' data-value='1'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								      <li class='star' title='Fair' data-value='2'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								      <li class='star' title='Good' data-value='3'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								      <li class='star' title='Excellent' data-value='4'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								      <li class='star' title='WOW!!!' data-value='5'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								    </ul>
								</div>
							</div>
							<div class="ol-popup-box__review-note">
								<textarea class="ol-input ol-input-textarea" placeholder="Tulis Penilaian"></textarea>

								<div class="ol-popup-box__review-note-upload">
									<div class="ol-upload-box__review-note-upload-file">
										<input type="file" name="" class="ol-input">
										<span>
											<i class="ol-fa fas fa-plus"></i>
										</span>
									</div>
								</div>
							</div>
						</div>

						<div class="ol-popup-box__review-item">
							<div class="ol-popup-box__review-prd">
								<div class="ol-dashboard__order-list-item-prd">
									<figure class="ol-cart-list__body-item-figure">
										<a href="#" target="_blank">
											<img src="images/og-produk1.png" alt="" title="">
										</a>
									</figure>
									<div class="ol-cart-list__body-item-desc">
										<h3 class="ol-cart-list__body-item-desc-name">
											<a href="product-detail.html">Sofa Kuning Lucu Sekali</a>
										</h3>
										<span class="ol-cart-list__body-item-desc-type">Sofa Dua Seater</span>
									</div>
								</div>
								<div class="ol-popup-box__review-prd-star rating-stars">
									<ul id='stars'>
								      <li class='star' title='Poor' data-value='1'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								      <li class='star' title='Fair' data-value='2'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								      <li class='star' title='Good' data-value='3'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								      <li class='star' title='Excellent' data-value='4'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								      <li class='star' title='WOW!!!' data-value='5'>
								        <i class='fas fa-star fa-fw'></i>
								      </li>
								    </ul>
								</div>
							</div>
							<div class="ol-popup-box__review-note">
								<textarea class="ol-input ol-input-textarea" placeholder="Tulis Penilaian"></textarea>

								<div class="ol-popup-box__review-note-upload">
									<div class="ol-upload-box__review-note-upload-file">
										<input type="file" name="" class="ol-input">
										<span>
											<i class="ol-fa fas fa-plus"></i>
										</span>
									</div>
								</div>
								
							</div>
						</div>

						<div class="ol-popup-box__review-item">
							<input type="submit" name="" class="ol-btn" value="Simpan">
						</div>
					</form>
				</div>

			</div>

		</div>
	</div>


	<div class="ol-popup ol-popup--resi">
		<div class="ol-popup-wrapper ol-popup-wrapper--large">

			<div class="ol-popup-box">
				<a class="ol-popup-box__close" onclick="showPopupResi()">
					<i class="ol-fa fas fa-times"></i>
				</a>

				<div class="ol-popup-box__resi">
					<h4 class="ol-popup-box__title">Lacak Produk
						<span>RK123456789</span>
					</h4>
					<div class="ol-popup-box__resi-list">
						<div class="ol-popup-box__resi-list-item">
							<span class="ol-popup-box__resi-list-item-date">06-07-2020<br>08:00 WIB</span>
							<small class="ol-popup-box__resi-list-item-line"></small>
							<span class="ol-popup-box__resi-list-item-desc">
								[SURABAYA] Paket akan dikirimkan
							</span>
						</div>
						<div class="ol-popup-box__resi-list-item">
							<span class="ol-popup-box__resi-list-item-date">07-07-2020<br>08:00 WIB</span>
							<small class="ol-popup-box__resi-list-item-line"></small>
							<span class="ol-popup-box__resi-list-item-desc">
								[SURABAYA] Paket akan dikirimkan
							</span>
						</div>
						<div class="ol-popup-box__resi-list-item">
							<span class="ol-popup-box__resi-list-item-date">08-07-2020<br>08:00 WIB</span>
							<small class="ol-popup-box__resi-list-item-line"></small>
							<span class="ol-popup-box__resi-list-item-desc">
								[SURABAYA] Paket akan dikirimkan
							</span>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

</section>



@@include('./_components/end-html.html')
