@@include('./_components/start-login.html')


<!-- Code Here -->
<section class="ol-dashboard ol-product-detail">
	
	<div class="ol-wrapper ol-wrapper--large">


		<div class="ol-dashboard--wrapper">


			<aside class="ol-dashboard__sidebar">
				<h4 class="ol-dashboard__sidebar-title">Profil Pengguna</h4>
				
				<nav class="ol-dashboard__sidebar-nav">
					<a href="dashboard-account.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-user"></i> Informasi Akun
					</a>
					<a href="dashboard-order.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-shopping-bag"></i> Pesanan
					</a>
					<a href="dashboard-address.html" class="ol-dashboard__sidebar-nav-link active">
						<i class="ol-fa fas fa-map-marker-alt"></i> Alamat
					</a>
					<a href="dashboard-notif.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-bell"></i> Notifikasi
					</a>
					<a href="dashboard-project.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa fas fa-warehouse"></i> Proyek Saya
					</a>
					<a href="dashboard-inspiration.html" class="ol-dashboard__sidebar-nav-link">
						<i class="ol-fa far fa-images"></i> Inspirasi Saya
					</a>	
				</nav>

			</aside>


			<div class="ol-dashboard__container">
				
				<div class="ol-dashboard__address">
					
					<h4 class="ol-dashboard__container-title">Alamat</h4>
					<a onclick="showPopup()" class="ol-dashboard__address-add">+ Tambah Alamat</a>

					<div class="ol-checkout-content__shipping ol-dashboard__address-shipping">

						<div class="ol-checkout-content__shipping-list">
							<div class="ol-checkout-content__shipping-list-head">
								<div class="ol-checkout-content__shipping-list-head-item">
									Nama
								</div>
								<div class="ol-checkout-content__shipping-list-head-item">
									Telepon
								</div>
								<div class="ol-checkout-content__shipping-list-head-item">
									Alamat
								</div>
								<div class="ol-checkout-content__shipping-list-head-item">
									Aksi
								</div>
							</div>
							<div class="ol-checkout-content__shipping-list-body">
								<div class="ol-checkout-content__shipping-list-body-wrapper active">
									<div class="ol-checkout-content__shipping-list-body-item">
										Pras Perkasa
									</div>
									<div class="ol-checkout-content__shipping-list-body-item">
										083 831 969 653
									</div>
									<div class="ol-checkout-content__shipping-list-body-item">
										Jl. Keputran Panjunan 3 / 74, Kec. Genteng, 60271, Surabaya, Jawa Timur, Indonesia 
									</div>
									<div class="ol-checkout-content__shipping-list-body-item">
										<a title="Edit" onclick="showPopup()"><i class="far fa-edit"></i></a>
										<a title="Hapus" href="#"><i class="fas fa-trash"></i></a>
									</div>
									<i class="ol-fa far fa-check-circle"></i>
								</div>
								<div class="ol-checkout-content__shipping-list-body-wrapper">
									<div class="ol-checkout-content__shipping-list-body-item">
										Pras Perkasa
									</div>
									<div class="ol-checkout-content__shipping-list-body-item">
										083 831 969 653
									</div>
									<div class="ol-checkout-content__shipping-list-body-item">
										Jl. Keputran Panjunan 3 / 74, Kec. Genteng, 60271, Surabaya, Jawa Timur, Indonesia 
									</div>
									<div class="ol-checkout-content__shipping-list-body-item">
										<a title="Edit" onclick="showPopup()"><i class="far fa-edit"></i></a>
										<a title="Hapus" href="#"><i class="fas fa-trash"></i></a>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>


		</div>


	</div>


	<div class="ol-popup ol-popup--general">
		<div class="ol-popup-wrapper">

			<div class="ol-popup-box ol-popup-box--address">
				<h4 class="ol-popup-box__title">Tambah Alamat Pengiriman</h4>
				<a class="ol-popup-box__close" onclick="showPopup()">
					<i class="ol-fa fas fa-times"></i>
				</a>
				<div class="ol-popup-box__form add-fix">
					<form>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Nama Depan</label>
							<input type="text" name="" class="ol-input">
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Nama Belakang</label>
							<input type="text" name="" class="ol-input">
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Telepon</label>
							<input type="text" name="" class="ol-input">
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Provinsi</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input-select">
									<option value="0">Jawa Timur</option>
									<option value="1">Jawa Barat</option>
								</select>
							</div>
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Kota</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input-select">
									<option value="0">Surabaya</option>
									<option value="1">Jakarta</option>
								</select>
							</div>
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Kecamatan</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input-select">
									<option value="0">Rungkut</option>
									<option value="1">Genteng</option>
								</select>
							</div>
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Kelurahan</label>
							<div class="ol-select-box">
								<select class="ol-input ol-input-select">
									<option value="0">Tegalsari</option>
									<option value="1">Embong Kaliasin</option>
								</select>
							</div>
						</div>
						<div class="ol-input-box ol-input-box--half">
							<label class="ol-input-label">Kode Pos</label>
							<input type="text" name="" class="ol-input">
						</div>
						<div class="ol-input-box ol-input-box--full">
							<label class="ol-input-label">Alamat</label>
							<textarea name="" class="ol-input"></textarea>
							<label class="ol-product-content__sidebar-item-list-item-link">

								<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									Simpan sebagai alamat utama

								<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

							</label>
						</div>
						<div class="ol-input-box ol-input-box--full">
							<input type="submit" name="" class="ol-btn" value="Simpan">
						</div>
					</form>
				</div>

			</div>

		</div>
	</div>

</section>



@@include('./_components/end-html.html')
