@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-product">
	<div class="ol-wrapper ol-wrapper--large">

		<div class="ol-breadcrumb">
			<a href="#" class="ol-breadcrumb__link">Home</a> >
			<a href="#" class="ol-breadcrumb__link">Kategori</a> >
			<a href="#" class="ol-breadcrumb__link">Sofa</a>
		</div>


		<div class="ol-hero-page">

			<div class="ol-wrapper ol-wrapper--large">

				<figure class="ol-hero-page__figure">
					<img src="images/og-hero.jpg" alt="" title="">
				</figure>

			</div>

		</div>

		<h2 class="ol-page-title">RUANG TAMU MINIMALIS</h2>


		<div class="ol-product-content__center-list">
			
			<div class="ol-home-product__content-item-list--item">

				<figure class="ol-home-product__content-item-list--item-figure">
					<a href="product-detail.html">
						<img src="images/og-cat4.png" alt="" title="" class="img-default">
							<img src="images/og-cat3.png" alt="" title="" class="img-hover">
					</a>
				</figure>

				<h3 class="ol-home-product__content-item-list--item-title">
					<a href="product-detail.html">Red Green Blue White Table </a>
				</h3>

				<div class="ol-home-product__content-item-list--item-price">
					<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
					<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
					</small>
				</div>

				<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

			</div>

			<div class="ol-home-product__content-item-list--item">

				<figure class="ol-home-product__content-item-list--item-figure">
					<a href="product-detail.html">
						<img src="images/og-cat2.png" alt="" title="" class="img-default">
							<img src="images/og-cat2.png" alt="" title="" class="img-hover">
					</a>
				</figure>

				<h3 class="ol-home-product__content-item-list--item-title">
					<a href="product-detail.html">Red Green Blue White Table </a>
				</h3>

				<div class="ol-home-product__content-item-list--item-price">
					<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
					</small>
				</div>

			</div>

			<div class="ol-home-product__content-item-list--item">

				<figure class="ol-home-product__content-item-list--item-figure">
					<a href="product-detail.html">
						<img src="images/og-cat2.png" alt="" title="" class="img-default">
							<img src="images/og-cat5.png" alt="" title="" class="img-hover">
					</a>
				</figure>

				<h3 class="ol-home-product__content-item-list--item-title">
					<a href="product-detail.html">Red Green Blue White Table </a>
				</h3>

				<div class="ol-home-product__content-item-list--item-price">
					<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
					</small>
				</div>

			</div>
			<div class="ol-home-product__content-item-list--item">

					<figure class="ol-home-product__content-item-list--item-figure">
						<a href="#">
							<img src="images/og-cat1.png" alt="" title="" class="img-default">
							<img src="images/og-cat2.png" alt="" title="" class="img-hover">
						</a>
					</figure>

					<h3 class="ol-home-product__content-item-list--item-title">
						<a href="#">White Table</a>
					</h3>

					<div class="ol-home-product__content-item-list--item-price">
						<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
						<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
						</small>
					</div>

					<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

			</div>

			<div class="ol-home-product__content-item-list--item">

				<figure class="ol-home-product__content-item-list--item-figure">
					<a href="product-detail.html">
						<img src="images/og-cat1.png" alt="" title="" class="img-default">
							<img src="images/og-cat2.png" alt="" title="" class="img-hover">
					</a>
				</figure>

				<h3 class="ol-home-product__content-item-list--item-title">
					<a href="product-detail.html">Red Green Blue White Table </a>
				</h3>

				<div class="ol-home-product__content-item-list--item-price">
					<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
					<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
					</small>
				</div>

				<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

			</div>

			<div class="ol-home-product__content-item-list--item">

				<figure class="ol-home-product__content-item-list--item-figure">
					<a href="product-detail.html">
						<img src="images/og-cat1.png" alt="" title="" class="img-default">
							<img src="images/og-cat2.png" alt="" title="" class="img-hover">
					</a>
				</figure>

				<h3 class="ol-home-product__content-item-list--item-title">
					<a href="product-detail.html">Red Green Blue White Table </a>
				</h3>

				<div class="ol-home-product__content-item-list--item-price">
					<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
					<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
					</small>
				</div>

				<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

			</div>

			<div class="ol-home-product__content-item-list--item">

				<figure class="ol-home-product__content-item-list--item-figure">
					<a href="product-detail.html">
						<img src="images/og-cat2.png" alt="" title="" class="img-default">
							<img src="images/og-cat1.png" alt="" title="" class="img-hover">
					</a>
				</figure>

				<h3 class="ol-home-product__content-item-list--item-title">
					<a href="product-detail.html">Red Green Blue White Table </a>
				</h3>

				<div class="ol-home-product__content-item-list--item-price">
					<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
					</small>
				</div>

			</div>

			<div class="ol-home-product__content-item-list--item">

				<figure class="ol-home-product__content-item-list--item-figure">
					<a href="product-detail.html">
						<img src="images/og-cat3.png" alt="" title="" class="img-default">
							<img src="images/og-cat2.png" alt="" title="" class="img-hover">
					</a>
				</figure>

				<h3 class="ol-home-product__content-item-list--item-title">
					<a href="product-detail.html">Red Green Blue White Table </a>
				</h3>

				<div class="ol-home-product__content-item-list--item-price">
					<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
					</small>
				</div>

			</div>
			<div class="ol-home-product__content-item-list--item">

				<figure class="ol-home-product__content-item-list--item-figure">
					<a href="product-detail.html">
						<img src="images/og-cat1.png" alt="" title="" class="img-default">
							<img src="images/og-cat2.png" alt="" title="" class="img-hover">
					</a>
				</figure>

				<h3 class="ol-home-product__content-item-list--item-title">
					<a href="product-detail.html">Red Green Blue White Table </a>
				</h3>

				<div class="ol-home-product__content-item-list--item-price">
					<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
					</small>
				</div>

			</div>
			<div class="ol-home-product__content-item-list--item">

				<figure class="ol-home-product__content-item-list--item-figure">
					<a href="product-detail.html">
						<img src="images/og-cat3.png" alt="" title="" class="img-default">
							<img src="images/og-cat4.png" alt="" title="" class="img-hover">
					</a>
				</figure>

				<h3 class="ol-home-product__content-item-list--item-title">
					<a href="product-detail.html">Red Green Blue White Table </a>
				</h3>

				<div class="ol-home-product__content-item-list--item-price">
					<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
					</small>
				</div>

			</div>
		</div>

	</div>
</section>



@@include('./_components/end-html.html')
