@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-product ol-product-detail">
	<div class="ol-wrapper ol-wrapper--large">

		<div class="ol-breadcrumb">
			<a href="#" class="ol-breadcrumb__link">Home</a> >
			<a href="#" class="ol-breadcrumb__link">Kategori</a> >
			<a href="#" class="ol-breadcrumb__link">Sofa</a>
		</div>

		<div class="ol-page">

			<h2 class="ol-page-title">PERTANYAAN YANG SERING DIAJUKAN</h2>

			<div class="ol-page__faq">
				<div class="ol-page__faq-item">

					<figure class="ol-page__faq-item-figure">
						<img src="images/og-hero.jpg" alt="RumaKamu" title="RumaKamu">
						<p>Pemesanan</p>
					</figure>

					<div class="ol-product-content-detail__desc-spec ol-page__faq-item-content">

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Bagaimana cara melakukan pemesanan produk di RumaKamu ?  <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Dimanakah saya dapat melihat status pesanan yang sudah saya lakukan ? <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Bagaimana cara memesan produk yang stoknya tidak tersedia ? <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Bagaimana cara melakukan pembatalan pesanan ? <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

						</div>


				</div>

				<div class="ol-page__faq-item">

					<figure class="ol-page__faq-item-figure">
						<img src="images/og-hero.jpg" alt="RumaKamu" title="RumaKamu">
						<p>Pembayaran</p>
					</figure>

					<div class="ol-product-content-detail__desc-spec ol-page__faq-item-content">

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Bagaimana cara melakukan pemesanan produk di RumaKamu ?  <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Dimanakah saya dapat melihat status pesanan yang sudah saya lakukan ? <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Bagaimana cara memesan produk yang stoknya tidak tersedia ? <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Bagaimana cara melakukan pembatalan pesanan ? <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

						</div>


				</div>

				<div class="ol-page__faq-item">

					<figure class="ol-page__faq-item-figure">
						<img src="images/og-hero.jpg" alt="RumaKamu" title="RumaKamu">
						<p>Pengiriman</p>
					</figure>

					<div class="ol-product-content-detail__desc-spec ol-page__faq-item-content">

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Bagaimana cara melakukan pemesanan produk di RumaKamu ?  <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Dimanakah saya dapat melihat status pesanan yang sudah saya lakukan ? <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Bagaimana cara memesan produk yang stoknya tidak tersedia ? <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Bagaimana cara melakukan pembatalan pesanan ? <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

						</div>


				</div>

				<div class="ol-page__faq-item">

					<figure class="ol-page__faq-item-figure">
						<img src="images/og-hero.jpg" alt="RumaKamu" title="RumaKamu">
						<p>Garansi dan Pengembalian</p>
					</figure>

					<div class="ol-product-content-detail__desc-spec ol-page__faq-item-content">

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Bagaimana cara melakukan pemesanan produk di RumaKamu ?  <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Dimanakah saya dapat melihat status pesanan yang sudah saya lakukan ? <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Bagaimana cara memesan produk yang stoknya tidak tersedia ? <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

							<div>
								<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Bagaimana cara melakukan pembatalan pesanan ? <i class="ol-fa fas fa-angle-down"></i></h4>
								<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
									<ul>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
										<li>Lorem ipsum dolor dewe</li>
									</ul>
								</div>
							</div>

						</div>


				</div>
			</div>

		</div>

	</div>
</section>



@@include('./_components/end-html.html')
