@@include('./_components/start-html.html')


<!-- Code Here -->
<!-- ol-hero-slider -->
<section class="ol-hero-slider">

	<a href="banner-detail.html" class="ol-hero-slider__item">
		<img src="images/og-banner01.jpg" alt="" title="" class="ol-hero-slider__item-img--desktop">
		<img src="images/m-og-banner01.jpg" alt="" title="" class="ol-hero-slider__item-img--mobile">
	</a>

	<a href="banner-detail.html" class="ol-hero-slider__item">
		<img src="images/og-banner02.jpg" alt="" title="" class="ol-hero-slider__item-img--desktop">
		<img src="images/m-og-banner02.jpg" alt="" title="" class="ol-hero-slider__item-img--mobile">
	</a>

	<a href="banner-detail.html" class="ol-hero-slider__item">
		<img src="images/og-banner03.jpg" alt="" title="" class="ol-hero-slider__item-img--desktop">
		<img src="images/m-og-banner03.jpg" alt="" title="" class="ol-hero-slider__item-img--mobile">
	</a>

</section>
<!-- /ol-hero-slider -->


<!-- ol-home-flash -->
<section class="ol-home-flash">

	<div class="ol-wrapper ol-wrapper--large">

		<div class="ol-home-flash-content">

			<h2 class="ol-section-title"><img src="images/og-petir.png"> FLASH SALE</h2>

			<!-- ol-home-flash-list -->
			<div class="ol-home-flash-list">

				<!-- ol-home-flash-list__item -->
				<div class="ol-home-flash-list__item">


					<figure class="ol-home-product__content-item-list--item-figure">
						<a href="product-detail.html">
							<img src="images/p2.png" alt="" title="" class="img-default">
								<img src="images/og-cat2.png" alt="" title="" class="img-hover">
						</a>
					</figure>

					<h3 class="ol-home-product__content-item-list--item-title">
						<a href="product-detail.html">Red Green Blue White Table </a>
					</h3>

					<div class="ol-home-product__content-item-list--item-price">
						<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
						</small>
					</div>

					<div class="ol-home-flash-list__item-bar">
						<span>
							<i style="width:50%;"></i>
						</span>
						<p>50% Terjual</p>
					</div>


					<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>
					

				</div>
				<!-- /ol-home-flash-list__item -->


				<!-- ol-home-flash-list__item -->
				<div class="ol-home-flash-list__item">


					<figure class="ol-home-product__content-item-list--item-figure">
						<a href="product-detail.html">
							<img src="images/p1.png" alt="" title="" class="img-default">
								<img src="images/og-cat1.png" alt="" title="" class="img-hover">
						</a>
					</figure>

					<h3 class="ol-home-product__content-item-list--item-title">
						<a href="product-detail.html">Red Green Blue White Table </a>
					</h3>

					<div class="ol-home-product__content-item-list--item-price">
						<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
						</small>
					</div>

					<div class="ol-home-flash-list__item-bar">
						<span>
							<i style="width:50%;"></i>
						</span>
						<p>50% Terjual</p>
					</div>


					<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>
					

				</div>
				<!-- /ol-home-flash-list__item -->


				<!-- ol-home-flash-list__item -->
				<div class="ol-home-flash-list__item">


					<figure class="ol-home-product__content-item-list--item-figure">
						<a href="product-detail.html">
							<img src="images/p3.png" alt="" title="" class="img-default">
								<img src="images/og-cat3.png" alt="" title="" class="img-hover">
						</a>
					</figure>

					<h3 class="ol-home-product__content-item-list--item-title">
						<a href="product-detail.html">Red Green Blue White Table </a>
					</h3>

					<div class="ol-home-product__content-item-list--item-price">
						<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
						</small>
					</div>

					<div class="ol-home-flash-list__item-bar">
						<span>
							<i style="width:5%;"></i>
						</span>
						<p>50% Terjual</p>
					</div>


					<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>
					

				</div>
				<!-- /ol-home-flash-list__item -->


				<!-- ol-home-flash-list__item -->
				<div class="ol-home-flash-list__item">


					<figure class="ol-home-product__content-item-list--item-figure">
						<a href="product-detail.html">
							<img src="images/p2.png" alt="" title="" class="img-default">
								<img src="images/og-cat2.png" alt="" title="" class="img-hover">
						</a>
					</figure>

					<h3 class="ol-home-product__content-item-list--item-title">
						<a href="product-detail.html">Red Green Blue White Table </a>
					</h3>

					<div class="ol-home-product__content-item-list--item-price">
						<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
						</small>
					</div>

					<div class="ol-home-flash-list__item-bar">
						<span>
							<i style="width:10%;"></i>
						</span>
						<p>50% Terjual</p>
					</div>


					<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>
					

				</div>
				<!-- /ol-home-flash-list__item -->


				<!-- ol-home-flash-list__item -->
				<div class="ol-home-flash-list__item">


					<figure class="ol-home-product__content-item-list--item-figure">
						<a href="product-detail.html">
							<img src="images/p1.png" alt="" title="" class="img-default">
								<img src="images/og-cat1.png" alt="" title="" class="img-hover">
						</a>
					</figure>

					<h3 class="ol-home-product__content-item-list--item-title">
						<a href="product-detail.html">Red Green Blue White Table </a>
					</h3>

					<div class="ol-home-product__content-item-list--item-price">
						<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
						</small>
					</div>

					<div class="ol-home-flash-list__item-bar">
						<span>
							<i style="width:30%;"></i>
						</span>
						<p>50% Terjual</p>
					</div>


					<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>
					

				</div>
				<!-- /ol-home-flash-list__item -->


				<!-- ol-home-flash-list__item -->
				<div class="ol-home-flash-list__item">


					<figure class="ol-home-product__content-item-list--item-figure">
						<a href="product-detail.html">
							<img src="images/p2.png" alt="" title="" class="img-default">
								<img src="images/og-cat2.png" alt="" title="" class="img-hover">
						</a>
					</figure>

					<h3 class="ol-home-product__content-item-list--item-title">
						<a href="product-detail.html">Red Green Blue White Table </a>
					</h3>

					<div class="ol-home-product__content-item-list--item-price">
						<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
						</small>
					</div>

					<div class="ol-home-flash-list__item-bar">
						<span>
							<i style="width:50%;"></i>
						</span>
						<p>50% Terjual</p>
					</div>


					<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>
					

				</div>
				<!-- /ol-home-flash-list__item -->




			</div>
			<!-- /ol-home-flash-list -->


		</div>

	</div>

</section>
<!-- /ol-home-flash -->



<section class="ol-home-interior">
	<div class="ol-wrapper--large ol-wrapper">

		<h2 class="ol-section-title">DESAIN <span>INTERIOR</span></h2>


		<div class="ol-home-interior__list add-fix">
			
			<div class="ol-home-interior__list-item">
				<div class="ol-home-interior__list-item-wrapper">
					<figure class="ol-home-interior__list-item-figure">
						<a href="#"><img src="images/og-suasana.jpg" alt="" title=""></a>
					</figure>
					<h3 class="ol-home-interior__list-item-title">
						<a href="#">Bed Room</a>
					</h3>
				</div>
			</div>

			<div class="ol-home-interior__list-item">
				<div class="ol-home-interior__list-item-wrapper">
					<figure class="ol-home-interior__list-item-figure">
						<a href="#"><img src="images/og-suasana.jpg" alt="" title=""></a>
					</figure>
					<h3 class="ol-home-interior__list-item-title">
						<a href="#">Bed Room</a>
					</h3>
				</div>
			</div>

			<div class="ol-home-interior__list-item">
				<div class="ol-home-interior__list-item-wrapper">
					<figure class="ol-home-interior__list-item-figure">
						<a href="#"><img src="images/og-suasana.jpg" alt="" title=""></a>
					</figure>
					<h3 class="ol-home-interior__list-item-title">
						<a href="#">Bed Room</a>
					</h3>
				</div>
			</div>

		</div>

	</div>
</section>


<!-- ol-home-category -->
<section class="ol-home-category">
	
	<div class="ol-wrapper ol-wrapper--large">

		<h2 class="ol-section-title">KATEGORI <span>PRODUK</span></h2>

		<div class="ol-home-category__list add-fix">


			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat3.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Sofa</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->


			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat1.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Kasur</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat2.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Kabinet</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat3.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Sofa</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat2.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Kabinet</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat4.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Kursi</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat5.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Meja</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat6.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Dapur</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat7.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Anak - anak</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat8.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Sale</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat3.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Sofa</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

			<!-- ol-home-category__list-item -->
			<div class="ol-home-category__list-item">

				<div class="ol-home-category__list-item-wrapper">

					<figure class="ol-home-category__list-item-figure">
						<a href="product.html">
							<img src="images/og-cat7.png" alt="" title="">
						</a>
					</figure>

					<h3 class="ol-home-category__list-item-title">
						<a href="product.html">Anak - anak</a>
					</h3>

				</div>

			</div>
			<!-- /ol-home-category__list-item -->

		</div>

	</div>

</section>
<!-- /ol-home-category -->


<!-- ol-home-info -->
<section class="ol-home-info">
	
	<div class="ol-wrapper ol-wrapper--large">

		<!-- ol-home-info__list -->
		<div class="ol-home-info__list add-fix">

			<div class="ol-home-info__list-item">
				<div class="ol-home-info__list-item-wrapper">
					<i class="ol-home-info__list-item-ico">
						<img src="images/og-ongkir.png" alt="" title="">
					</i>
					<span>Gratis Ongkos Kirim</span>

					<div class="ol-home-info__list-item-snk">
						Syarat dan Ketentuan
					</div>
				</div>
			</div>

			<div class="ol-home-info__list-item">
				<div class="ol-home-info__list-item-wrapper">
					<i class="ol-home-info__list-item-ico">
						<img src="images/og-garansi.png" alt="" title="">
					</i>
					<span>Garansi 2 Tahun</span>

					<div class="ol-home-info__list-item-snk">
						Syarat dan Ketentuan
					</div>
				</div>
			</div>

			<div class="ol-home-info__list-item">
				<div class="ol-home-info__list-item-wrapper">
					<i class="ol-home-info__list-item-ico">
						<img src="images/og-harga.png" alt="" title="">
					</i>
					<span>Harga Jujur Sepanjang Tahun</span>

					<div class="ol-home-info__list-item-snk">
						Syarat dan Ketentuan
					</div>
				</div>
			</div>

		</div>
		<!-- /ol-home-info__list -->

	</div>

</section>
<!-- /ol-home-info -->


<!-- ol-home-inspiration -->
<section class="ol-home-inspiration">

	<!-- ol-home-inspiration__item -->
	<div class="ol-home-inspiration__item" style="background-image:url(images/og-suasana.jpg);">

		<div class="ol-wrapper ol-wrapper--large">

			<div class="ol-home-inspiration__item-caption">
				<h3><a href="environment.html">Ruang Tamu Minimalis</a></h3>
				<p>Hadirkan Kenyamanan yang Maksimal</p>
			</div>

		</div>

		<div class="ol-home-inspiration__item-overlay">

			<div class="ol-home-inspiration__item-overlay-content ol-wrapper ol-wrapper--large">

				<!-- ol-home-inspiration__item-overlay-content-item -->
				<div class="ol-home-inspiration__item-overlay-content-item" style="top:300px;left:200px;">
					<span class="ol-home-inspiration__item-overlay-content-nud"></span>
					<div class="ol-home-inspiration__item-overlay-content-item-wrapper">
						<figure>
							<img src="images/og-produk2.png" alt="" title="">
						</figure>
						<h3>
							<a href="#">Sofa</a>
						</h3>
						<p>Rp 6.000.000</p>
						<a href="#" class="ol-btn">Beli Sekarang</a>
					</div>
				</div>
				<!-- /ol-home-inspiration__item-overlay-content-item -->

				<!-- ol-home-inspiration__item-overlay-content-item -->
				<div class="ol-home-inspiration__item-overlay-content-item" style="top:100px;left:800px;">
					<span class="ol-home-inspiration__item-overlay-content-nud"></span>
					<div class="ol-home-inspiration__item-overlay-content-item-wrapper">
						<figure>
							<img src="images/og-produk2.png" alt="" title="">
						</figure>
						<h3>
							<a href="#">Sofa</a>
						</h3>
						<p>Rp 6.000.000</p>
						<a href="#" class="ol-btn">Beli Sekarang</a>
					</div>
				</div>
				<!-- /ol-home-inspiration__item-overlay-content-item -->

			</div>

		</div>

	</div>
	<!-- /ol-home-inspiration__item -->

	<!-- ol-home-inspiration__item -->
	<div class="ol-home-inspiration__item" style="background-image:url(images/og-suasana.jpg);">

		<div class="ol-wrapper ol-wrapper--large">

			<div class="ol-home-inspiration__item-caption">
				<h3><a href="environment.html">Ruang Tamu Minimalis</a></h3>
				<p>Hadirkan Kenyamanan yang Maksimal</p>
			</div>

		</div>

		<div class="ol-home-inspiration__item-overlay">

			<div class="ol-home-inspiration__item-overlay-content ol-wrapper ol-wrapper--large">


				<!-- ol-home-inspiration__item-overlay-content-item -->
				<div class="ol-home-inspiration__item-overlay-content-item" style="top:200px;left:300px;">
					<span class="ol-home-inspiration__item-overlay-content-nud"></span>
					<div class="ol-home-inspiration__item-overlay-content-item-wrapper">
						<figure>
							<img src="images/og-produk2.png" alt="" title="">
						</figure>
						<h3>
							<a href="#">Sofa</a>
						</h3>
						<p>Rp 6.000.000</p>
						<a href="#" class="ol-btn">Beli Sekarang</a>
					</div>
				</div>
				<!-- /ol-home-inspiration__item-overlay-content-item -->

				<!-- ol-home-inspiration__item-overlay-content-item -->
				<div class="ol-home-inspiration__item-overlay-content-item" style="top:200px;left:1000px;">
					<span class="ol-home-inspiration__item-overlay-content-nud"></span>
					<div class="ol-home-inspiration__item-overlay-content-item-wrapper">
						<figure>
							<img src="images/og-produk2.png" alt="" title="">
						</figure>
						<h3>
							<a href="#">Sofa</a>
						</h3>
						<p>Rp 6.000.000</p>
						<a href="#" class="ol-btn">Beli Sekarang</a>
					</div>
				</div>
				<!-- /ol-home-inspiration__item-overlay-content-item -->


			</div>

		</div>

	</div>
	<!-- /ol-home-inspiration__item -->

</section>
<!-- /ol-home-inspiration -->


<section class="ol-home-type-product">
	<div class="ol-wrapper ol-wrapper--large">
	
		<div class="ol-home-type-product__list">
			<div class="ol-home-type-product__list-item">
				<div class="ol-home-type-product__list-item-wrapper">
					<div class="ol-home-type-product__list-item-title">
						<h4>TERLARIS</h4>
						<a href="product-bestseller.html">Selengkapnya</a>
					</div>
					<div class="ol-home-type-product__list-item-box">

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="product-detail.html">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="product-detail.html">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="product-detail.html">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="product-detail.html">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="product-detail.html">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="product-detail.html">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="ol-home-type-product__list-item">
				<div class="ol-home-type-product__list-item-wrapper">
					<div class="ol-home-type-product__list-item-title">
						<h4>TERPOPULER</h4>
						<a href="product-most.html">Selengkapnya</a>
					</div>
					<div class="ol-home-type-product__list-item-box">

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="product-detail.html">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="product-detail.html">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="product-detail.html">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="product-detail.html">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="product-detail.html">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="product-detail.html">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="ol-home-type-product__list-item">
				<div class="ol-home-type-product__list-item-wrapper">
					<div class="ol-home-type-product__list-item-title">
						<h4>TERBARU</h4>
						<a href="product-new.html">Selengkapnya</a>
					</div>
					<div class="ol-home-type-product__list-item-box">

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="product-detail.html">
									<img src="images/og-produk1.png" alt="" title="" class="img-default">
									<img src="images/og-produk2.png" alt="" title="" class="img-hover">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="product-detail.html">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="product-detail.html">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="product-detail.html">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>

						<div class="ol-home-type-product__list-item-loop">
							<figure class="ol-home-type-product__list-item-loop-figure">
							<a href="product-detail.html">
									<img src="images/og-produk2.png" alt="" title="">
								</a>
							</figure>
							<div class="ol-home-type-product__list-item-loop-desc">
								<h3 class="ol-home-type-product__list-item-loop-title">
									<a href="product-detail.html">Stone & Beam Bradbury Burn Burn</a>
								</h3>
								<div class="ol-home-type-product__list-item-loop-desc-price">
									<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
									<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
									<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
									</small>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>	
</section>

<!-- ol-home-review -->
<section class="ol-home-review">

	<div class="ol-wrapper ol-wrapper--large">

		<h2 class="ol-section-title">ULASAN <span>PELANGGAN</span></h2>

		<!-- ol-home-review__list -->
		<div class="ol-home-review__list">

			<div class="ol-home-review__list-item add-fix">

				<figure class="ol-home-review__list-item-figure">
					<img src="images/og-testi1.png" alt="" title="">
				</figure>

				<div class="ol-home-review__list-item-desc">
					<i class="ol-fa fas fa-quote-left"></i>
					<p class="ol-home-review__list-item-desc-text">
						Lorem ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor
					</p>
					<h4 class="ol-home-review__list-item-desc-name">
						Lusi
					</h4>
					<div class="ol-home-review__list-item-desc-star">
						<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--off"></i>
					</div>
				</div>

			</div>


			<div class="ol-home-review__list-item add-fix">

				<figure class="ol-home-review__list-item-figure">
					<img src="images/og-testi2.png" alt="" title="">
				</figure>

				<div class="ol-home-review__list-item-desc">
					<i class="ol-fa fas fa-quote-left"></i>
					<p class="ol-home-review__list-item-desc-text">
						Lorem ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor
					</p>
					<h4 class="ol-home-review__list-item-desc-name">
						Lusi
					</h4>
					<div class="ol-home-review__list-item-desc-star">
						<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--off"></i>
						<i class="fas fa-star far--off"></i>
					</div>
				</div>

			</div>

			<div class="ol-home-review__list-item add-fix">

				<figure class="ol-home-review__list-item-figure">
					<img src="images/og-testi2.png" alt="" title="">
				</figure>

				<div class="ol-home-review__list-item-desc">
					<i class="ol-fa fas fa-quote-left"></i>
					<p class="ol-home-review__list-item-desc-text">
						Lorem ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor ipsum dolor
					</p>
					<h4 class="ol-home-review__list-item-desc-name">
						Lusi
					</h4>
					<div class="ol-home-review__list-item-desc-star">
						<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--off"></i>
						<i class="fas fa-star far--off"></i>
						<i class="fas fa-star far--off"></i>
					</div>
				</div>

			</div>

		</div>
		<!-- /ol-home-review__list -->

	</div>

</section>
<!-- /ol-home-review -->


@@include('./_components/end-html.html')