@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-hero-page ol-hero-page--inspiration">

	<figure class="ol-hero-page__figure">
		<img src="images/og-hero.jpg" alt="" title="">
	</figure>


	<div class="ol-hero-page--inspiration-searchbar">
		<h3 class="ol-hero-page--inspiration-searchbar__title">Inspirasi untuk RumaKamu</h3>
		<div class="ol-hero-page--inspiration-searchbar__form">
			<form>
				<input type="text" name="" class="ol-hero-page--inspiration-searchbar__form-input" placeholder="Pencarian Inspirasi"><button class="ol-hero-page--inspiration-searchbar__form-btn">
					<i class="ol-fa fas fa-search"></i>
				</button>
			</form>
		</div>
		<div class="ol-hero-page--inspiration-searchbar__suggest">
			<strong>Pencariaon Terpopuler :</strong>
			<span>Ruang Makan, Dapur, Ruang Tidur, Ruang Tamu, Ruang Kerja, Ruang Keluarga</span>
		</div>
	</div>

</section>


<div class="ol-section ol-inspiration">
	<div class="ol-wrapper ol-wrapper--large">


		<div class="ol-breadcrumb">
			<a href="#" class="ol-breadcrumb__link">Home</a> >
			<a href="#" class="ol-breadcrumb__link">Kategori</a> >
			<a href="#" class="ol-breadcrumb__link">Sofa</a>
		</div>


		<div class="ol-inspiration__content">

			<nav class="ol-inspiration__content-nav">
				<span class="ol-inspiration__content-nav-link">RUANG MAKAN DAN DAPUR</span>
				<span class="ol-inspiration__content-nav-link">RUANG TIDUR ANAK</span>
				<span class="ol-inspiration__content-nav-link">RUANG TIDUR DEWASA</span>
				<span class="ol-inspiration__content-nav-link">RUANG TAMU</span>
				<span class="ol-inspiration__content-nav-link">RUANG KERJA</span>
				<span class="ol-inspiration__content-nav-link">RUANG KERJA</span>
				<span class="ol-inspiration__content-nav-link">RUANG KERJA</span>
				<span class="ol-inspiration__content-nav-link">FURNITURE CAFE</span>
				<span class="ol-inspiration__content-nav-link">OFFICE FURNITURE</span>
			</nav>


			<div class="ol-inspiration__content-list">
				<div class="ol-inspiration__content-list-item">

					<div class="ol-inspiration__content-list-item-wrapper">
					

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/1.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/og-suasana.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/1.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<span class="ol-btn ol-btn--third">✔ Tersimpan</span>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/og-hero.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/og-suasana.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/1.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/2.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/3.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/4.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>


						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/2.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<span class="ol-btn ol-btn--third">✔ Tersimpan</span>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/3.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/1.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<span class="ol-btn ol-btn--third">✔ Tersimpan</span>
							</div>
						</div>


					</div>


				</div>

				<div class="ol-inspiration__content-list-item">

					<div class="ol-inspiration__content-list-item-wrapper">
					

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/1.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/og-suasana.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/1.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<span class="ol-btn ol-btn--third">✔ Tersimpan</span>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/og-hero.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/og-suasana.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/1.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/2.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<span class="ol-btn ol-btn--third">✔ Tersimpan</span>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="images/3.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<a href="#" class="ol-btn">+ Simpan</a>
							</div>
						</div>

						<div class="ol-inspiration__content-list-item-figure">
							<div class="ol-inspiration__content-list-item-figure-wrapper">
								<figure>
									<a href="inspiration-detail.html">
										<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/1.jpg" alt="" title="">
									</a>
								</figure>
								<h4>
									<a href="inspiration-detail.html">Lorem ipsum dolor sit amet</a>
								</h4>
								<span class="ol-btn ol-btn--third">✔ Tersimpan</span>
							</div>
						</div>


					</div>


				</div>


				<div class="ol-inspiration__content-list-item">
					asd
				</div>
				<div class="ol-inspiration__content-list-item">
					fgh
				</div>
				<div class="ol-inspiration__content-list-item">
					asd
				</div>
				<div class="ol-inspiration__content-list-item">
					fgh
				</div>
				<div class="ol-inspiration__content-list-item">
					asd
				</div>
				<div class="ol-inspiration__content-list-item">
					fgh
				</div>
			</div>


			<div class="ol-paging">
				<a href="#" class="ol-paging__link">&laquo;</a>
				<a href="#" class="ol-paging__link">1</a>
				<a href="#" class="ol-paging__link">2</a>
				<a href="#" class="ol-paging__link active">3</a>
				<a href="#" class="ol-paging__link">&raquo;</a>
			</div>

		</div>



	</div>
</div>


@@include('./_components/end-html.html')
