@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-product ol-product-detail">
	<div class="ol-wrapper ol-wrapper--large">

		<div class="ol-breadcrumb">
			<a href="#" class="ol-breadcrumb__link">Home</a> >
			<a href="#" class="ol-breadcrumb__link">Kategori</a> >
			<a href="#" class="ol-breadcrumb__link">Sofa</a>
		</div>

		<div class="ol-page">

			<h2 class="ol-page-title">KEBIJAKAN PENGEMBALIAN</h2>


			<p class="ol-page__desc">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
			</p>


			<div class="ol-page__content">


				<div class="ol-page__content-item">
					<h3>1. Kebijakan Data Pribadi</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate</p>
				</div>

				<div class="ol-page__content-item">
					<h3>2. Kebijakan Cookie</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate</p>
					<ol>
						<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
						<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
						<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					</ol>
				</div>

				<div class="ol-page__content-item">
					<h3>3. Perlindungan Data Pribadi</h3>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
						<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
						<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					</ul>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate</p>
				</div>

				<div class="ol-page__content-item">
					<h3>4. Tautan ke Situs Web Lain</h3>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
						<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
						<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					</ul>
				</div>

				<div class="ol-page__content-item">
					<h3>5. Perubahan Kebijakan Privasi</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate</p>
				</div>

			</div>

		</div>

	</div>
</section>



@@include('./_components/end-html.html')
