@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-product ol-product-detail">
	<div class="ol-wrapper ol-wrapper--large">

		<div class="ol-breadcrumb">
			<a href="#" class="ol-breadcrumb__link">Home</a> >
			<a href="#" class="ol-breadcrumb__link">Kategori</a> >
			<a href="#" class="ol-breadcrumb__link">Sofa</a>
		</div>


		<div class="ol-product-content ol-product-content-landing add-fix">


			<div class="ol-product-content-landing__anchor">

				<h2 class="ol-section-title">
					KATEGORI RUANGAN
				</h2>

				<div class="ol-product-content-landing__anchor-list">
					<div class="ol-product-content-landing__anchor-list-figure">
						<figure>
							<a href="product-landing.html#cat1">
								<img src="images/og-cat6.png" alt="" title="">
							</a>
						</figure>
						<a href="product-landing.html#cat1" class="ol-product-content-landing__anchor-list-title">Ruang Makan dan Dapur</a>
					</div>
					<div class="ol-product-content-landing__anchor-list-figure">
						<figure>
							<a href="product-landing.html#cat2">
								<img src="images/og-landing2-2.jpg" alt="" title="">
							</a>
						</figure>
						<a href="product-landing.html#cat2" class="ol-product-content-landing__anchor-list-title">Ruang Tidur Anak</a>
					</div>
					<div class="ol-product-content-landing__anchor-list-figure">
						<figure>
							<a href="product-landing.html#cat3">
								<img src="images/og-cat1.png" alt="" title="">
							</a>
						</figure>
						<a href="product-landing.html#cat3" class="ol-product-content-landing__anchor-list-title">Ruang Tidur Dewasa</a>
					</div>
					<div class="ol-product-content-landing__anchor-list-figure">
						<figure>
							<a href="product-landing.html#cat4">
								<img src="images/og-cat3.png" alt="" title="">
							</a>
						</figure>
						<a href="product-landing.html#cat4" class="ol-product-content-landing__anchor-list-title">Ruang Tamu</a>
					</div>
					<div class="ol-product-content-landing__anchor-list-figure">
						<figure>
							<a href="product-landing.html#cat5">
								<img src="images/og-landing7-1.jpg" alt="" title="">
							</a>
						</figure>
						<a href="product-landing.html#cat5" class="ol-product-content-landing__anchor-list-title">Ruang Kerja</a>
					</div>
					<div class="ol-product-content-landing__anchor-list-figure">
						<figure>
							<a href="product-landing.html#cat6">
								<img src="images/og-landing6-2.jpg" alt="" title="">
							</a>
						</figure>
						<a href="product-landing.html#cat6" class="ol-product-content-landing__anchor-list-title">Furniture Cafe</a>
					</div>
					<div class="ol-product-content-landing__anchor-list-figure">
						<figure>
							<a href="product-landing.html#cat7">
								<img src="images/og-landing5-3.jpg" alt="" title="">
							</a>
						</figure>
						<a href="product-landing.html#cat7" class="ol-product-content-landing__anchor-list-title">Office Furniture</a>
					</div>
				</div>

			</div>

			
			<div class="ol-product-content-landing__list">

				<div class="ol-product-content-landing__list-item" id="cat1">
					<h2 class="ol-section-title">
						RUANG MAKAN DAN DAPUR
					</h2>
					<div class="ol-product-content-landing__list-item-wrapper add-fix">
						<div class="ol-product-content-landing__list-item-banner">
							<figure class="ol-product-content-landing__list-item-banner-figure">
								<a href="product.html">
									<img src="images/og-landing1.jpg" alt="" title="">
								</a>
							</figure>
						</div>
						<div class="ol-product-content-landing__list-item-thumb">
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing1-1.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Meja Makan</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing1-2.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Kursi Makan</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing1-3.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Kitchen Kabinet</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing1-4.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Tempat Penyimpanan</a>
							</div>
						</div>
					</div>
				</div>

				<div class="ol-product-content-landing__list-item" id="cat2">
					<h2 class="ol-section-title">
						RUANG TIDUR ANAK
					</h2>
					<div class="ol-product-content-landing__list-item-wrapper add-fix">
						<div class="ol-product-content-landing__list-item-banner">
							<figure class="ol-product-content-landing__list-item-banner-figure">
								<a href="product.html">
									<img src="images/og-landing2.jpg" alt="" title="">
								</a>
							</figure>
						</div>
						<div class="ol-product-content-landing__list-item-thumb">
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing2-1.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Meja Belajar Anak</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing2-2.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Ranjang Anak</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing2-3.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Lemari Pakaian Anak</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing2-4.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Cermin Anak</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing2-5.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Kursi Anak</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing2-6.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Tempat Penyimpanan</a>
							</div>
						</div>
					</div>
				</div>

				<div class="ol-product-content-landing__list-item" id="cat3">
					<h2 class="ol-section-title">
						RUANG TIDUR DEWASA
					</h2>
					<div class="ol-product-content-landing__list-item-wrapper add-fix">
						<div class="ol-product-content-landing__list-item-banner">
							<figure class="ol-product-content-landing__list-item-banner-figure">
								<a href="product.html">
									<img src="images/og-landing3.jpg" alt="" title="">
								</a>
							</figure>
						</div>
						<div class="ol-product-content-landing__list-item-thumb">
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing3-1.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Ranjang</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing3-2.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Divan</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing3-3.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Kasur</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing3-4.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Lemari Pakaian</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing-1.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Meja Rias</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing3-6.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Tempat Penyimpanan</a>
							</div>
						</div>
					</div>
				</div>

				<div class="ol-product-content-landing__list-item" id="cat4">
					<h2 class="ol-section-title">
						RUANG TAMU
					</h2>
					<div class="ol-product-content-landing__list-item-wrapper add-fix">
						<div class="ol-product-content-landing__list-item-banner">
							<figure class="ol-product-content-landing__list-item-banner-figure">
								<a href="product.html">
									<img src="images/og-landing4.jpg" alt="" title="">
								</a>
							</figure>
						</div>
						<div class="ol-product-content-landing__list-item-thumb">
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing4-1.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Lemari Hias</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing4-2.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Lemari Pajangan</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing4-3.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Meja Tamu</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing4-4.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Rak TV</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing4-5.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Pembatas Ruangan</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing4-6.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Lemari Sepatu</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-cat3.png" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Sofa</a>
							</div>
						</div>
					</div>
				</div>

				<div class="ol-product-content-landing__list-item" id="cat5">
					<h2 class="ol-section-title">
						RUANG KERJA
					</h2>
					<div class="ol-product-content-landing__list-item-wrapper add-fix">
						<div class="ol-product-content-landing__list-item-banner">
							<figure class="ol-product-content-landing__list-item-banner-figure">
								<a href="product.html">
									<img src="images/og-landing5.jpg" alt="" title="">
								</a>
							</figure>
						</div>
						<div class="ol-product-content-landing__list-item-thumb">
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing5-1.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Meja</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing5-2.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Tempat Penyimpanan</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing5-3.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Kursi</a>
							</div>
						</div>
					</div>
				</div>

				<div class="ol-product-content-landing__list-item" id="cat6">
					<h2 class="ol-section-title">
						FURNITURE CAFE
					</h2>
					<div class="ol-product-content-landing__list-item-wrapper add-fix">
						<div class="ol-product-content-landing__list-item-banner">
							<figure class="ol-product-content-landing__list-item-banner-figure">
								<a href="product.html">
									<img src="images/og-landing6.jpg" alt="" title="">
								</a>
							</figure>
						</div>
						<div class="ol-product-content-landing__list-item-thumb">
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing6-1.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Meja Cafe</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing6-2.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Kursi Cafe</a>
							</div>
						</div>
					</div>
				</div>

				<div class="ol-product-content-landing__list-item" id="cat7">
					<h2 class="ol-section-title">
						OFFICE FURNITURE
					</h2>
					<div class="ol-product-content-landing__list-item-wrapper add-fix">
						<div class="ol-product-content-landing__list-item-banner">
							<figure class="ol-product-content-landing__list-item-banner-figure">
								<a href="product.html">
									<img src="images/og-landing7.jpg" alt="" title="">
								</a>
							</figure>
						</div>
						<div class="ol-product-content-landing__list-item-thumb">
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing7-1.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Meja</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing7-2.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Kursi</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing7-3.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Tempat Penyimpanan</a>
							</div>
							<div class="ol-product-content-landing__list-item-thumb-figure">
								<figure>
									<a href="product.html">
										<img src="images/og-landing7-4.jpg" alt="" title="">
									</a>
								</figure>
								<a href="product.html" class="ol-product-content-landing__list-item-thumb-title">Partisi</a>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
</section>



@@include('./_components/end-html.html')
