@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-hero-page">

	<figure class="ol-hero-page__figure">
		<img src="images/og-hero.jpg" alt="" title="">
	</figure>

</section>

<section class="ol-product">
	<div class="ol-wrapper ol-wrapper--large">

		<div class="ol-breadcrumb">
			<a href="#" class="ol-breadcrumb__link">Home</a> >
			<a href="#" class="ol-breadcrumb__link">Kategori</a> >
			<a href="#" class="ol-breadcrumb__link">Sofa</a>
		</div>


		<div class="ol-product-content add-fix">
			
			<aside class="ol-product-content__sidebar">

				<form>

				<div class="ol-product-content__sidebar-item">
					<h4 class="ol-product-content__sidebar-item-title">KATEGORI</h4>

					<div class="ol-product-content__sidebar-item-list">

						<div class="ol-product-content__sidebar-item-list-item">
							<h4 class="ol-product-content__sidebar-item-list-item-title" onclick="showmenu(this)">RUANG TAMU</h4>
							<div class="ol-product__filter-list__item-dd" style="display:none;">
								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

							</div>
						</div>
						<div class="ol-product-content__sidebar-item-list-item">
							<h4 class="ol-product-content__sidebar-item-list-item-title" onclick="showmenu(this)">RUANG MAKAN</h4>
							<div class="ol-product__filter-list__item-dd" style="display:none;">
								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

							</div>
						</div>
						<div class="ol-product-content__sidebar-item-list-item">
							<h4 class="ol-product-content__sidebar-item-list-item-title" onclick="showmenu(this)">KAMAR TIDUR</h4>
							<div class="ol-product__filter-list__item-dd" style="display:none;">
								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

							</div>
						</div>

						<div class="ol-product-content__sidebar-item-list-item">
							<h4 class="ol-product-content__sidebar-item-list-item-title" onclick="showmenu(this)">RUANG KERJA</h4>
							<div class="ol-product__filter-list__item-dd" style="display:none;">
								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

							</div>
						</div>

						<div class="ol-product-content__sidebar-item-list-item">
							<h4 class="ol-product-content__sidebar-item-list-item-title" onclick="showmenu(this)">BRAND</h4>
							<div class="ol-product__filter-list__item-dd" style="display:none;">
								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Sofa</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

							</div>
						</div>

					</div>

				</div>

				<div class="ol-product-content__sidebar-item">
					<h4 class="ol-product-content__sidebar-item-title">FILTER</h4>

					<div class="ol-product-content__sidebar-item-list">

						<div class="ol-product-content__sidebar-item-list-item">
							<h4 class="ol-product-content__sidebar-item-list-item-title" onclick="showmenu(this)">HARGA</h4>
							<div>
								<div class="price-range-slider">

									<div id="slider-range" class="range-bar"></div>
									<p class="range-value">
									<input type="text" id="amount" readonly>
									</p>

								</div>
							</div>
						</div>
						<div class="ol-product-content__sidebar-item-list-item">
							<h4 class="ol-product-content__sidebar-item-list-item-title" onclick="showmenu(this)">WARNA</h4>
							<div>
								<a href="" class="ol-product-content__sidebar-item-list-item-color active" style="background-color:#1abc9c"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#2ecc71"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#3498db"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#9b59b6"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#f1c40f"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#e67e22"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#e74c3c"></a>
							</div>
						</div>
						<div class="ol-product-content__sidebar-item-list-item">
							<h4 class="ol-product-content__sidebar-item-list-item-title" onclick="showmenu(this)">MATERIAL</h4>
							<div>
						
								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Kayu</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Plastik</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>

								<label class="ol-product-content__sidebar-item-list-item-link">

									<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

									<span>Faber</span><u>43</u>

									<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

								</label>
							</div>
						</div>

					</div>

				</div>

				</form>
			</aside>


			<div class="ol-product-content__center">

				<div class="ol-product-content__center-filter add-fix">
					<div class="ol-product-content__center-filter-item ol-product-content__center-filter-total">
						<strong>345</strong> PRODUK DITEMUKAN
					</div>
					<div class="ol-product-content__center-filter-item ol-product-content__center-filter-compare">
						<a href="product-compare-search.html">
							BANDINGKAN <i class="ol-fa fas fa-retweet"></i>
						</a>
					</div>
					<div class="ol-product-content__center-filter-item ol-product-content__center-filter-sort">
						<strong>URUTKAN :</strong>
						<div class="ol-select-box">
							<select class="ol-input-select">
								<option value="0">Nama</option>
								<option value="1">Harga</option>
							</select>
						</div>
					</div>
					<div class="ol-product-content__center-filter-item ol-product-content__center-filter-show">
						<strong>TAMPILKAN</strong>
						<div>
							<a href="#" class="ol-product-content__center-filter-show-link">12</a>
							<a href="#" class="ol-product-content__center-filter-show-link">24</a>
							<a href="#" class="ol-product-content__center-filter-show-link active">36</a>
						</div>
					</div>
				</div>

				<div class="ol-product-content__center-list">
					<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="product-detail.html">
									<img src="images/og-cat1.png" alt="" title="" class="img-default">
									<img src="images/og-cat2.png" alt="" title="" class="img-hover">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="product-detail.html">Red Green Blue White Table </a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000 - Rp 1.300.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat1.png" alt="" title="" class="img-default">
									<img src="images/og-cat1.png" alt="" title="" class="img-hover">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">Red Green Blue White Table </a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
							<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
							</small>
						</div>

						<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat4.png" alt="" title="" class="img-default">
									<img src="images/og-cat3.png" alt="" title="" class="img-hover">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">Red Green Blue White Table </a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
							<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
							</small>
						</div>

						<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat2.png" alt="" title="" class="img-default">
									<img src="images/og-cat2.png" alt="" title="" class="img-hover">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">Red Green Blue White Table </a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
							</small>
						</div>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat2.png" alt="" title="" class="img-default">
									<img src="images/og-cat5.png" alt="" title="" class="img-hover">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">Red Green Blue White Table </a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
							</small>
						</div>

					</div>
					<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="#">
									<img src="images/og-cat1.png" alt="" title="" class="img-default">
									<img src="images/og-cat2.png" alt="" title="" class="img-hover">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="#">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat1.png" alt="" title="" class="img-default">
									<img src="images/og-cat2.png" alt="" title="" class="img-hover">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">Red Green Blue White Table </a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
							<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
							</small>
						</div>

						<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat1.png" alt="" title="" class="img-default">
									<img src="images/og-cat2.png" alt="" title="" class="img-hover">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">Red Green Blue White Table </a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
							<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
							</small>
						</div>

						<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat2.png" alt="" title="" class="img-default">
									<img src="images/og-cat1.png" alt="" title="" class="img-hover">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">Red Green Blue White Table </a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
							</small>
						</div>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat3.png" alt="" title="" class="img-default">
									<img src="images/og-cat2.png" alt="" title="" class="img-hover">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">Red Green Blue White Table </a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
							</small>
						</div>

					</div>
					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat1.png" alt="" title="" class="img-default">
									<img src="images/og-cat2.png" alt="" title="" class="img-hover">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">Red Green Blue White Table </a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
							</small>
						</div>

					</div>
					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat3.png" alt="" title="" class="img-default">
									<img src="images/og-cat4.png" alt="" title="" class="img-hover">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">Red Green Blue White Table </a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
							</small>
						</div>

					</div>
				</div>


				<div class="ol-paging">
					<a href="#" class="ol-paging__link">&laquo;</a>
					<a href="#" class="ol-paging__link">1</a>
					<a href="#" class="ol-paging__link">2</a>
					<a href="#" class="ol-paging__link active">3</a>
					<a href="#" class="ol-paging__link">&raquo;</a>
				</div>

			</div>

		</div>

	</div>
</section>



@@include('./_components/end-html.html')
