@@include('./_components/start-html.html')


<!-- Code Here -->
<section class="ol-product ol-product-detail">
	<div class="ol-wrapper ol-wrapper--large">

		<div class="ol-breadcrumb">
			<a href="#" class="ol-breadcrumb__link">Home</a> >
			<a href="#" class="ol-breadcrumb__link">Kategori</a> >
			<a href="#" class="ol-breadcrumb__link">Sofa</a>
		</div>


		<div class="ol-product-content ol-product-content-detail add-fix">
			
			<div class="ol-product-content-detail__images">
				<div class="ol-product-content-detail__images-list">
					
					<div class="ol-product-content-detail__images-list-single">
	                    <figure class="ol-product-content-detail__images-list-single-figure" data-src="images/p1.png">
	                        <img src="images/p1.png" alt="" title="">
	                    </figure>
	                    <figure class="ol-product-content-detail__images-list-single-figure" data-src="images/p2.png">
	                        <img src="images/p2.png" alt="" title="">
	                    </figure>
	                    <figure class="ol-product-content-detail__images-list-single-figure" data-src="images/p3.png">
	                        <img src="images/p3.png" alt="" title="">
	                    </figure>
	                    <figure class="ol-product-content-detail__images-list-single-figure" data-src="images/p4.jpg">
	                        <img src="images/p4.jpg" alt="" title="">
	                    </figure>
	                    <figure class="ol-product-content-detail__images-list-single-figure" data-src="images/p5.jpg">
	                        <img src="images/p5.jpg" alt="" title="">
	                    </figure>
	            	</div>
		            <div class="ol-product-content-detail__images-list-group">
		                <figure class="ol-product-content-detail__images-list-group-figure">
		                    <img src="images/p1.png" alt="" title="">
		                </figure>
		                <figure class="ol-product-content-detail__images-list-group-figure">
		                    <img src="images/p2.png" alt="" title="">
		                </figure>
		                <figure class="ol-product-content-detail__images-list-group-figure">
		                    <img src="images/p3.png" alt="" title="">
		                </figure>
		                <figure class="ol-product-content-detail__images-list-group-figure">
		                    <img src="images/p4.jpg" alt="" title="">
		                </figure>
		                <figure class="ol-product-content-detail__images-list-group-figure">
		                    <img src="images/p5.jpg" alt="" title="">
		                </figure>
		            </div>

				</div>
			</div>

			<div class="ol-product-content-detail__desc">
				<h3 class="ol-home-product__content-item-list--item-title">
					White Table
				</h3>

				<p class="ol-home-product__content-item-list--item-text">Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet.</p>

				<div class="ol-home-product__content-item-list--item-price">
					<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
					<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
					</small>
					<i class="ol-home-product__content-item-list--item-price-discount-label">30% OFF</i>
				</div>

				<div class="ol-product-content-detail__desc-spec">

					<div>
						<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Tipe <i class="ol-fa fas fa-angle-down"></i></h4>
						<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
							<div>
								<a href="" class="ol-product-content-detail__desc-spec-text-type active">ONE SEATER</a>
								<a href="" class="ol-product-content-detail__desc-spec-text-type">TWO SEATER</a>
								<a href="" class="ol-product-content-detail__desc-spec-text-type">THREE SEATER</a>
							</div>
						</div>
					</div>
					<div>
						<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">WARNA <i class="ol-fa fas fa-angle-down"></i></h4>
						<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
							<div>
								<a href="" class="ol-product-content__sidebar-item-list-item-color active" style="background-color:#1abc9c"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#2ecc71"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#3498db"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#9b59b6"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#f1c40f"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#e67e22"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#e74c3c"></a>
							</div>
							<p class="">Warna : Tosca</p>
						</div>
					</div>
					<div>
						<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">DIMENSI  <i class="ol-fa fas fa-angle-down"></i></h4>
						<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
							<dl>
								<dt>Ukuran Kemasan</dt>
								<dd>150cm x 150cm x 150cm</dd>
								<dt>Ukuran Kemasan</dt>
								<dd>150cm x 150cm x 150cm</dd>
								<dt>Ukuran Kemasan</dt>
								<dd>150cm x 150cm x 150cm</dd>
								<dt>Ukuran Kemasan</dt>
								<dd>150cm x 150cm x 150cm</dd>
							</dl>
						</div>
					</div>
					<div>
						<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">MATERIAL <i class="ol-fa fas fa-angle-down"></i></h4>
						<div class="ol-product-content-detail__desc-spec-text" style="display:none;">
							<div>
								Lorem ipsum dolor
							</div>
						</div>
					</div>
					<div class="ol-product-content-detail__action">
						<!-- <div class="ol-input-qty">
							<span class="ol-input-qty__btn">-</span>
							<input type="text" name="" class="ol-input" value="1">
							<span class="ol-input-qty__btn">+</span>
						</div> -->
						<a href="cart.html" class="ol-btn"><i class="fas fa-shopping-cart ol-fa"></i> Masukkan Keranjang</a>
					</div>
				</div>

			</div>

		</div>


		<div class="ol-product-content ol-product-content-detail">


			<nav class="ol-product-content-detail__nav">
				<a onclick="changeDet(this, 1)" class="ol-product-content-detail__nav-link active">Deskripsi</a>
				<a onclick="changeDet(this, 2)" class="ol-product-content-detail__nav-link">Ulasan (328)</a>
				<a onclick="changeDet(this, 3)" class="ol-product-content-detail__nav-link">Informasi Tambahan</a>
			</nav>

			<div class="ol-product-content-detail__list">
			
				<div id="detail1" class="ol-product-content-detail__list-item ol-product-content-detail__list-item--desc show">

					<p class="ol-product-content-detail__list-item-text">Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>


					<figure class="ol-product-content-detail__list-item-figure">
						<img src="images/og-suasana.jpg" alt="" title="">
					</figure>
					<figure class="ol-product-content-detail__list-item-figure">
						<img src="images/og-hero.jpg" alt="" title="">
					</figure>
					<figure class="ol-product-content-detail__list-item-figure">
						<img src="images/og-suasana.jpg" alt="" title="">
					</figure>

				</div>

				<div id="detail2" class="ol-product-content-detail__list-item ol-product-content-detail__list-item--review">

					<ul class="ol-product-content-detail__list-item--review-list">
						<li>
							<div class="ol-product-content-detail__list-item--review-list-box add-fix">
								<figure>
									<img src="images/og-testi1.png" alt="" title="">
								</figure>
								<h4>Lusi</h4>
								<div class="ol-home-review__list-item-desc-star">
									<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--off"></i>
						<i class="fas fa-star far--off"></i>
						<i class="fas fa-star far--off"></i>
								</div>
								<span>Warna : Abu - abu</span>
							</div>
							<p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
							<div class="ol-product-content-detail__list-item--review-list-images add-fix">
								<figure>
									<a href="#" target="_blank">
										<img src="images/og-testi1.png" alt="" title="">
									</a>
								</figure>
								<figure>
									<a href="#" target="_blank">
										<img src="images/og-testi1.png" alt="" title="">
									</a>
								</figure>
								<figure>
									<a href="#" target="_blank">
										<img src="images/og-testi1.png" alt="" title="">
									</a>
								</figure>
							</div>

						</li>
						<li>
							<div class="ol-product-content-detail__list-item--review-list-box add-fix">
								<figure>
									<img src="images/og-testi1.png" alt="" title="">
								</figure>
								<h4>Lusi</h4>
								<div class="ol-home-review__list-item-desc-star">
									<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--off"></i>
						<i class="fas fa-star far--off"></i>
						<i class="fas fa-star far--off"></i>
								</div>
								<span>Warna : Abu - abu</span>
							</div>
							<p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>

						</li>
						<li>
							<div class="ol-product-content-detail__list-item--review-list-box add-fix">
								<figure>
									<img src="images/og-testi1.png" alt="" title="">
								</figure>
								<h4>Lusi</h4>
								<div class="ol-home-review__list-item-desc-star">
									<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--on"></i>
						<i class="fas fa-star far--off"></i>
						<i class="fas fa-star far--off"></i>
						<i class="fas fa-star far--off"></i>
								</div>
								<span>Warna : Abu - abu</span>
							</div>
							<p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
							<div class="ol-product-content-detail__list-item--review-list-images add-fix">
								<figure>
									<a href="#" target="_blank">
										<img src="images/og-testi2.png" alt="" title="">
									</a>
								</figure>
								<figure>
									<a href="#" target="_blank">
										<img src="images/og-testi2.png" alt="" title="">
									</a>
								</figure>
								<figure>
									<a href="#" target="_blank">
										<img src="images/og-testi2.png" alt="" title="">
									</a>
								</figure>
							</div>

						</li>
					</ul>

					<div class="ol-paging">
						<a href="#" class="ol-paging__link">&laquo;</a>
						<a href="#" class="ol-paging__link">1</a>
						<a href="#" class="ol-paging__link">2</a>
						<a href="#" class="ol-paging__link active">3</a>
						<a href="#" class="ol-paging__link">&raquo;</a>
					</div>

				</div>

				<div id="detail3" class="ol-product-content-detail__list-item ol-product-content-detail__list-item--info">

					<p class="ol-product-content-detail__list-item-text">Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>

					<dl class="ol-product-content-detail__list-item--info-list">
						<dt>ASIN</dt>
						<dd>
							Lorem ipsum dolor sit amet ipsum dolor
						</dd>

						<dt>ASIN</dt>
						<dd>
							Lorem ipsum dolor sit amet ipsum dolor
						</dd>

						<dt>ASIN</dt>
						<dd>
							Lorem ipsum dolor sit amet ipsum dolor
						</dd>
					</dl>

				</div>

			</div>


		</div>


		<div class="ol-product-content ol-product-related add-fix">

			<h2 class="ol-section-title">
				PRODUK <span>TERKAIT</span>
			</h2>

			<div class="ol-product-content__center-list">

				<div class="ol-home-product__content-item-list--item">

							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="product-detail.html">
									<img src="images/og-cat1.png" alt="" title="">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="product-detail.html">White Table</a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat2.png" alt="" title="">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">White Table</a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
							<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
							</small>
						</div>

						<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat1.png" alt="" title="">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">White Table</a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
							<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
							</small>
						</div>

						<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat1.png" alt="" title="">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">White Table</a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
							</small>
						</div>

					</div>

					<div class="ol-home-product__content-item-list--item">

						<figure class="ol-home-product__content-item-list--item-figure">
							<a href="product-detail.html">
								<img src="images/og-cat1.png" alt="" title="">
							</a>
						</figure>

						<h3 class="ol-home-product__content-item-list--item-title">
							<a href="product-detail.html">White Table</a>
						</h3>

						<div class="ol-home-product__content-item-list--item-price">
							<small class="ol-home-product__content-item-list--item-price-nodiscount">Rp 900.000
							</small>
						</div>

					</div>

			</div>

		</div>

	</div>
</section>



@@include('./_components/end-html.html')
