@@include('./_components/start-html.html')


<!-- Code Here -->

<section class="ol-hero-page">

	<figure class="ol-hero-page__figure">
		<img src="images/og-hero.jpg" alt="" title="">
	</figure>

</section>


<section class="ol-section ol-product ol-compare">
	<div class="ol-wrapper ol-wrapper--large">

		<div class="ol-breadcrumb">
			<a href="#" class="ol-breadcrumb__link">Home</a> >
			<a href="#" class="ol-breadcrumb__link">Kategori</a> >
			<a href="#" class="ol-breadcrumb__link">Sofa</a>
		</div>

		<div class="ol-branch__search ol-wrapper ol-wrapper--small">
			<h4 class="ol-branch__search-label">Bandingkan Produk</h4>
			<div class="ol-hero-page--inspiration-searchbar__form">
				<form action="product-compare-search.html">
					<input type="text" name="" class="ol-hero-page--inspiration-searchbar__form-input" placeholder="Cari produk untuk dibandingkan"><button class="ol-hero-page--inspiration-searchbar__form-btn">
						<i class="ol-fa fas fa-search"></i>
					</button>
				</form>
				<div class="ol-hero-page--inspiration-searchbar__form-suggest">
					<div class="ol-hero-page--inspiration-searchbar__form-suggest-item">


						<div class="ol-hero-page--inspiration-searchbar__form-suggest-item-product">
							<figure>
								<img src="images/og-cat1.png" alt="" title="">
							</figure>
							<h3>Benjara Polyster</h3>
						</div>


						<label class="ol-product-content__sidebar-item-list-item-link">

							<input class="ol-input--radio-check" name="category" value="1" type="checkbox">


							<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

						</label>

					</div>
					<div class="ol-hero-page--inspiration-searchbar__form-suggest-item">
						<div class="ol-hero-page--inspiration-searchbar__form-suggest-item-product">
							<figure>
								<img src="images/og-cat1.png" alt="" title="">
							</figure>
							<h3>Benjara Polyster</h3>
						</div>

						<label class="ol-product-content__sidebar-item-list-item-link">

							<input class="ol-input--radio-check" name="category" value="1" type="checkbox">


							<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

						</label>
					</div>
					<div class="ol-hero-page--inspiration-searchbar__form-suggest-item">
						<div class="ol-hero-page--inspiration-searchbar__form-suggest-item-product">
							<figure>
								<img src="images/og-cat1.png" alt="" title="">
							</figure>
							<h3>Benjara Polyster</h3>
						</div>

						<label class="ol-product-content__sidebar-item-list-item-link">

							<input class="ol-input--radio-check" name="category" value="1" type="checkbox">


							<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

						</label>
					</div>
				</div>
			</div>
		</div>


		<div class="ol-compare__content ol-wrapper ol-wrapper--small">
			<div class="ol-compare__content-new">
				<a href="product-compare-search.html">
					BUAT PERBANDINGAN BARU <i class="ol-fa fas fa-retweet"></i>
				</a>
			</div>

			<div class="ol-compare__content-list">
				<div class="ol-compare__content-list-item">
					<div class="ol-compare__content-list-item-wrapper">
						<div class="ol-compare__content-list-item-prd">
							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="product-detail.html">
									<img src="images/og-cat4.png" alt="" title="" class="img-default">
										<img src="images/og-cat3.png" alt="" title="" class="img-hover">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="product-detail.html">Red Green Blue White Table </a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>
						</div>
					</div>

					<div class="ol-compare__content-list-item-wrapper">
						<div class="ol-compare__content-list-item-prd">
							<figure class="ol-home-product__content-item-list--item-figure">
								<a href="product-detail.html">
									<img src="images/og-cat4.png" alt="" title="" class="img-default">
										<img src="images/og-cat3.png" alt="" title="" class="img-hover">
								</a>
							</figure>

							<h3 class="ol-home-product__content-item-list--item-title">
								<a href="product-detail.html">Red Green Blue White Table </a>
							</h3>

							<div class="ol-home-product__content-item-list--item-price">
								<span class="ol-home-product__content-item-list--item-price-real">Rp 1.000.000</span>
								<small class="ol-home-product__content-item-list--item-price-discount">Rp 900.000
								</small>
							</div>

							<span class="ol-home-product__content-item-list--item-discount">26%<br>OFF</span>
						</div>
					</div>
				</div>

				<div class="ol-compare__content-list-item">


					<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Tipe <i class="ol-fa fas fa-angle-down"></i></h4>
					<div class="ol-product-content-detail__desc-spec-text add-fix" style="display:none;">
						<div class="ol-compare__content-list-item-wrapper">
							<div>
								<a href="" class="ol-product-content-detail__desc-spec-text-type">ONE SEATER</a>
								<a href="" class="ol-product-content-detail__desc-spec-text-type">TWO SEATER</a>
								<a href="" class="ol-product-content-detail__desc-spec-text-type">THREE SEATER</a>
							</div>
						</div>

						<div class="ol-compare__content-list-item-wrapper">
							<div>
								<a href="" class="ol-product-content-detail__desc-spec-text-type">ONE SEATER</a>
								<a href="" class="ol-product-content-detail__desc-spec-text-type">TWO SEATER</a>
								<a href="" class="ol-product-content-detail__desc-spec-text-type">THREE SEATER</a>
							</div>
						</div>
					</div>
				</div>

				<div class="ol-compare__content-list-item">


					<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Color <i class="ol-fa fas fa-angle-down"></i></h4>
					<div class="ol-product-content-detail__desc-spec-text add-fix" style="display:none;">
						<div class="ol-compare__content-list-item-wrapper">
							<div>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#1abc9c"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#2ecc71"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#3498db"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#9b59b6"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#f1c40f"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#e67e22"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#e74c3c"></a>
							</div>
							
						</div>

						<div class="ol-compare__content-list-item-wrapper">
							<div>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#1abc9c"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#2ecc71"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#3498db"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#9b59b6"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#f1c40f"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#e67e22"></a>
								<a href="" class="ol-product-content__sidebar-item-list-item-color" style="background-color:#e74c3c"></a>
							</div>
							
						</div>
					</div>
				</div>


				<div class="ol-compare__content-list-item">


					<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Dimensi <i class="ol-fa fas fa-angle-down"></i></h4>
					<div class="ol-product-content-detail__desc-spec-text add-fix" style="display:none;">
						<div class="ol-compare__content-list-item-wrapper">
							<dl>
								<dt>Ukuran Kemasan</dt>
								<dd>150cm x 150cm x 150cm</dd>
								<dt>Ukuran Kemasan</dt>
								<dd>150cm x 150cm x 150cm</dd>
								<dt>Ukuran Kemasan</dt>
								<dd>150cm x 150cm x 150cm</dd>
								<dt>Ukuran Kemasan</dt>
								<dd>150cm x 150cm x 150cm</dd>
							</dl>
						</div>

						<div class="ol-compare__content-list-item-wrapper">
							<dl>
								<dt>Ukuran Kemasan</dt>
								<dd>150cm x 150cm x 150cm</dd>
								<dt>Ukuran Kemasan</dt>
								<dd>150cm x 150cm x 150cm</dd>
								<dt>Ukuran Kemasan</dt>
								<dd>150cm x 150cm x 150cm</dd>
								<dt>Ukuran Kemasan</dt>
								<dd>150cm x 150cm x 150cm</dd>
							</dl>
						</div>
					</div>
				</div>


				<div class="ol-compare__content-list-item">


					<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Material <i class="ol-fa fas fa-angle-down"></i></h4>
					<div class="ol-product-content-detail__desc-spec-text add-fix" style="display:none;">
						<div class="ol-compare__content-list-item-wrapper">
							<div>
								Lorem ipsum dolor
							</div>
						</div>

						<div class="ol-compare__content-list-item-wrapper">
							<div>
								Lorem ipsum dolor
							</div>
						</div>
					</div>
				</div>


				<div class="ol-compare__content-list-item">


					<h4 class="ol-product-content-detail__desc-spec-title" onclick="showDetail(this)">Nilai <i class="ol-fa fas fa-angle-down"></i></h4>
					<div class="ol-product-content-detail__desc-spec-text add-fix" style="display:none;">
						<div class="ol-compare__content-list-item-wrapper">
							<div>
								<div class="ol-home-review__list-item-desc-star">
									<i class="fas fa-star far--on"></i>
									<i class="fas fa-star far--on"></i>
									<i class="fas fa-star far--off"></i>
									<i class="fas fa-star far--off"></i>
									<i class="fas fa-star far--off"></i>
								</div>
							</div>
						</div>

						<div class="ol-compare__content-list-item-wrapper">
							<div>
								<div class="ol-home-review__list-item-desc-star">
									<i class="fas fa-star far--on"></i>
									<i class="fas fa-star far--on"></i>
									<i class="fas fa-star far--off"></i>
									<i class="fas fa-star far--off"></i>
									<i class="fas fa-star far--off"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>



@@include('./_components/end-html.html')
