@@include('./_components/start-checkout.html')


<!-- Code Here -->

<section class="ol-section ol-checkout">
	<div class="ol-wrapper ol-wrapper--small">
		

		<h2 class="ol-section-title">Checkout</h2>

		<div class="ol-checkout-step">
			<div class="ol-checkout-step__item ol-checkout-step__item--progress">
				<div><i class="ol-fa fas fa-check"></i></div>
				<span>Profil</span>
			</div>
			<div class="ol-checkout-step__item">
				<div><i class="ol-fa fas fa-truck"></i></div>
				<span>Pengiriman Pesanan</span>
			</div>
			<div class="ol-checkout-step__item">
				<div><i class="ol-fa fas fa-clipboard-list"></i></div>
				<span>Ulasan Pesanan</span>
			</div>
			<div class="ol-checkout-step__item">
				<div><i class="ol-fa far fa-credit-card"></i></div>
				<span>Metode Pembayaran</span>
			</div>
		</div>

		<div class="ol-checkout-content">
			<div class="ol-checkout-content__profile">
				<div class="ol-checkout-content__profile-item">
					<lable class="ol-input-label">Email/Nomor Telepon</lable>
					<input type="text" name="" class="ol-input">
					<label class="ol-product-content__sidebar-item-list-item-link">

						<input class="ol-input--radio-check" name="category" value="1" type="checkbox">

							Setuju dengan <a href="snk.html" target="_blank">Syarat & Ketentuan</a>

						<i class="ol-input--radio-checkmark dt-input--radio-checkmark--radio"></i>

					</label>
				</div>
				<div class="ol-checkout-content__profile-item">
					<lable class="ol-input-label">Atau</lable>
					<a href="#" class="ol-btn ol-btn--secondary"><i class="ol-fa fab fa-google"></i> Login dengan Google</a>
					<a href="#" class="ol-btn ol-btn--secondary"><i class="ol-fa fab fa-facebook-f"></i> Login dengan Facebook</a>
				</div>
			</div>
		</div>

		<div class="ol-checkout-nav">
			<a href="cart.html" class="ol-btn ol-btn--secondary"><i class="ol-fa fas fa-arrow-left"></i> Kembali</a>
			<a href="checkout.html" class="ol-btn">Selanjutnya <i class="ol-fa fas fa-arrow-right"></i></a>
		</div>

	</div>
</section>



@@include('./_components/end-checkout.html')
