<a href="#" class="ol-totop"><i class="ol-fa fas fa-arrow-up"></i></a>


<!-- ol-additional -->
<section class="ol-additional">

	<div class="ol-wrapper ol-wrapper--large add-fix">

		<div class="ol-additional__item ol-additional__payment">
			<h2 class="ol-additional__title">PEMBAYARAN</h2>
			<div class="ol-additional__payment-ico">
				<img src="images/og-bank.png" alt="" title="">
			</div>
		</div>

		<div class="ol-additional__item ol-additional__app">
			<h2 class="ol-additional__title">DOWNLOAD APLIKASI</h2>
			<div class="ol-additional__app-list">
				<a href="#" target="_blank" class="ol-additional__app-list-download">
					<img src="images/og-google-play.png" alt="" title="">
				</a>

				<a href="#" target="_blank" class="ol-additional__app-list-download">
					<img src="images/og-app-store.png" alt="" title="">
				</a>
			</div>
		</div>

	</div>

</section>
<!-- /ol-additional -->


<!-- ol-footer -->
<footer class="ol-footer">
	<div class="ol-wrapper ol-wrapper--large">

		<!-- ol-footer__list -->
		<div class="ol-footer__list add-fix">

			<!-- ol-footer__list-item -->
			<div class="ol-footer__list-item">
				<div class="ol-footer__list-item-wrapper">

					<h4 class="ol-footer__list-item-title">
						INFORMASI
					</h4>

					<!-- ol-footer__list-item-menu -->
					<nav class="ol-footer__list-item-menu">
						<a href="about.html">Tentang Kami</a>
						<a href="snk.html">Kebijakan RumaKamu</a>
						<a href="policy.html">Kebijakan Privasi</a>
						<a href="policy.html">Kebijakan Pengiriman</a>
						<a href="policy.html">Kebijakan Pengembalian</a>
						<a href="snk.html">Syarat & Ketentuan</a>
						<a href="career.html">Karir</a>
					</nav>
					<!-- /ol-footer__list-item-menu -->

				</div>
			</div>
			<!-- /ol-footer__list-item -->

			<!-- ol-footer__list-item -->
			<div class="ol-footer__list-item">
				<div class="ol-footer__list-item-wrapper">

					<h4 class="ol-footer__list-item-title">
						LAYANAN PELANGGAN
					</h4>

					<!-- ol-footer__list-item-menu -->
					<nav class="ol-footer__list-item-menu">
						<a href="help.html">Bantuan</a>
						<a href="faq.html">FAQ</a>
						<a href="#">After Sale Service</a>
					</nav>
					<!-- /ol-footer__list-item-menu -->

				</div>
			</div>
			<!-- /ol-footer__list-item -->

			<!-- ol-footer__list-item -->
			<div class="ol-footer__list-item">
				<div class="ol-footer__list-item-wrapper">

					<h4 class="ol-footer__list-item-title">
						LAYANAN MITRA
					</h4>

					<!-- ol-footer__list-item-menu -->
					<nav class="ol-footer__list-item-menu">
						<a href="#">FAQ Mitra</a>
						<a href="#">Bantuan Mitra</a>
						<a href="#">Menjadi Mitra</a>
					</nav>
					<!-- /ol-footer__list-item-menu -->

				</div>
			</div>
			<!-- /ol-footer__list-item -->

			<!-- ol-footer__list-item -->
			<div class="ol-footer__list-item">
				<div class="ol-footer__list-item-wrapper">

					<h4 class="ol-footer__list-item-title">
						HUBUNGI KAMI
					</h4>

					<div class="ol-footer__list-item-menu ol-footer__list-item-contact">
						<ul>
							<li>
								<a href="branch.html"><i class="ol-fa fas fa-map-marker-alt"></i> Lokasi Toko</a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="ol-fa far fa-envelope"></i> halo@rumakamu.co.id</a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="ol-fa fas fa-phone"></i></i> 031 - 93472323</a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="ol-fa fab fa-whatsapp"></i> 0856 1234 5678</a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="ol-fa fab fa-instagram"></i> @rumakamu</a>
							</li>
						</ul>
						<div>
							<p>Jam Operasional :</p>
							<p>08.00 - 22.00 WIB</p>
							<p>Senin - Minggu</p>
						</div>
					</div>

					<!-- <div class="ol-footer__list-item-map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126629.17828534111!2d112.71350278006963!3d-7.335716693906229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fe8ed91f8ca1%3A0x6214dfafec937d74!2sOlympic%20Furniture!5e0!3m2!1sid!2sid!4v1577329707157!5m2!1sid!2sid" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
					</div> -->

				</div>
			</div>
			<!-- /ol-footer__list-item -->

		</div>
		<!-- /ol-footer__list -->

		<div class="ol-footer__copyright">
			<img src="images/rumakamu.png" alt="RumaKamu" title="RumaKamu"> &copy; 2019. Hak Cipta Dilindungi
		</div>

	</div>
</footer>
<!-- /ol-footer -->


<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/slick/slick.min.js"></script>
<script type="text/javascript" charset="utf8" src="js/select2/js/select2.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>