<a href="#" class="ol-totop"><i class="ol-fa fas fa-arrow-up"></i></a>


<footer class="ol-footer-checkout">
	<div class="ol-wrapper ol-wrapper--small">
		<nav class="ol-footer-checkout__nav">
			<a href="snk.html" target="_blank">Syarat dan Ketentuan</a> |
			<a href="send-detail.html" target="_blank">Detail Pengiriman</a> |
			<a href="faq.html" target="_blank">FAQ</a> |
			<a href="privacy-retur.html" target="_blank">Kebijakan Pengembalian</a>
		</nav>

		<div class="ol-footer-checkout__copyright">
			<img src="images/rumakamu.png" alt="RumaKamu" title="RumaKamu"> &copy; 2019. Hak Cipta Dilindungi
		</div>
	</div>
</footer>


<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/script.js"></script>


</body>
</html>